Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Update to latest GFA version and govuk-frontend 4.6.0 (#806)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TagHelpers/FormNovalidateTagHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/libman.json
Due: dotnet-format

Remove PAAS dev environment
  .github/workflows/database-copy.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/restore-paas-db-to-aks.yml
  README.md
  terraform/paas/workspace_variables/dev.backend.tfvars
  terraform/paas/workspace_variables/dev.tfvars.json
Due: none

Remove PAAS dev environment (#808)
  .github/workflows/database-copy.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/restore-paas-db-to-aks.yml
  README.md
  terraform/paas/workspace_variables/dev.backend.tfvars
  terraform/paas/workspace_variables/dev.tfvars.json
Due: none

Fix retrieving integration test secrets
  .github/workflows/pr.yml
Due: none

Add custom domains configuration
  .gitignore
  Makefile
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/config/dev.tfvars.json
  terraform/domains/environment_domains/config/dev_Terrafile
  terraform/domains/environment_domains/config/dev_backend.tfvars
  terraform/domains/environment_domains/config/pre-production.tfvars.json
  terraform/domains/environment_domains/config/pre-production_Terrafile
  terraform/domains/environment_domains/config/pre-production_backend.tfvars
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/production_Terrafile
  terraform/domains/environment_domains/config/production_backend.tfvars
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/config/test_Terrafile
  terraform/domains/environment_domains/config/test_backend.tfvars
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/environment_domains/variables.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/config/trs.tfvars.json
  terraform/domains/infrastructure/config/trs_Terrafile
  terraform/domains/infrastructure/main.tf
  terraform/domains/infrastructure/terraform.tf
  terraform/domains/infrastructure/variables.tf
  terraform/paas/.terraform.lock.hcl
Due: tf-format

Add custom domains configuration (#742)
  .gitignore
  Makefile
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/config/dev.tfvars.json
  terraform/domains/environment_domains/config/dev_Terrafile
  terraform/domains/environment_domains/config/dev_backend.tfvars
  terraform/domains/environment_domains/config/pre-production.tfvars.json
  terraform/domains/environment_domains/config/pre-production_Terrafile
  terraform/domains/environment_domains/config/pre-production_backend.tfvars
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/production_Terrafile
  terraform/domains/environment_domains/config/production_backend.tfvars
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/config/test_Terrafile
  terraform/domains/environment_domains/config/test_backend.tfvars
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/environment_domains/variables.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/config/trs.tfvars.json
  terraform/domains/infrastructure/config/trs_Terrafile
  terraform/domains/infrastructure/main.tf
  terraform/domains/infrastructure/terraform.tf
  terraform/domains/infrastructure/variables.tf
  terraform/paas/.terraform.lock.hcl
Due: tf-format

Added support for updating pii on the update endpoint & setting allowpiiupdatesfromregister on create teacher endpoint
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/UpdateTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Requests/UpdateTeacherRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Validators/UpdateTeacherValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.CreateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.UpdateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/UpdateTeacherCommand.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/UpdateTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/UpdateTeacherTests.cs
  crm_attributes.json
Due: dotnet-format

Added support for updating pii on the update endpoint & setting allow… (#730)
  .github/workflows/pr.yml
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/UpdateTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Requests/UpdateTeacherRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Validators/UpdateTeacherValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.CreateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.UpdateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/UpdateTeacherCommand.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/UpdateTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/UpdateTeacherTests.cs
  crm_attributes.json
Due: dotnet-format

Add confirm deploy ci
  Makefile
Due: none

Add confirm deploy ci (#811)
  Makefile
Due: none

Point dev domain at the AKS environment
  terraform/domains/environment_domains/config/dev.tfvars.json
Due: none

Point dev domain at the AKS environment (#810)
  terraform/domains/environment_domains/config/dev.tfvars.json
Due: none

Migrate test domain from paas to AKS
  terraform/domains/environment_domains/config/test.tfvars.json
Due: none

Set default value for null_host_header
  terraform/domains/environment_domains/variables.tf
Due: tf-format

[634] Migrate test domain from paas to AKS (#812)
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/variables.tf
Due: tf-format

Migrate test environment to AKS
  .github/workflows/database-copy.yml
  .github/workflows/deploy-test.yml
  .github/workflows/restore-paas-db-to-aks.yml
  README.md
  terraform/aks/workspace_variables/test.tfvars.json
  terraform/paas/workspace_variables/test.backend.tfvars
  terraform/paas/workspace_variables/test.tfvars.json
Due: none

Migrate test environment to AKS (#813)
  .github/workflows/database-copy.yml
  .github/workflows/deploy-test.yml
  .github/workflows/restore-paas-db-to-aks.yml
  README.md
  terraform/aks/workspace_variables/test.tfvars.json
  terraform/paas/workspace_variables/test.backend.tfvars
  terraform/paas/workspace_variables/test.tfvars.json
Due: none

Add a /_readonlymode endpoint
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
Due: dotnet-format

Add a /_readonlymode endpoint (#818)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
Due: dotnet-format

A few tweaks after PR comments
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/IndexTests.cs
Due: dotnet-format

got search by names working and styling more like MOJ search
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactsByNameQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactsByNamesQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByNameHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByNamesHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
Due: dotnet-format

Added paging to search results and tidied up UI
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactsByDateOfBirthQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactsByNameQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByDateOfBirthHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByNameHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
Due: dotnet-format

Add tests for person/contact search
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactsByNameQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetContactsByDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetContactsByNameTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreatePerson.cs
Due: dotnet-format

Removed unused variable
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetContactsByDateOfBirthTests.cs
Due: dotnet-format

Added CRM queries to search for contacts by names or date of birth
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactsByDateOfBirthQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactsByNamesQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByDateOfBirthHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByNamesHandler.cs
Due: dotnet-format

Add ability to search contacts by name dob or trn (#817)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactsByDateOfBirthQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactsByNameQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByDateOfBirthHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByNameHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetContactsByDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetContactsByNameTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreatePerson.cs
Due: dotnet-format

Migrate preproduction domain from PaaS to AKS
  terraform/domains/environment_domains/config/pre-production.tfvars.json
Due: none

Migrate preproduction domain from PaaS to AKS (#821)
  terraform/domains/environment_domains/config/pre-production.tfvars.json
Due: none

Migrate pre-prod environment to AKS
  .github/workflows/database-copy.yml
  .github/workflows/deploy-test.yml
  .github/workflows/restore-paas-db-to-aks.yml
  README.md
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/paas/workspace_variables/pre-production.backend.tfvars
  terraform/paas/workspace_variables/pre-production.tfvars.json
Due: none

Migrate pre-prod environment to AKS (#822)
  .github/workflows/database-copy.yml
  .github/workflows/deploy-test.yml
  .github/workflows/restore-paas-db-to-aks.yml
  README.md
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/paas/workspace_variables/pre-production.backend.tfvars
  terraform/paas/workspace_variables/pre-production.tfvars.json
Due: none

Fix pre-production deployment
  .github/workflows/deploy-preprod.yml
Due: none

Fix pre-production deployment (#823)
  .github/workflows/deploy-preprod.yml
Due: none

Added new columns to account introduced by evergreen update wave2 2023 update
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0008_EvergreenMissingColumns.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Added new columns to account introduced by evergreen update wave2 2023 update (#824)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0008_EvergreenMissingColumns.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Add missing columns to contact for evergreen update
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0009_EvergreenMissingColumns2.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Add missing columns to contact for evergreen update (#825)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0009_EvergreenMissingColumns2.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Amended to run tests for both change of name and change of date of birth scenarios
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/CaseTests.cs
Due: dotnet-format

Added End to End tests for acceepting / rejecting / cancelling cases
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/CaseTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TestBase.cs
Due: dotnet-format

Added test class
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/CaseTests.cs
Due: dotnet-format
