Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Add workload identity federation to TRA namespaces
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
  terraform/aks/workspace_variables/dv_review.tfvars.json
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/aks/workspace_variables/production.tfvars.json
  terraform/aks/workspace_variables/test.tfvars.json
Due: tf-format

Add workload identity federation to namespaces
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
  terraform/aks/workspace_variables/dv_review.tfvars.json
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/aks/workspace_variables/production.tfvars.json
  terraform/aks/workspace_variables/test.tfvars.json
Due: tf-format

Add workflow to create dbml file
  .github/workflows/dbml.yml
Due: none

Add workflow to create dbml file (#1421)
  .github/workflows/dbml.yml
Due: none

Fix date parsing on person search for deployment environments
  TeachingRecordSystem/Directory.Build.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/CoreConstants.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
Due: dotnet-format

added new data model decision record to support ERD changes
  docs/adr/data-model-decisions.md
Due: none

Fix date parsing on person search for deployment environments (#1422)
  TeachingRecordSystem/Directory.Build.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/CoreConstants.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
Due: dotnet-format

added new data model decision record to support ERD changes (#1423)
  docs/adr/data-model-decisions.md
Due: none

Add deceased API spec
  docs/api-designs/deceased.md
Due: none

Add deceased API spec (#1426)
  docs/api-designs/deceased.md
Due: none

Tweak error response status code when TRN doesn't exist
  docs/api-designs/deceased.md
Due: none

Tweak error response status code when TRN doesn't exist (#1427)
  docs/api-designs/deceased.md
Due: none

Remove a couple of field names from the redacted list
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/UrlRedactor.cs
Due: dotnet-format

Remove a couple of field names from the redacted list (#1428)
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/UrlRedactor.cs
Due: dotnet-format

Update Sentry libraries
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update Sentry libraries (#1433)
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update Dataverse libraries
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update Dataverse libraries (#1432)
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update webhook spec for CloudEvents
  docs/api-designs/webhooks.md
Due: none

Update webhook spec for CloudEvents (#1436)
  docs/api-designs/webhooks.md
Due: none

Update Swashbuckle libraries
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update Swashbuckle libraries (#1434)
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update Hangfire
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update Hangfire (#1430)
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update EFCore.NamingConventions
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update EFCore.NamingConventions (#1429)
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update ASP.NET Core and Extensions libraries
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update ASP.NET Core and Extensions libraries (#1431)
  TeachingRecordSystem/Directory.Packages.props
Due: none

Added userful workforce data queries to docs
  docs/workforce-data-import/useful-queries.md
Due: none

Added useful workforce data queries to docs (#1418)
  docs/workforce-data-import/useful-queries.md
Due: none

Use tag helper for start button
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Index.cshtml
Due: none

Use tag helper for start button (#1419)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Index.cshtml
Due: none

Add missing end tag
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/_ErrorLayout.cshtml
Due: none

Add missing end tag (#1420)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/_ErrorLayout.cshtml
Due: none

Update statuscake contact group
  terraform/aks/monitoring.tf
Due: tf-format

Update statuscake contact group (#1288)
  terraform/aks/monitoring.tf
Due: tf-format

Use NpgsqlDataSource
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDesignTimeDbContextFactory.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Gias/EstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Tps/TpsEstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonMatching/PersonMatchingServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncServiceFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/WorkforceData/TpsCsvExtractProcessorTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format

Use NpgsqlDataSource (#1442)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDesignTimeDbContextFactory.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Gias/EstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Tps/TpsEstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonMatching/PersonMatchingServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncServiceFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/WorkforceData/TpsCsvExtractProcessorTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format

Fix Hangfire DB connection config
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
Due: dotnet-format

Fix Hangfire DB connection config (#1443)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
Due: dotnet-format
