Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Fix quote on No Roles error page (#773)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/NoRoles.cshtml
Due: none

Add a plugin for generating incident TicketNumbers for tests
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/FakeXrmEasy/Plugins/AssignTicketNumberToIncidentPlugin.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/ServiceCollectionExtensions.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Add a plugin for generating incident TicketNumbers for tests (#777)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/FakeXrmEasy/Plugins/AssignTicketNumberToIncidentPlugin.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/ServiceCollectionExtensions.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Migrate case list UI to new query pattern
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveIncidentsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveIncidentsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetActiveIncidentsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Cases/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateDateOfBirthChangeIncident.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateNameChangeIncident.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Migrate case list UI to new query pattern (#778)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveIncidentsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveIncidentsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetActiveIncidentsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Cases/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateDateOfBirthChangeIncident.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateNameChangeIncident.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Add #nullable disable annotation to generated CRM code
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  scripts/Generate-CrmModels.ps1
Due: dotnet-format

Add #nullable disable annotation to generated CRM code (#779)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  scripts/Generate-CrmModels.ps1
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Endpoints/FindTeachersEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Requests/FindTeachersRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
Due: dotnet-format

Added previous lastname to the v3 find teachers endpoint
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Endpoints/FindTeachersEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Requests/FindTeachersRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/FindTeachersByLastNameAndDateOfBirthTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Amend v3 find to search on lastname & previouslastname (#780)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/FindTeachersByLastNameAndDateOfBirthTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Added new qualification types
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/HeQualificationType.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/HeQualificationType.cs
Due: dotnet-format

Added new qualification types (#759)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/HeQualificationType.cs
Due: dotnet-format

Retry with a smaller page size on InsufficientMemoryException
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/CrmEntityChanges/CrmEntityChangesService.cs
Due: dotnet-format

Retry with a smaller page size on InsufficientMemoryException (#781)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/CrmEntityChanges/CrmEntityChangesService.cs
Due: dotnet-format

Expose configuration for migrating from PAAS to AKS as tfvars
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/aks/workspace_variables/production.tfvars.json
  terraform/aks/workspace_variables/test.tfvars.json
  terraform/paas/app.tf
  terraform/paas/variables.tf
  terraform/paas/workspace_variables/dev.tfvars.json
  terraform/paas/workspace_variables/pre-production.tfvars.json
  terraform/paas/workspace_variables/production.tfvars.json
  terraform/paas/workspace_variables/test.tfvars.json
Due: tf-format

Expose configuration for migrating from PAAS to AKS as tfvars (#783)
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/aks/workspace_variables/production.tfvars.json
  terraform/aks/workspace_variables/test.tfvars.json
  terraform/paas/app.tf
  terraform/paas/variables.tf
  terraform/paas/workspace_variables/dev.tfvars.json
  terraform/paas/workspace_variables/pre-production.tfvars.json
  terraform/paas/workspace_variables/production.tfvars.json
  terraform/paas/workspace_variables/test.tfvars.json
Due: tf-format

Fix config key format for PAAS deployments
  terraform/paas/app.tf
Due: tf-format

Fix config key format for PAAS deployments (#784)
  terraform/paas/app.tf
Due: tf-format

Disable background jobs on test environment
  terraform/paas/workspace_variables/test.tfvars.json
Due: none

Disable background jobs on test environment (#785)
  terraform/paas/workspace_variables/test.tfvars.json
Due: none

Remove FastEndpoints
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/FastEndpoints/Parsers.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/FindTeachersHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Requests/FindTeachersRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Validators/FindTeachersRequestValidator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/FindTeachersTests.cs
Due: dotnet-format

Remove FastEndpoints (#786)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/FastEndpoints/Parsers.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/FindTeachersHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Requests/FindTeachersRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Validators/FindTeachersRequestValidator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/FindTeachersTests.cs
Due: dotnet-format

Add sanction codes to ReferenceDataCache
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetAllSanctionCodesQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetAllSanctionCodesHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetAllSanctionCodesTests.cs
Due: dotnet-format

Add sanction codes to ReferenceDataCache (#787)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetAllSanctionCodesQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetAllSanctionCodesHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetAllSanctionCodesTests.cs
Due: dotnet-format

Small UI tweak
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
Due: none

Re-generated code after rebasing
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

interim checkin so I can rebase
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.GetDocumentById.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.GetIncidentByTicketNumber.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DqtConstants.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Endpoints/CaseEndpoints.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationPolicies.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.css
Due: dotnet-format

Added tests for editing a case
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetDocumentByIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetIncidentByTicketNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Cases/EditCase/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestUsers.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateNameChangeIncident.cs
Due: dotnet-format

Lots of tweaking to get layout right with mutliple documents
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetIncidentByTicketNumberQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetIncidentByTicketNumberHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml.cs
Due: dotnet-format

got basics of rendering evidence images and PDFs working + reworked CRM code to use new query handlers
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetDocumentByIdQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetIncidentByTicketNumberQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetDocumentByIdHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetIncidentByTicketNumberHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Endpoints/CaseEndpoints.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
  crm_attributes.json
Due: dotnet-format

Use authorization polocy for access to Case functionality
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Accept.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Reject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Sorted out links to accept / reject and documents pages
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Endpoints/CaseEndpoints.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Accept.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Accept.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Reject.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Reject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
Due: dotnet-format

Finished off tests for change name / date of birth page
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Cases/EditCase/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateDateOfBirthChangeIncident.cs
Due: dotnet-format

Fixed a few issues from PR comments
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetIncidentByTicketNumberQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetIncidentByTicketNumberHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetDocumentByIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetIncidentByTicketNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Cases/EditCase/IndexTests.cs
Due: dotnet-format

Change of name dob detail page (#790)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DqtConstants.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetDocumentByIdQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetIncidentByTicketNumberQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetDocumentByIdHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetIncidentByTicketNumberHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationPolicies.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Accept.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Accept.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Reject.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Reject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.css
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetDocumentByIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetIncidentByTicketNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Cases/EditCase/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestUsers.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateDateOfBirthChangeIncident.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateNameChangeIncident.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Add support for specifying sanctions on TestData.CreatePerson
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DateTimeExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreatePerson.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Expose sanction start dates on v3 Get Teacher endpoint
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/FindTeachersHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DateTimeExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetSanctionsByContactIdsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetAllSanctionCodesHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetSanctionsByContactIdsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/GetSanctionsByContactIdsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetSanctionsByContactIdsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreatePerson.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/SeedCrmReferenceData.cs
Due: dotnet-format

Expose sanction start dates on v3 Get Teacher endpoint (#791)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/FindTeachersHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DateTimeExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetSanctionsByContactIdsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetAllSanctionCodesHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetSanctionsByContactIdsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/GetSanctionsByContactIdsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetSanctionsByContactIdsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreatePerson.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/SeedCrmReferenceData.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Don't create DbContext until needed
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/CrmEntityChanges/CrmEntityChangesService.cs
Due: dotnet-format
