Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Don't share API models across versions
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/ApiModels/AlertInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/ApiModels/AlertType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/ApiModels/InductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/ApiModels/IttOutcome.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/ApiModels/NameInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/ApiModels/NpqQualificationType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/ApiModels/SanctionInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Requests/GetTeacherRequestIncludes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/ApiModels/AlertInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/ApiModels/AlertType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/ApiModels/InductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/ApiModels/IttOutcome.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/ApiModels/NameInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/ApiModels/NpqQualificationType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/ApiModels/SanctionInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/CreateDateOfBirthChangeResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/CreateNameChangeResponse.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/SchemaTests.cs
Due: dotnet-format

Add check to see if user requesting a TRN is intending to do an NPQ
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Email.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/NotEligible.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/NotEligible.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/NpqCheck.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/NpqCheck.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/RequestTrnJourneyState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/RequestTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/NotEligibleTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/NpqCheckTests.cs
Due: dotnet-format

Added content to page for non NPQ user requesting a TRN
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/NotEligible.cshtml
Due: none

Add check to see if user requesting a TRN is intending to do an NPQ (#1460)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Email.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/NotEligible.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/NotEligible.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/NpqCheck.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/NpqCheck.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/RequestTrnJourneyState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/RequestTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/NotEligibleTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/NpqCheckTests.cs
Due: dotnet-format

Add a source generator to generate versioned DTOs
  TeachingRecordSystem/Directory.Build.props
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/gen/TeachingRecordSystem.Api.Generator/TeachingRecordSystem.Api.Generator.csproj
  TeachingRecordSystem/gen/TeachingRecordSystem.Api.Generator/VersionedDtoGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/GenerateVersionedDtoAttribute.cs
Due: dotnet-format

Use source generator
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Responses/FindTeachersResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Requests/GetTeacherRequestIncludes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/CreateDateOfBirthChangeResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/CreateNameChangeResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/FindPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/GetPersonResponse.cs
Due: dotnet-format

Add a source generator to generate versioned DTOs (#1466)
  TeachingRecordSystem/Directory.Build.props
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/gen/TeachingRecordSystem.Api.Generator/TeachingRecordSystem.Api.Generator.csproj
  TeachingRecordSystem/gen/TeachingRecordSystem.Api.Generator/VersionedDtoGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/GenerateVersionedDtoAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Responses/FindTeachersResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Requests/GetTeacherRequestIncludes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/CreateDateOfBirthChangeResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/CreateNameChangeResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/FindPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/GetPersonResponse.cs
Due: dotnet-format

Remove redundant MQ type on TestData
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
Due: dotnet-format

Remove redundant MQ type on TestData (#1469)
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
Due: dotnet-format

Add bulk person search API endpoint
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonsByTrnAndDateOfBirth.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/EytsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/InductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/InductionStatusInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/QtsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/GetPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/ApiModels/EytsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/ApiModels/InductionStatusInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/ApiModels/QtsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Requests/FindPersonRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Requests/FindPersonsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Responses/FindPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Responses/FindPersonsResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Validators/FindTeacherRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Validators/FindTeachersRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/VersionRegistry.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/PreviousNameHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveContactsByTrnsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveQtsRegistrationsByContactIdsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveContactsByTrnsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveQtsRegistrationsByContactIdsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
Due: dotnet-format

Add bulk person search API (#1468)
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonsByTrnAndDateOfBirth.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/EytsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/InductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/InductionStatusInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/QtsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/GetPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/ApiModels/EytsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/ApiModels/InductionStatusInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/ApiModels/QtsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Requests/FindPersonRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Requests/FindPersonsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Responses/FindPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Responses/FindPersonsResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Validators/FindTeacherRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Validators/FindTeachersRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/VersionRegistry.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/PreviousNameHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveContactsByTrnsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveQtsRegistrationsByContactIdsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveContactsByTrnsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveQtsRegistrationsByContactIdsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
Due: dotnet-format

Handle empty contact IDs array in query
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveQtsRegistrationsByContactIdsHandler.cs
Due: dotnet-format

Handle empty contact IDs array in query (#1470)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveQtsRegistrationsByContactIdsHandler.cs
Due: dotnet-format

Fix off by one error in validator
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Validators/FindTeachersRequestValidator.cs
Due: dotnet-format

Fix off by one error in validator (#1471)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Validators/FindTeachersRequestValidator.cs
Due: dotnet-format

Execute sub queries in parallel for Find operations
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonByLastNameAndDateOfBirth.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonsByTrnAndDateOfBirth.cs
Due: dotnet-format

Execute sub queries in parallel for Find operations (#1472)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonByLastNameAndDateOfBirth.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonsByTrnAndDateOfBirth.cs
Due: dotnet-format

Add a job to delete old incident attachments
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/DeleteAnnotationQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetResolvedIncidentAnnotationsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/DeleteAnnotationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetResolvedIncidentAnnotationsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/DqtAnnotationDeletedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/DeleteOldIncidentAttachmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/DeleteAnnotationTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateDateOfBirthChangeIncident.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Extend attachment deletion job to cover TRN request tasks
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateTrnRequestTaskQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetNonOpenTaskAnnotationsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateTrnRequestTaskHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetNonOpenTaskAnnotationsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/DeleteOldIncidentAttachmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
Due: dotnet-format

Amend queries to return paged results
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/CrmQueryDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ICrmQueryDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IEnumerableCrmQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IEnumerableCrmQueryHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetNonOpenTaskAnnotationsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetResolvedIncidentAnnotationsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetNonOpenTaskAnnotationsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetResolvedIncidentAnnotationsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/DeleteOldIncidentAttachmentsJob.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmQueryDispatcherSpy.cs
Due: dotnet-format

Add a job to delete old attachments (#1402)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/CrmQueryDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ICrmQueryDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IEnumerableCrmQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IEnumerableCrmQueryHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateTrnRequestTaskQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/DeleteAnnotationQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetNonOpenTaskAnnotationsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetResolvedIncidentAnnotationsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateTrnRequestTaskHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/DeleteAnnotationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetNonOpenTaskAnnotationsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetResolvedIncidentAnnotationsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/DqtAnnotationDeletedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/DeleteOldIncidentAttachmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/DeleteAnnotationTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmQueryDispatcherSpy.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateDateOfBirthChangeIncident.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Sync events from DQT to TRS
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/NpgsqlExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Event.cs
Due: dotnet-format

Sync events from DQT to TRS (#1408)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/NpgsqlExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Event.cs
Due: dotnet-format

Fix enumerable query handler registration
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ServiceCollectionExtensions.cs
Due: dotnet-format

Fix enumerable query handler registration (#1473)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ServiceCollectionExtensions.cs
Due: dotnet-format

Updated terraform provider versions
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/terraform.tf
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/terraform.tf
Due: tf-format

Updated terraform provider versions (#1474)
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/terraform.tf
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/terraform.tf
Due: tf-format

Add pg_failover_slots extension to postgres
  terraform/aks/databases.tf
Due: tf-format

Add pg_failover_slots extension to postgres (#1475)
  terraform/aks/databases.tf
Due: tf-format

Sync changes from TRS DB into DQT reporting database
  .github/workflows/pr.yml
  README.md
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.DropDqtReportingReplicationSlot.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240822100611_DqtReportingSyncPublicationQualifications.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240822100611_DqtReportingSyncPublicationQualifications.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DistributedLockKeys.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/BackfillDqtReportingQualifications.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0026_TrsQualifications.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/CrmClientFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/Services/DqtReporting/DqtReportingFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/Services/DqtReporting/DqtReportingServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbFixture.cs
Due: dotnet-format

Sync changes from TRS DB into DQT reporting database (#1451)
  .github/workflows/pr.yml
  README.md
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.DropDqtReportingReplicationSlot.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240822100611_DqtReportingSyncPublicationQualifications.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240822100611_DqtReportingSyncPublicationQualifications.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DistributedLockKeys.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/BackfillDqtReportingQualifications.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0026_TrsQualifications.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/CrmClientFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/Services/DqtReporting/DqtReportingFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/Services/DqtReporting/DqtReportingServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbFixture.cs
Due: dotnet-format

Handle deletes and truncates in TRS tables
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/Services/DqtReporting/DqtReportingServiceTests.cs
Due: dotnet-format

Handle deletes and truncates in TRS tables (#1477)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/Services/DqtReporting/DqtReportingServiceTests.cs
Due: dotnet-format

Sync workforce data tables to DQT reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/AsyncEnumerableExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240828133832_DqtReportingSyncPublicationWorkforceData.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240828133832_DqtReportingSyncPublicationWorkforceData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240828142545_DqtReportingSyncEstablishments.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240828142545_DqtReportingSyncEstablishments.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/BackfillDqtReportingWorkforceData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0027_TrsWorkforceData.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0028_TrsEstablishments.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Sync workforce data tables to DQT reporting DB (#1478)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/AsyncEnumerableExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240828133832_DqtReportingSyncPublicationWorkforceData.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240828133832_DqtReportingSyncPublicationWorkforceData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240828142545_DqtReportingSyncEstablishments.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240828142545_DqtReportingSyncEstablishments.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/BackfillDqtReportingWorkforceData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0027_TrsWorkforceData.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0028_TrsEstablishments.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Add a lock around applying migrations to reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DistributedLockKeys.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Add a lock around applying migrations to reporting DB (#1479)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DistributedLockKeys.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Increase prod postgres DB size to 64GB
  terraform/aks/databases.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: tf-format

Increase production postgres DB size to 64GB (#1480)
  terraform/aks/databases.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: tf-format

Use a non-privileged port
  TeachingRecordSystem/Dockerfile
  terraform/aks/app.tf
Due: tf-format

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
