Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Fix logic around 'Find a record' active nav item
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
Due: none

Fix logic around 'Find a record' active nav item (#1822)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
Due: none

CI-CD for domains
  .github/workflows/main.yml
  Makefile
  terraform/domains/environment_domains/output.tf
Due: tf-format

CI-CD for domains (#1843)
  .github/workflows/main.yml
  Makefile
  terraform/domains/environment_domains/output.tf
Due: tf-format

Fix main workflow needs dependency for domain jobs
  .github/workflows/main.yml
Due: none

test data setups, CYA page
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ReferenceDataCache.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckProfessionalStatusExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/JourneyNames.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/PageContextFeatures.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Routes/ChangeReasonState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Routes/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/ChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/ChangeReasonState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/Conventions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/EditRouteState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/TrsLinkGenerator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/ChangeReasonStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRouteStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonProfessionalStatusBuilder.cs
Due: dotnet-format

Fix main workflow needs dependency for domain jobs (#1870)
  .github/workflows/main.yml
Due: none

test setup and fixes
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/ChangeReasonState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/EditRouteState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/TrsLinkGenerator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/ChangeReasonStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRouteStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonProfessionalStatusBuilder.cs
Due: dotnet-format

Added custom data mapper to handle two qts file formats
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EwcWalesImport/EwcWalesQTSFileImportData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EwcWalesImport/QtsImporter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EwcWalesImportJobTests.cs
Due: dotnet-format

Resurrect MigrateInductionsFromCrmJob with timeout handling
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/MigrateInductionsFromCrmJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
Due: dotnet-format

more CYA content
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ReferenceDataCache.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckProfessionalStatusExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/ChangeReasonDetailsState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/ChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/Conventions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/EditRouteState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/ChangeReasonStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRouteStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/AssertEx.cs
Due: dotnet-format

Resurrect MigrateInductionsFromCrmJob with timeout handling (#1873)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/MigrateInductionsFromCrmJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
Due: dotnet-format

Handle not-yet-synced person in AddInductionExemptionMessageHandler
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/AddInductionExemptionMessageHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/RemoveInductionExemptionMessageHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/DqtOutbox/OutboxMessageHandlerTests.cs
Due: dotnet-format

Handle not-yet-synced person in AddInductionExemptionMessageHandler (#1874)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/AddInductionExemptionMessageHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/RemoveInductionExemptionMessageHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/DqtOutbox/OutboxMessageHandlerTests.cs
Due: dotnet-format

Fix InductionMigratedEvents having empty GUID InductionExemptionReasonId
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
Due: dotnet-format

Fix InductionMigratedEvents having empty GUID InductionExemptionReasonId (#1875)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
Due: dotnet-format

CYA - more tests for content and fixes
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ReferenceDataCache.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/EditRouteState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/RoutePages.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/EditRouteStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonProfessionalStatusBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/AssertEx.cs
Due: dotnet-format

CYA more content tests and fixes
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/TrainingAgeSpecialismType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ProfessionalStatusStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/EditRouteState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/EditRouteStateBuilder.cs
Due: dotnet-format

Always show Induction card if person has QTS
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
Due: dotnet-format

Always show Induction card if person has QTS (#1878)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
Due: dotnet-format

Prevent multiple nodes processing outbox messages at once
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DistributedLockKeys.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/DqtOutboxMessageProcessorService.cs
Due: dotnet-format

Prevent multiple nodes processing outbox messages at once (#1879)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DistributedLockKeys.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/DqtOutboxMessageProcessorService.cs
Due: dotnet-format

moved FileUpload defaults
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/FileUploadDefaults.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/InductionChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/InductionChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonProfessionalStatusBuilder.cs
Due: dotnet-format

Fix global_config for domains
  global_config/domains.sh
Due: none

Fix global_config for domains (#1872)
  global_config/domains.sh
Due: none

test post
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/ChangeReasonStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonProfessionalStatusBuilder.cs
Due: dotnet-format

Add AUTO_APPROVE to domains apply for cicd
  Makefile
Due: none

lint
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/ChangeReasonStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonProfessionalStatusBuilder.cs
Due: dotnet-format

Add AUTO_APPROVE to domains apply for cicd (#1882)
  Makefile
Due: none

temp fix for setup of lookups
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonProfessionalStatusBuilder.cs
Due: dotnet-format

Support ewc wales qts second format
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EwcWalesImport/EwcWalesQTSFileImportData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EwcWalesImport/QtsImporter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EwcWalesImportJobTests.cs
Due: dotnet-format

Support ewc wales qts second format (#1877)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EwcWalesImport/EwcWalesQTSFileImportData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EwcWalesImport/QtsImporter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EwcWalesImportJobTests.cs
Due: dotnet-format

warnings
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
Due: dotnet-format

namespace sync
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format

use UK country code
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonProfessionalStatusBuilder.cs
Due: dotnet-format

Stop syncing induction status
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
Due: dotnet-format

Stop syncing induction status (#1876)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
Due: dotnet-format

PR comments
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ReferenceDataCache.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonProfessionalStatusBuilder.cs
Due: dotnet-format
