Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

show applicable radio buttons
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/EditInductionState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ValidationAttributes/NotEqualAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
Due: dotnet-format

Add CLI commands for managing webhook endpoints (#1754)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/GlobalUsings.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.WebhookEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/VersionRegistry.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/WebhookEndpointMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241218104549_WebhookEndpointMetadata.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241218104549_WebhookEndpointMetadata.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/WebhookEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/WebhookEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/WebhookEndpointCreatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/WebhookEndpointDeletedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/WebhookEndpointUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Webhooks/WebhookMessageFactory.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/GlobalUsings.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Webhooks/WebhookDeliveryServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Webhooks/WebhookSenderTests.cs
Due: dotnet-format

model validation
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
Due: dotnet-format

remove warning
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ValidationAttributes/NotEqualAttribute.cs
Due: dotnet-format

test for page validation error
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
Due: dotnet-format

warning message
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
Due: dotnet-format

pass linting
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/EditInductionState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/DataStore/Postgres/Models/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
Due: dotnet-format

Prevent racy updates
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckAlertExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckMandatoryQualificationExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckPersonExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckSupportTaskExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/PageContextFeatures.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/CloseAlert/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

bug fix and tests
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
Due: dotnet-format

tests for page content with error
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
Due: dotnet-format

Prevent racy updates (#1756)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckAlertExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckMandatoryQualificationExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckPersonExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckSupportTaskExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/PageContextFeatures.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/CloseAlert/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Added fixes while testing against CRM build environment data
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SyncAllInductionsFromCrmJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Production.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/CrmClientFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/ApiSchema/EventMapperTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/SyncAllInductionsFromCrmJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/SyncFromCrmJobFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/SyncFromCrmJobTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/DqtOutbox/OutboxMessageHandlerTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Gias/EstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Tps/TpsEstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonMatching/PersonMatchingServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Induction.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncServiceFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/WorkforceData/TpsCsvExtractProcessorTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/WorkforceData/WorkforceDataExporterTests.cs
Due: dotnet-format

Remove un-used type
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ModelNameAttribute.cs
Due: dotnet-format

Remove un-used type (#1757)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ModelNameAttribute.cs
Due: dotnet-format

Fix malformed end tags
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Details.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/CloseAlert/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/EditAlert/EndDate/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/EditAlert/StartDate/Index.cshtml
Due: none

Added qtlsstatus to vnext getperson
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Dtos/QtlsStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Dtos/QtsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/FindPersonsBase.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Responses/FindPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Responses/FindPersonsResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Responses/GetPersonResponse.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/GetPersonByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/GetPersonTests.cs
Due: dotnet-format

Fix malformed end tags (#1717)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Details.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/CloseAlert/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/EditAlert/EndDate/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/EditAlert/StartDate/Index.cshtml
Due: none

Remove un-used basic auth package
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/packages.lock.json
Due: dotnet-format

Remove unused basic auth package (#1729)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/packages.lock.json
Due: dotnet-format

Remove some redundant DQT mappings from MQ types
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/MandatoryQualificationSpecialism.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/MandatoryQualificationStatus.cs
Due: dotnet-format

Remove some redundant DQT mappings from MQ types (#1730)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/MandatoryQualificationSpecialism.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/MandatoryQualificationStatus.cs
Due: dotnet-format

Simplify helper method
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/MockExtensions.cs
Due: dotnet-format

Simplify helper method (#1740)
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/MockExtensions.cs
Due: dotnet-format

Add a just recipe to install Playwright
  .github/workflows/pr.yml
  README.md
  justfile
Due: none

Fix HttpClient registration for WebhookSender
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Webhooks/ApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Webhooks/WebhookSender.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Webhooks/WebhookSenderTests.cs
Due: dotnet-format

Add a just recipe to install Playwright (#1742)
  .github/workflows/pr.yml
  README.md
  justfile
Due: none

Remove redundant variable
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
Due: dotnet-format

Remove redundant variable (#1749)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
Due: dotnet-format

Use local dotnet-format version
  .github/workflows/pr.yml
  justfile
Due: none

Use local dotnet-format version (#1759)
  .github/workflows/pr.yml
  justfile
Due: none

Fix HttpClient registration for WebhookSender (#1758)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Webhooks/ApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Webhooks/WebhookSender.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Webhooks/WebhookSenderTests.cs
Due: dotnet-format

Remove Application Insights usage
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/IgnoreDependencyTelemetryProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/ApplicationInsights/RedactedUrlTelemetryProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/TeachingRecordSystem.ServiceDefaults.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.UiCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Infrastructure/Logging/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/Services/DqtReporting/DqtReportingFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiCommon.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
Due: dotnet-format

Remove Application Insights usage (#1760)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/IgnoreDependencyTelemetryProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/ApplicationInsights/RedactedUrlTelemetryProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/TeachingRecordSystem.ServiceDefaults.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.UiCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Infrastructure/Logging/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/Services/DqtReporting/DqtReportingFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiCommon.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
Due: dotnet-format

Remove AI resource
  terraform/aks/app.tf
Due: tf-format

Remove AI resource (#1761)
  terraform/aks/app.tf
Due: tf-format

Added qtlsstatus to vnext getperson
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Dtos/QtlsStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Dtos/QtsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/FindPersonsBase.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Responses/FindPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Responses/FindPersonsResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Responses/GetPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/V3/VNext/Dtos/QtlsStatus.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/GetPersonByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/GetPersonTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
