Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Register IBackgroundJobScheduler everywhere & move job registration
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Hosting/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Register IBackgroundJobScheduler everywhere & move job registration (#997)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Hosting/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Fix AddStartupTask() for .NET 8
  TeachingRecordSystem/src/TeachingRecordSystem.Core/StartupTasks.cs
Due: dotnet-format

Fix AddStartupTask() for .NET 8 (#1000)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/StartupTasks.cs
Due: dotnet-format

Fix EventObserver.AssertEventsSaved to work with synced events
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Infrastructure/CaptureEventObserver.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
Due: dotnet-format

Fix EventObserver.AssertEventsSaved to work with synced events (#998)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Infrastructure/CaptureEventObserver.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
Due: dotnet-format

Populate the MandatoryQualificationDeletedEvent
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/DeleteMq/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/DeleteMq/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Infrastructure/CaptureEventObserver.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/DeleteMq/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestBase.cs
Due: dotnet-format

Populate the MandatoryQualificationDeletedEvent (#999)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/DeleteMq/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/DeleteMq/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Infrastructure/CaptureEventObserver.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/DeleteMq/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestBase.cs
Due: dotnet-format

Ensure sync doesn't overwrite newer changes
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.MandatoryQualification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Person.cs
Due: dotnet-format

Ensure sync doesn't overwrite newer changes (#1001)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.MandatoryQualification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Person.cs
Due: dotnet-format

Pre-warm the ReferenceDataCache
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/StartupTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/ServiceCollectionExtensions.cs
Due: dotnet-format

Pre-warm the ReferenceDataCache (#1002)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/StartupTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/ServiceCollectionExtensions.cs
Due: dotnet-format

Add TRN API skeleton
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Controllers/TrnRequestsController.cs
Due: dotnet-format

Add TRN API skeleton (#1003)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Controllers/TrnRequestsController.cs
Due: dotnet-format

Add missing registration for IDataverseAdapter to Worker
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Add missing registration for IDataverseAdapter to Worker (#1005)
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Add AYTQ options to Worker & fix class name
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/AccessYourTeachingQualificationsOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendEytsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendInductionCompletedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendInternationalQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/AccessYourQualifications/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/SendInductionCompletedEmailJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/SendInternationalQtsAwardedEmailJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/SendQtsAwardedEmailJobTests.cs
Due: dotnet-format

Add AYTQ options to Worker & fix class name (#1006)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/AccessYourTeachingQualificationsOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendEytsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendInductionCompletedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendInternationalQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/AccessYourQualifications/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/SendInductionCompletedEmailJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/SendInternationalQtsAwardedEmailJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/SendQtsAwardedEmailJobTests.cs
Due: dotnet-format

Add IBackgroundWorkScheduler registration to Worker
  TeachingRecordSystem/src/TeachingRecordSystem.Hosting/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Add IBackgroundWorkScheduler registration to Worker (#1007)
  TeachingRecordSystem/src/TeachingRecordSystem.Hosting/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

tech documentation updates
  README.md
  docs/c4-diagrams-as-code/trs-containers.png
  docs/c4-diagrams-as-code/trs-data-integration.png
  docs/trs-gov.one-login-flow.md
Due: none

tech documentation updates (#1008)
  README.md
  docs/c4-diagrams-as-code/trs-containers.png
  docs/c4-diagrams-as-code/trs-data-integration.png
  docs/trs-gov.one-login-flow.md
Due: none

Fix Notify registrations for Worker
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Notify/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Notify/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Fix Notify registrations for Worker (#1009)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Notify/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Notify/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Add ID service registrations to Worker
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/GetAnIdentity/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
Due: dotnet-format

Load config from SharedConfig JSON env var
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Move shared config into a shared secret (#1010)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/GetAnIdentity/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Fix redirect after sign out
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
Due: dotnet-format

Fix redirect after sign out (#1012)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
Due: dotnet-format

changes to tech docs
  README.md
  docs/c4-diagrams-as-code/trs-c4.dsl
  docs/c4-diagrams-as-code/trs-containers.png
  docs/c4-diagrams-as-code/trs-core-containers.jpg
  docs/c4-diagrams-as-code/trs-data-integration.png
  docs/c4-diagrams-as-code/trs-to-be-ewc-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-external-data-integrations-c4.dsl
  docs/c4-diagrams-as-code/trs-to-be-external-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-tps-data-integrations.jpg
Due: none

changes to tech docs (#1017)
  README.md
  docs/c4-diagrams-as-code/trs-c4.dsl
  docs/c4-diagrams-as-code/trs-containers.png
  docs/c4-diagrams-as-code/trs-core-containers.jpg
  docs/c4-diagrams-as-code/trs-data-integration.png
  docs/c4-diagrams-as-code/trs-to-be-ewc-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-external-data-integrations-c4.dsl
  docs/c4-diagrams-as-code/trs-to-be-external-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-tps-data-integrations.jpg
Due: none

Fix redirect from index
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
Due: none

Fix redirect from index (#1021)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
Due: none

Add option to DB migration command for specifying target migration
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.MigrateDb.cs
Due: dotnet-format

Add option to DB migration command for specifying target migration (#1018)
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.MigrateDb.cs
Due: dotnet-format

Reduce StatusCake sensitivity
  terraform/aks/monitoring.tf
Due: tf-format

[775] Reduce StatusCake sensitivity (#1022)
  terraform/aks/monitoring.tf
Due: tf-format

changes post comments
  docs/trn-generation.md
Due: none

added a to be trn .md file and a few changes to .dsl
  docs/c4-diagrams-as-code/trs-to-be-external-data-integrations-c4.dsl
  docs/trn-generation.md
Due: none

Add minor versioning ADR
  docs/adr/0002-api-minor-versioning.md
Due: none

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
