Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Add missing dependencies
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.DeleteSupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.ImportCapitaFile.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.ResetTrnRequest.cs
Due: dotnet-format

Fixed DI registration of IEventHandler for webhook message creation (#3196)
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.DeleteSupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.ImportCapitaFile.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.ResetTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/EventPipelineTests/EventPipelineFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/ServiceFixture.cs
Due: dotnet-format

Update lock files
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Update lock files
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Update azurerm and terraform versions
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .tool-versions
  global_config/domains.sh
  global_config/dv_review.sh
  global_config/pentest.sh
  global_config/pre-production.sh
  global_config/production.sh
  global_config/tps-sandbox.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/dev.tfvars.json
  terraform/aks/config/pentest.tfvars.json
  terraform/aks/config/pre-production.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/tps-sandbox.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/safestorage.tf
  terraform/aks/storage.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/terraform.tf
Due: tf-format

Update azurerm and terraform versions (#3191)
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .tool-versions
  global_config/domains.sh
  global_config/dv_review.sh
  global_config/pentest.sh
  global_config/pre-production.sh
  global_config/production.sh
  global_config/tps-sandbox.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/dev.tfvars.json
  terraform/aks/config/pentest.tfvars.json
  terraform/aks/config/pre-production.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/tps-sandbox.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/safestorage.tf
  terraform/aks/storage.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/terraform.tf
Due: tf-format

Move one login account to primary person in tps merge
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Persons/PersonService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Persons/PersonServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/Resolve/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/Resolve/MatchesTests.cs
Due: dotnet-format

Move one login account to primary person in tps merge (#3197)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Persons/PersonService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Persons/PersonServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/Resolve/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/Resolve/MatchesTests.cs
Due: dotnet-format

Add API operation to activate a dormant TRN request
  TeachingRecordSystem/src/TeachingRecordSystem.Api/ApiError.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/ActivateTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TrnRequestMetadata.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/ProcessType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/TrnRequestStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnRequests/TrnRequestService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateTrnRequest.cs
Due: dotnet-format

Support wildcard redirect URIs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Oidc/ApplicationManager.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Oidc/ApplicationManager.cs
Due: dotnet-format

Added support for offline_access / refresh_token in Teacher Auth
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/RefreshToken.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/RefreshToken.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/SignedIn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/SignedIn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TestAppConfiguration.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/User.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/OidcTests.cs
Due: dotnet-format

Fix lock files
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Switch back to the normal terraform-modules tags
  global_config/domains.sh
  global_config/dv_review.sh
  global_config/pentest.sh
  global_config/pre-production.sh
  global_config/production.sh
  global_config/tps-sandbox.sh
Due: none

Switch back to the normal terraform-modules tags (#3204)
  global_config/domains.sh
  global_config/dv_review.sh
  global_config/pentest.sh
  global_config/pre-production.sh
  global_config/production.sh
  global_config/tps-sandbox.sh
Due: none

Added support for offline_access / refresh_token in Teacher Auth (#3202)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/RefreshToken.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/RefreshToken.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/SignedIn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/SignedIn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TestAppConfiguration.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/User.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/OidcTests.cs
Due: dotnet-format

Support wildcard redirect URIs (#3201)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Oidc/ApplicationManager.cs
Due: dotnet-format

Add option for user to reattempt ID verification with One Login
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotVerified.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotVerified.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/wwwroot/Styles/site.scss
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/OidcTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/RequestTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
Due: dotnet-format

Add option for user to reattempt ID verification with One Login (#3209)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotVerified.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotVerified.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/wwwroot/Styles/site.scss
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/OidcTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/RequestTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
Due: dotnet-format

Tweak job to set employment end dates based on latest extract date
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/TpsCsvExtractProcessor.cs
Due: dotnet-format

Tweak job to set employment end dates based on latest extract date (#3212)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/TpsCsvExtractProcessor.cs
Due: dotnet-format

Added Record Matching Policy to Application User
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260320110835_ApplicationUserRecordMatchingPolicy.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260320110835_ApplicationUserRecordMatchingPolicy.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/User.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Legacy/ApplicationUserUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/ApplicationUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/RecordMatchingPolicy.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/EditApplicationUser/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/EditApplicationUser/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Users/ApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApplicationUsers/EditApplicationUser/IndexTests.cs
Due: dotnet-format

Tweak to hint text
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/EditApplicationUser/Index.cshtml
Due: none

Added Record Matching Policy to Application User (#3213)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260320110835_ApplicationUserRecordMatchingPolicy.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260320110835_ApplicationUserRecordMatchingPolicy.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/User.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Legacy/ApplicationUserUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/ApplicationUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/RecordMatchingPolicy.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/EditApplicationUser/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/EditApplicationUser/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Users/ApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApplicationUsers/EditApplicationUser/IndexTests.cs
Due: dotnet-format

Content amends on 'not found' page
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotFound.cshtml
Due: none

Fix up some styling niggles in Disconnect journey
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/DisconnectOneLogin/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/DisconnectOneLogin/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/DisconnectOneLogin/DisconnectOneLoginLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/DisconnectOneLogin/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/DisconnectOneLogin/Verified.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/DisconnectOneLogin/Verified.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
Due: dotnet-format

Check answers tweaks
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml
Due: none

'5 working days' on own line
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/SupportRequestSubmitted.cshtml
Due: none

Move 'Documents we accept' under file upload
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/ProofOfIdentity.cshtml
Due: none

Added new column to reporting db
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0106_UserRecordMatchingPolicy.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Added new column to reporting db (#3215)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0106_UserRecordMatchingPolicy.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Added explanation of NINo
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml
Due: none

Added explanation of NINo (#3216)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml
Due: none

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
