Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Add skeleton project for new version of ID
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/_ViewStart.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Properties/launchSettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/TeachingRecordSystem.AuthorizeAccessToATeacherRecord.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.json
Due: dotnet-format

Add skeleton project for new version of ID (#1097)
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/_ViewStart.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Properties/launchSettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/TeachingRecordSystem.AuthorizeAccessToATeacherRecord.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.json
Due: dotnet-format

Initial setup for Authorize access project
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/TeachingRecordSystem.AuthorizeAccessToATeacherRecord.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.Testing.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  justfile
Due: dotnet-format

Initial setup for Authorize access project (#1106)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/TeachingRecordSystem.AuthorizeAccessToATeacherRecord.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.Testing.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  justfile
Due: dotnet-format

Use the primary key for ordering in SyncAll* jobs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SyncAllMqsFromCrmJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SyncAllPersonsFromCrmJob.cs
Due: dotnet-format

Use the primary key for ordering in SyncAll* jobs (#1107)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SyncAllMqsFromCrmJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SyncAllPersonsFromCrmJob.cs
Due: dotnet-format

Amended MQ UI to treat MQ with end date as Passed
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/EditMq/Status/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/EditMq/Status/EditMqStatusState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Qualifications.cshtml.cs
Due: dotnet-format

Amend delete screen to also derive implicit Passed status
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/DeleteMq/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/EditMq/Status/EditMqStatusState.cs
Due: dotnet-format

Amended MQ UI to treat MQ with end date as Passed (#1109)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/DeleteMq/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/EditMq/Status/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Qualifications.cshtml.cs
Due: dotnet-format

Increase timeout for applying DB migrations
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.MigrateDb.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
Due: dotnet-format

Increase migrations job timeouts
  terraform/aks/app.tf
Due: tf-format

Further increase migration timeouts
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.MigrateDb.cs
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Back fill CreatedOn and UpdatedOn on Person
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240124162658_BackFillPersonCreatedOnAndUpdatedOn.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240124162658_BackFillPersonCreatedOnAndUpdatedOn.cs
Due: dotnet-format

Back fill CreatedOn and UpdatedOn on Person (#1108)
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.MigrateDb.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240124162658_BackFillPersonCreatedOnAndUpdatedOn.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240124162658_BackFillPersonCreatedOnAndUpdatedOn.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Amend UserId property on JourneyState to be a string
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/JourneyStateMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240125142726_JourneyStateUserIdString.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240125142726_JourneyStateUserIdString.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/JourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.FormFlow/State/ICurrentUserIdProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/FormFlow/HttpContextCurrentUserIdProvider.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Infrastructure/FormFlow/TestUserCurrentUserIdProvider.cs
Due: dotnet-format

Prevent concurrent journey state changes for a given instance
  TeachingRecordSystem/src/TeachingRecordSystem.FormFlow/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.FormFlow/State/CommitStateChangesMiddleware.cs
  TeachingRecordSystem/src/TeachingRecordSystem.FormFlow/State/DbUserInstanceStateProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.FormFlow/State/DbUserInstanceStateProviderBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Infrastructure/FormFlow/InMemoryInstanceStateProvider.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Infrastructure/FormFlow/TestUserCurrentUserIdProvider.cs
Due: dotnet-format

Port error views into Authorize project
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Controllers/ErrorController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Shared/GenericError.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Shared/NotFound.cshtml
Due: dotnet-format

Add basic One Login integration setup
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Program.cs
Due: dotnet-format

Add basic One Login integration setup (#1113)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Controllers/ErrorController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Shared/GenericError.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Shared/NotFound.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Program.cs
Due: dotnet-format

Added basic terraform setup for new TRS Authorize app
  Makefile
  TeachingRecordSystem/Dockerfile
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: tf-format

Added basic terraform setup for new TRS Authorize app (#1112)
  Makefile
  TeachingRecordSystem/Dockerfile
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: tf-format

Skeleton authentication scheme setup for Authorize project
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/FormFlow/DummyCurrentUserIdProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/FormFlow/FormFlowHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/Security/AuthenticationSchemes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/Security/FormFlowJourneySignInHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/Security/MatchToTeachingRecordAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Nino.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Nino.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/TeachingRecordSystem.AuthorizeAccessToATeacherRecord.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.FormFlow/JourneyInstanceId.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.FormFlow.Tests/JourneyInstanceIdTests.cs
Due: dotnet-format

Skeleton authentication scheme setup for Authorize project (#1115)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/FormFlow/DummyCurrentUserIdProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/FormFlow/FormFlowHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/Security/AuthenticationSchemes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/Security/FormFlowJourneySignInHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Infrastructure/Security/MatchToTeachingRecordAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Nino.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Nino.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/TeachingRecordSystem.AuthorizeAccessToATeacherRecord.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.FormFlow/JourneyInstanceId.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.FormFlow.Tests/JourneyInstanceIdTests.cs
Due: dotnet-format

Fix CLI command that generates a reporting DB table
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.GenerateReportingDbTable.cs
Due: dotnet-format

Fix CLI command that generates a reporting DB table (#1116)
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.GenerateReportingDbTable.cs
Due: dotnet-format

Add retries to TrsDataSyncService and DqtReportingService
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Add retries to TrsDataSyncService and DqtReportingService (#1117)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Enable azure RBAC deployments on all services
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/backup-db.yml
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/provider.tf
Due: tf-format

Enable azure RBAC deployments on all services (#1114)
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/backup-db.yml
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/provider.tf
Due: tf-format

Add One Login config to Edit Application User UI + tests
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240129115405_ApplicationUserOneLoginClientIdAndPem.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240129115405_ApplicationUserOneLoginClientIdAndPem.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/User.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/ApplicationUserUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/ApplicationUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/EditApplicationUser.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/EditApplicationUser.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/Index.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/ApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApplicationUsers/EditApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateApplicationUser.cs
Due: dotnet-format

Add One Login config to Edit Application User UI + tests (#1119)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240129115405_ApplicationUserOneLoginClientIdAndPem.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240129115405_ApplicationUserOneLoginClientIdAndPem.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/User.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/ApplicationUserUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/ApplicationUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/EditApplicationUser.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/EditApplicationUser.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/ApplicationUsers/Index.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/ApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApplicationUsers/EditApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateApplicationUser.cs
Due: dotnet-format

Add Tests project for Access
  .github/workflows/pr.yml
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccessToATeachingRecordTests/GlobalUsings.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccessToATeachingRecordTests/TeachingRecordSystem.AuthorizeAccessToATeachingRecordTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccessToATeachingRecordTests/UnitTest1.cs
Due: dotnet-format

Add Tests project for Access (#1118)
  .github/workflows/pr.yml
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccessToATeachingRecordTests/GlobalUsings.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccessToATeachingRecordTests/TeachingRecordSystem.AuthorizeAccessToATeachingRecordTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccessToATeachingRecordTests/UnitTest1.cs
Due: dotnet-format

Shorten project names for Access
  .github/workflows/pr.yml
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/ErrorController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/FormFlow/DummyCurrentUserIdProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/FormFlow/FormFlowHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/AuthenticationSchemes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/FormFlowJourneySignInHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/MatchToTeachingRecordAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Nino.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Nino.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/GenericError.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/NotFound.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/_ViewStart.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Properties/launchSettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TeachingRecordSystem.AuthorizeAccess.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.Testing.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Nino.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/GlobalUsings.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TeachingRecordSystem.AuthorizeAccess.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/UnitTest1.cs
  justfile
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Shorten project names for Access (#1121)
  .github/workflows/pr.yml
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/ErrorController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/FormFlow/DummyCurrentUserIdProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/FormFlow/FormFlowHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/AuthenticationSchemes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/FormFlowJourneySignInHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/MatchToTeachingRecordAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Nino.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Nino.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/GenericError.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/NotFound.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/_ViewStart.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Properties/launchSettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TeachingRecordSystem.AuthorizeAccess.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.Testing.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccessToATeacherRecord/Pages/Nino.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/GlobalUsings.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TeachingRecordSystem.AuthorizeAccess.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/UnitTest1.cs
  justfile
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Store One Login user info in DB
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/ClaimTypes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/FormFlow/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/FormFlow/FormFlowHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/FormFlowJourneySignInHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/MatchToTeachingRecordAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/OneLoginUserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240131130101_OneLoginUser.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240131130101_OneLoginUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/OneLoginUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.FormFlow/JourneyInstance.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/Infrastructure/FormFlow/InMemoryInstanceStateProvider.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TeachingRecordSystem.AuthorizeAccess.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/UnitTest1.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CaptureEventObserver.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateOneLoginUser.cs
Due: dotnet-format
