Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Enable review app
  global_config/review.sh
Due: none

Add TRS-specific details for DR testing (#2929)
  docs/connecting-to-environments.md
  docs/disaster-recovery.md
Due: none

Fix ClaimsPrincipalCurrentUserProvider to work with Teacher Auth access tokens
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ClaimsPrincipalCurrentUserProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ICurrentUserProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateDateOfBirthChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateNameChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetCpdInductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetDeceased.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetPii.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetRouteToProfessionalStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetWelshInductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/ClaimTypes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/OAuth2Controller.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/OperationTestFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/SetQtlsTests.cs
Due: dotnet-format

Fix ClaimsPrincipalCurrentUserProvider for Teacher Auth access tokens (#2931)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ClaimsPrincipalCurrentUserProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ICurrentUserProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateDateOfBirthChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateNameChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetCpdInductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetDeceased.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetPii.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetRouteToProfessionalStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetWelshInductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/ClaimTypes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/OAuth2Controller.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/OperationTestFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/SetQtlsTests.cs
Due: dotnet-format

Move ID verification task resolution logic into its own service
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/OneLoginIdVerificationData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/OneLoginIdVerificationNotConnectingReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/RejectReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/NotVerifiedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/OneLoginUserIdVerificationSupportTaskService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/VerifiedAndConnectedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/VerifiedOnlyWithMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/VerifiedOnlyWithoutMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/SupportTaskService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/UpdateSupportTaskOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Reject/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnecting.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmReject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/NoMatches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/ConfirmKeepRecordSeparateReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Resolve/Confirm.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/ServiceFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/ServiceTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserIdVerification/OneLoginUserIdVerificationSupportTaskServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/SupportTaskServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnectingTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmRejectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/NoMatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.OneLoginUserIdVerificationSupportTask.cs
Due: dotnet-format

Move ID verification task resolution logic into its own service (#2933)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/OneLoginIdVerificationData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/OneLoginIdVerificationNotConnectingReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/RejectReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/NotVerifiedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/OneLoginUserIdVerificationSupportTaskService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/VerifiedAndConnectedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/VerifiedOnlyWithMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/VerifiedOnlyWithoutMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/SupportTaskService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/UpdateSupportTaskOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Reject/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnecting.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmReject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/NoMatches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/ConfirmKeepRecordSeparateReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Resolve/Confirm.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/ServiceFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/ServiceTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserIdVerification/OneLoginUserIdVerificationSupportTaskServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/SupportTaskServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnectingTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmRejectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/NoMatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.OneLoginUserIdVerificationSupportTask.cs
Due: dotnet-format

A few UI tweaks to One Login user verification journey
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmReject.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmReject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Reject.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Reject.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/IndexTests.cs
Due: dotnet-format

A few UI tweaks to One Login user verification journey (#2934)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmReject.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmReject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Reject.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Reject.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/IndexTests.cs
Due: dotnet-format

Add e2e tests for One Login ID verification journey
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Index.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/OneLoginUserIdVerificationTests.cs
Due: dotnet-format

Add e2e tests for One Login ID verification journey (#2935)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Index.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/OneLoginUserIdVerificationTests.cs
Due: dotnet-format

remove unsafe-inline styles
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/IntegrationTransactions/Detail.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
Due: dotnet-format

Remove 'account' from 'GOV.UK One Login account' content
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnect.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnecting.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnecting.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/NoMatches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/NotConnecting.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnectingTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/MatchesTests.cs
Due: dotnet-format

Remove 'account' from 'GOV.UK One Login account' content (#2937)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnect.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnecting.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnecting.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/NoMatches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/NotConnecting.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmNotConnectingTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/MatchesTests.cs
Due: dotnet-format

fix tests
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Index.cshtml
Due: none

formatting
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Index.cshtml
Due: none

apply class globally to page
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Index.cshtml
Due: none

remove unsafe-inline styles (#2936)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/IntegrationTransactions/Detail.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
Due: dotnet-format

Enable review app
  Makefile
  terraform/aks/config/review.backend.tfvars
  terraform/aks/config/review.tfvars.json
  terraform/aks/databases.tf
Due: tf-format

Remove paragraph on Manual Checks Needed index page
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Index.cshtml
Due: none

Remove paragraph on Manual Checks Needed index page (#2939)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Index.cshtml
Due: none

Optimize One Login person matching
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/MatchPersonOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/OneLoginService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/SuggestedMatch.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/OneLoginUserIdVerificationSupportTaskService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/VerifiedAndConnectedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ResolveOneLoginUserIdVerificationState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/SuggestedMatchViewModel.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/OneLogin/OneLoginServiceTests_Matching.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserIdVerification/OneLoginUserIdVerificationSupportTaskServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/SupportTaskTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/NoMatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ResolveOneLoginUserIdVerificationTestBase.cs
Due: dotnet-format

Optimize One Login person matching (#2938)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/MatchPersonOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/OneLoginService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/SuggestedMatch.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/OneLoginUserIdVerificationSupportTaskService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserIdVerification/VerifiedAndConnectedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ConfirmConnect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/ResolveOneLoginUserIdVerificationState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserIdVerification/Resolve/SuggestedMatchViewModel.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/OneLogin/OneLoginServiceTests_Matching.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserIdVerification/OneLoginUserIdVerificationSupportTaskServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/SupportTaskTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/NoMatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/Resolve/ResolveOneLoginUserIdVerificationTestBase.cs
Due: dotnet-format

Add One Login user verification tile to home page
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
Due: none

Add One Login user verification tile to home page (#2943)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
Due: none

generate the trn automatically in the database when Trn is not supplied in code
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/PersonMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251218093453_PersonTrnDatabaseGenerated.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251218093453_PersonTrnDatabaseGenerated.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Person.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnGeneration/DbTrnGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnGeneration/ITrnGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnGeneration/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnRequests/TrnRequestService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/DataStore/Postgres/Models/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/Jobs/CapitaImportJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrnRequests/TrnRequestServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestTrnGenerator.cs
Due: dotnet-format

content changes
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckAnswers.cshtml
Due: none

button content
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/CheckAnswers.cshtml
Due: none

fix tests
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/DeleteRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
Due: dotnet-format

test fix
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/RoutesToProfessionalStatus/DeleteRouteToProfessionalStatusTests.cs
Due: dotnet-format

Change activate/de-activate person content (#2926)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/ProvideMoreInformationOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/Reason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/SetStatusState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/SetStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/SetStatusPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/SetStatusStateBuilder.cs
Due: dotnet-format

routes content changes (#2945)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckAnswers.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/RoutesToProfessionalStatus/DeleteRouteToProfessionalStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/DeleteRoute/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/CheckYourAnswersTests.cs
Due: dotnet-format

Set person induction status
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Persons/PersonService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/CompletedDate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/EditInductionState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/ExemptionReasonCategory.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/ExemptionReasons.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/InductionChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Reason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/StartDate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/InductionTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/InductionsPageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogInductionEventTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/CommonPageTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditExemptionReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/ReasonTests.cs
Due: dotnet-format

Set person status
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Persons/PersonService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/DeactivateReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/ReactivateReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/Reason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/SetStatusState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/SetStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogSetStatusEventTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/SetStatusPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/SetStatusStateBuilder.cs
Due: dotnet-format

Handle definite matches in NPQ TRN request journey (#2928)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Legacy/PersonsMergedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/PersonDetails.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Persons/PersonService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/PersonalDetails.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/EditDetailsNameChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/EditDetailsOtherDetailsChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/EditDetailsState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/NameChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/NameChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/OtherDetailsChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/OtherDetailsChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/UploadedEvidenceFile.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/EditDetailsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogEditDetailsEventTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/CommonPageTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/EditDetailsPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/EditDetailsStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/NameChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/OtherDetailsChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/PersonalDetailsTests.cs
Due: dotnet-format

Tidy up
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/InductionExemptions/ExemptionReasonCategory.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/InductionExemptions/ExemptionReasonsResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/InductionExemptions/InductionExemptionService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/AddPersonReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/ExemptionReasonCategory.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/InductionChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/DeactivateReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/ReactivateReasonOption.cs
Due: dotnet-format

Fix tests
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/ServiceFixture.cs
Due: dotnet-format

wip
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Persons/PersonService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Persons/TrsPersonNotFoundException.cs
Due: dotnet-format
