Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

warning message conditional on read-write access
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
Due: dotnet-format

lint!
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
Due: dotnet-format

warning message conditional on read-write access (#1854)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
Due: dotnet-format

--wip--
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetWelshInductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/InductionExemptionReasonMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/PersonMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250205121723_InductionAmends.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250205121723_InductionAmends.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/InductionExemptionReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Person.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/Induction.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/PersonInductionUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/EditInductionState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/PersonInductionUpdatedEvent.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/DataStore/Postgres/Models/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Induction.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Person.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogInductionEventTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/CommonPageTests.cs
Due: dotnet-format

Remodel induction to handle removing exemptions
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/InductionExemptionReasonMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/PersonMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250206162245_InductionStatusWithoutExemption.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250206162245_InductionStatusWithoutExemption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/InductionExemptionReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Person.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/Induction.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/PersonInductionUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/PersonInductionUpdatedEvent.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/DataStore/Postgres/Models/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogInductionEventTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/ChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/CommonPageTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditCompletedDateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditExemptionReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditStartDateTests.cs
Due: dotnet-format

Remodel induction to handle removing exemptions (#1855)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/InductionExemptionReasonMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/PersonMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250206162245_InductionStatusWithoutExemption.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250206162245_InductionStatusWithoutExemption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/InductionExemptionReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Person.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/Induction.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/PersonInductionUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/PersonInductionUpdatedEvent.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/DataStore/Postgres/Models/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogInductionEventTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/ChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/CommonPageTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditCompletedDateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditExemptionReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditStartDateTests.cs
Due: dotnet-format

Add induction_status_without_exemption to reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0042_InductionStatusWithoutExemption.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Add induction_status_without_exemption to reporting DB (#1856)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0042_InductionStatusWithoutExemption.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Increase pre-prod worker memory
  terraform/aks/config/pre-production.tfvars.json
Due: none

Increase pre-prod worker memory (#1857)
  terraform/aks/config/pre-production.tfvars.json
Due: none

Handle exemptions without a reason
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207144159_InductionExemptWithoutReason.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207144159_InductionExemptWithoutReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Person.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/Induction.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/PersonInductionUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0043_InductionExemptWithoutReason.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/DataStore/Postgres/Models/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogInductionEventTests.cs
Due: dotnet-format

Handle exemptions without a reason (#1859)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207144159_InductionExemptWithoutReason.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207144159_InductionExemptWithoutReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Person.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/Induction.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/PersonInductionUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0043_InductionExemptWithoutReason.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/DataStore/Postgres/Models/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogInductionEventTests.cs
Due: dotnet-format

Added Job to import ITT providers
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/TrainingProviderMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207130532_TrainingProviderUkprn.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207130532_TrainingProviderUkprn.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207145156_DqtReportingSyncTrainingProviders.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207145156_DqtReportingSyncTrainingProviders.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TrainingProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshTrainingProvidersJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0044_TrsTrainingProviders.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PublishApi/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PublishApi/IPublishApiClient.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PublishApi/PublishApiClient.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PublishApi/PublishApiOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/RefreshTrainingProvidersJobTests.cs
Due: dotnet-format

Fixed issues from PR
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PublishApi/PublishApiClient.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/RefreshTrainingProvidersJobTests.cs
Due: dotnet-format

Added Job to import ITT providers (#1860)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/TrainingProviderMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207130532_TrainingProviderUkprn.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207130532_TrainingProviderUkprn.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207145156_DqtReportingSyncTrainingProviders.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250207145156_DqtReportingSyncTrainingProviders.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TrainingProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshTrainingProvidersJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0044_TrsTrainingProviders.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PublishApi/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PublishApi/IPublishApiClient.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PublishApi/PublishApiClient.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PublishApi/PublishApiOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/RefreshTrainingProvidersJobTests.cs
Due: dotnet-format

copy-paste error
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/CheckYourAnswers.cshtml
Due: none

Fix copy/paste error (#1861)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/CheckYourAnswers.cshtml
Due: none

Fix reporting DB column name
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0045_InductionExemptWithoutReason.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Fix reporting DB column name (#1862)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0045_InductionExemptWithoutReason.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Add an index on events for event_name and created
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/EventMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250211110334_EventNameCreatedIndex.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250211110334_EventNameCreatedIndex.cs
Due: dotnet-format

Add an index on events for event_name and created (#1863)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/EventMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250211110334_EventNameCreatedIndex.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250211110334_EventNameCreatedIndex.cs
Due: dotnet-format

Increase test DB size
  terraform/aks/config/test.tfvars.json
Due: none

Increase test DB size (#1865)
  terraform/aks/config/test.tfvars.json
Due: none

Remove test environment from main deployment pipeline
  .github/workflows/main.yml
Due: none

New Job to ingest cpd inductions
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CpdInductionImporterJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  terraform/aks/storage.tf
Due: dotnet-format, tf-format

Different behaviour for statuses exempt and FailedInWales when ManagedByCpd
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CpdInductionImporterJob.cs
Due: dotnet-format

update limited statuses when managed by cpd
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/InductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
Due: dotnet-format

New Job to ingest cpd inductions (#1864)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CpdInductionImporterJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  terraform/aks/storage.tf
Due: dotnet-format, tf-format

store the CurrentStatus and the newly selected status, so that the correct radio buttons can be shown on the edit status page
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/InductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/EditInductionState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
Due: dotnet-format

comment
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
Due: dotnet-format

lint
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
Due: dotnet-format

PR change
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
Due: dotnet-format

PR comment
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/InductionStatus.cs
Due: dotnet-format

basic RouteEdit journey and CYA page
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/JourneyNames.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/PageContextFeatures.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Routes/ChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Routes/ChangeReasonState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Routes/EditRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Routes/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Routes/EditRoute/EditRouteState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Routes/TrsLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
Due: dotnet-format

Different behaviour for statuses exempt and FailedInWales when ManagedByCpd (#1867)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/InductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/EditInductionState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditInduction/Status.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Induction.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
Due: dotnet-format

Add outbox messages for updating induction status
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/AddInductionExemptionMessageHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/RemoveInductionExemptionMessageHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/SetInductionRequiredToCompleteMessageHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/MessageSerializer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Messages/AddInductionExemptionMessage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Messages/RemoveInductionExemptionMessage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Messages/SetInductionRequiredToCompleteMessage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/OutboxMessageHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/DqtOutbox/OutboxMessageHandlerTests.cs
Due: dotnet-format

Add outbox messages for updating induction status (#1868)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/AddInductionExemptionMessageHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/RemoveInductionExemptionMessageHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Handlers/SetInductionRequiredToCompleteMessageHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/MessageSerializer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Messages/AddInductionExemptionMessage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Messages/RemoveInductionExemptionMessage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/Messages/SetInductionRequiredToCompleteMessage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/OutboxMessageHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/DqtOutbox/OutboxMessageHandlerTests.cs
Due: dotnet-format

Don't process messages multiple times
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/OutboxProcessorMetadataMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250212140318_OutboxMessageProcessorMetadata.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250212140318_OutboxMessageProcessorMetadata.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/OutboxProcessorMetadata.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/DqtOutboxMessageProcessorService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/OutboxMessageHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/DqtOutbox/OutboxMessageHandlerTests.cs
Due: dotnet-format

Don't process messages multiple times (#1869)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/OutboxProcessorMetadataMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250212140318_OutboxMessageProcessorMetadata.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250212140318_OutboxMessageProcessorMetadata.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/OutboxProcessorMetadata.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/DqtOutboxMessageProcessorService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtOutbox/OutboxMessageHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/DqtOutbox/OutboxMessageHandlerTests.cs
Due: dotnet-format
