Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Backfill QualificationId and AlertId on Event
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030104414_BackfillQualificationIdAndAlertId.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030104414_BackfillQualificationIdAndAlertId.cs
Due: dotnet-format

Backfill QualificationId and AlertId on Event (#1634)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030104414_BackfillQualificationIdAndAlertId.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030104414_BackfillQualificationIdAndAlertId.cs
Due: dotnet-format

Give migrations more time to run
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030104414_BackfillQualificationIdAndAlertId.cs
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Give migrations more time to run (#1635)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030104414_BackfillQualificationIdAndAlertId.cs
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Include alert events in Change history query
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TaskEnumerableExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/ChangeHistory.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertCreatedEvent.cshtml
Due: dotnet-format

Implemented alert deleted change history view
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDeletedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtDeactivatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtImportedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtReactivatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertUpdatedEvent.cshtml
Due: none

Allow change reason and details to be null
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AlertDetail.cshtml.cs
Due: dotnet-format

Allow change reason and details to be null (#1636)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AlertDetail.cshtml.cs
Due: dotnet-format

Add missing QTS qualification columns to reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0033_TrsQtsQualifications.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Add missing QTS qualification columns to reporting DB (#1637)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0033_TrsQtsQualifications.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Refactor deployment workflows
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

Refactor deployment workflows (#1638)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

Cache libman packages in pipelines
  .github/workflows/package.yml
  .github/workflows/pr.yml
Due: none

Cache libman packages in pipelines (#1639)
  .github/workflows/package.yml
  .github/workflows/pr.yml
Due: none

Only install the browser we actually use
  .github/workflows/pr.yml
Due: none

Only install the browser we actually use (#1641)
  .github/workflows/pr.yml
Due: none

Include alerts with an authorised DQT sanction code
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/ChangeHistory.cshtml.cs
Due: dotnet-format

Allow creating users with no roles
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/AddUser/ConfirmTests.cs
Due: dotnet-format

Allow creating users with no roles (#1643)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/AddUser/ConfirmTests.cs
Due: dotnet-format

Add events to reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030112046_DqtReportingSyncEventsAndUsers.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030112046_DqtReportingSyncEventsAndUsers.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0034_TrsEvents.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0035_TrsEventsSyncMetadata.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Add events to reporting DB (#1640)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030112046_DqtReportingSyncEventsAndUsers.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241030112046_DqtReportingSyncEventsAndUsers.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0034_TrsEvents.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0035_TrsEventsSyncMetadata.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Add OldAlert property to AlertMigratedEvent
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/AlertMigratedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Alert.cs
Due: dotnet-format

Add OldAlert property to AlertMigratedEvent (#1644)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/AlertMigratedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Alert.cs
Due: dotnet-format

Include alert events in Change history query
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TaskEnumerableExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/ChangeHistory.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertCreatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDeletedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtDeactivatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtImportedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtReactivatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertMigratedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertUpdatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/MandatoryQualificationUpdatedEvent.cshtml
Due: dotnet-format

Final tweaks to alert audit UI
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertCreatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtDeactivatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtImportedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtReactivatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertMigratedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertUpdatedEvent.cshtml
Due: none

Include alert events in Change history (#1624)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TaskEnumerableExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/ChangeHistory.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertCreatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDeletedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtDeactivatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtImportedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDqtReactivatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertMigratedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertUpdatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/MandatoryQualificationUpdatedEvent.cshtml
Due: dotnet-format

Dispose JsonDocuments
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/SupportTaskMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/TrsDbContextModelSnapshot.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/PersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/WorkforceDataExportConfigureOptions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/OneLoginUserInfo.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/AssertEx.Http.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateOneLoginUser.cs
Due: dotnet-format

Add missing handlers & tests
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateInductionPeriodQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateInductionQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateInitialTeacherTrainingQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateQTSQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateQualificationQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/FindOrganisationsByOrgNumberQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetAllCountriesQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetInitialTeacherTrainingsByContactIdQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/UpdateInductionPeriodQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateInductionHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateInductionPeriodHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateInitialTeacherTrainingHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateQTSHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateQualificationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/FindOrganisationsByOrgNumberHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetAllCountriesHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetInitialTeacherTrainingsByContactIdHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/UpdateInductionPeriodHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImport/EWCWalesDataValidationStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImport/EWCWalesImportFileType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImport/EWCWalesImportValidationMessage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImport/EWCWalesInductionFileImportData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImport/EWCWalesMatchStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImport/EWCWalesQTSFileImportData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImport/InductionImporter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImport/QTSImporter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImportJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ReferenceDataCache.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateInductionPeriodTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateInductionTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateInitialTeacherTrainingTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateQTSTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/FindOrganisationsByOrgNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/UpdateInductionPeriodTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EWCWalesImportJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateAccount.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Interim checkin
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateQualificationQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateTaskQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateTaskHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EWCWalesImport/QTSImporter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateQTSTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EWCWalesImportJobTests.cs
Due: dotnet-format

Allow updating users with no roles
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUserTests.cs
Due: dotnet-format

Allow updating users with no roles (#1646)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUserTests.cs
Due: dotnet-format

Fixed alert type typo
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241105153742_AlertTypeTypoFix.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20241105153742_AlertTypeTypoFix.cs
Due: dotnet-format

Tweaked width of closed alerts columns to all d MMMM yyyy format in table
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
Due: none

Tweaked width of closed alerts columns to fit dd MMMM yyyy format (#1653)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
Due: none

wip
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Webhooks/CloudEventTypeAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Webhooks/EventMapper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Webhooks/IWebhookDataMapper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Webhooks/WebhookEnvelope.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Webhooks/WebhookEventPublisher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Webhooks/WebhookMessageSender.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Webhooks/WebhookMessageService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Webhooks/WebhookOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/WebhookEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/packages.lock.json
Due: dotnet-format
