Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Remove command timeout from job (#2595)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/DeleteStaleJourneyStatesJob.cs
Due: dotnet-format

Add failing SQL to exception when syncing TRS change to reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Add failing SQL to exception when syncing TRS change to reporting DB (#2596)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Fix reporting DB column name
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0089_InductionStatusesCreated.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Fix reporting DB column name (#2597)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0089_InductionStatusesCreated.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Upgrade DfE Analytics version
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/Dfe.Analytics.0.3.0-alpha.0.10.nupkg
  TeachingRecordSystem/lib/Dfe.Analytics.0.3.0-alpha.0.78.nupkg
  TeachingRecordSystem/lib/Dfe.Analytics.0.3.0-alpha.0.8.nupkg
  TeachingRecordSystem/lib/Dfe.Analytics.0.3.0-alpha.0.80.nupkg
  TeachingRecordSystem/lib/Dfe.Analytics.0.3.0-alpha.0.84.nupkg
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  terraform/aks/variables.tf
Due: dotnet-format, tf-format

Add colored border to header for non-prod environments
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
Due: none

Add colored border to header for non-prod environments (#2598)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
Due: none

Added config to create pentest environment
  Makefile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/appsettings.aks_pentest_shared.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.aks_pentest.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.aks_pentest.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.aks_pentest.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.aks_pentest.json
  global_config/pentest.sh
  terraform/aks/config/pentest.backend.tfvars
  terraform/aks/config/pentest.tfvars.json
  terraform/domains/environment_domains/config/pentest.tfvars.json
  terraform/domains/environment_domains/config/pentest_backend.tfvars
Due: none

Added header colour for pentest environment in UI
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
Due: none

Create pen test environment (#2541)
  Makefile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/appsettings.aks_pentest_shared.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.aks_pentest.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.aks_pentest.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.aks_pentest.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.aks_pentest.json
  global_config/pentest.sh
  terraform/aks/config/pentest.backend.tfvars
  terraform/aks/config/pentest.tfvars.json
  terraform/domains/environment_domains/config/pentest.tfvars.json
  terraform/domains/environment_domains/config/pentest_backend.tfvars
Due: none

Add new event models
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Action.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/ActionEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/IEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/ActionType.cs
Due: dotnet-format

Remove work-around terraform-module version
  global_config/dev.sh
  terraform/aks/config/dev.tfvars.json
  terraform/aks/config/pentest.tfvars.json
  terraform/aks/config/pre-production.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/tps-sandbox.tfvars.json
Due: none

remove 'sucessfully' from banner notification
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/MergeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/Merge/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/CheckAnswersTests.cs
Due: dotnet-format

wip
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Create/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/CreateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/EditDetailsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Users/UserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/Create/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUser/IndexTests.cs
Due: dotnet-format

Api TRN request - notification banner
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/CheckAnswers.cshtml.cs
Due: dotnet-format

wip
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Create/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Notes.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Deactivate.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/CreateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/SetStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/Create/CheckAnswersTests.cs
Due: dotnet-format

wip
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Resolve/Confirm.cshtml.cs
Due: dotnet-format

more notification message vs header changes
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/SetStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/NpqTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Users/UserTests.cs
Due: dotnet-format

content and tests
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/MergeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/CheckAnswersTests.cs
Due: dotnet-format

change more notification banners to use heading, not message
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Users/UserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/AddUser/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUser/IndexTests.cs
Due: dotnet-format

Notification should use heading rather than message, generally
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Deactivate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Users/UserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUser/DeactivateTests.cs
Due: dotnet-format

Make common method to create notficiation banner with link to record
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Create/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/ConfirmKeepRecordSeparateReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TempData.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/NpqTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/CheckAnswersTests.cs
Due: dotnet-format

support task wording order
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/CheckAnswersTests.cs
Due: dotnet-format

assert guid
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Create/CheckAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/MergeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/NpqTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
Due: dotnet-format

use StringHelper.JoinNonEmpty across all the notification banners for firstname, middlename, lastname
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/MergeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/NpqTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/CheckAnswersTests.cs
Due: dotnet-format

move link to record builder into shared class
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/LinkTagBuilder.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Create/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TempData.cs
Due: dotnet-format

moved notificatin message to header
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Users/UserTests.cs
Due: dotnet-format

Re-add user configuration option for capita/ewc job
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
Due: dotnet-format

Re-add user configuration option for capita/ewc job (#2601)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
Due: dotnet-format

add tests for notification on API request support tasks
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/ApiTrnRequestTests.cs
Due: dotnet-format

Fix AD user lookup when adding a user
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Index.cshtml.cs
Due: dotnet-format

prevent importing capita trn that already exists but is de-activated
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaImportJob.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaImportJobTests.cs
Due: dotnet-format

prevent importing capita trn that already exists but is de-activated (#2602)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaImportJob.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaImportJobTests.cs
Due: dotnet-format

rename static method for link
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/LinkTagBuilder.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Create/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/CheckAnswers.cshtml.cs
Due: dotnet-format

Notification banner content changes (#2585)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/LinkTagBuilder.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Create/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Merge/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Notes.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/NoMatches/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/ConfirmKeepRecordSeparateReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Resolve/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Deactivate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/CreateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/EditDetailsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/MergeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Persons/SetStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/ApiTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/NpqTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Users/UserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/Create/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/Merge/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/AddUser/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUser/DeactivateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUser/IndexTests.cs
Due: dotnet-format

Resurrect job configuration
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Extensions.cs
Due: dotnet-format

Resurrect job configuration (#2603)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Extensions.cs
Due: dotnet-format

Fix showing deactivated records when searching by TRN
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
