Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

remove file
  CapitaInterfaceTestFile.txt
Due: none

Fix missing packages
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.0.1.0-alpha.0.88.nupkg
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.Testing.0.1.0-alpha.0.88.nupkg
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
Due: none

Fix missing packages (#2987)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.0.1.0-alpha.0.88.nupkg
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.Testing.0.1.0-alpha.0.88.nupkg
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
Due: none

Run PR workflow for PRs into any branch
  .github/workflows/pr.yml
Due: none

Use pre-release frontend library
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/GovUk.Frontend.AspNetCore.3.5.0-alpha.0.32.nupkg
  TeachingRecordSystem/nuget.config
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
Due: none

Use GetBackLink() method instead of hard-coding
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.0.1.0-alpha.0.88.nupkg
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.0.1.0-alpha.0.92.nupkg
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.Testing.0.1.0-alpha.0.88.nupkg
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.Testing.0.1.0-alpha.0.92.nupkg
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotFound.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Test.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
Due: dotnet-format

Move FluentValidation infra to WebCommon project
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/GlobalUsings.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/Filters/FluentValidationExceptionFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/TeachingRecordSystem.WebCommon.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

Use GetBackLink() method instead of hard-coding (#2990)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.0.1.0-alpha.0.88.nupkg
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.0.1.0-alpha.0.92.nupkg
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.Testing.0.1.0-alpha.0.88.nupkg
  TeachingRecordSystem/lib/GovUk.Questions.AspNetCore.Testing.0.1.0-alpha.0.92.nupkg
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotFound.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Test.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
Due: dotnet-format

Fix database name in connection string
  .github/workflows/copilot-setup-steps.yml
Due: none

Add Terraform to Copilot environment
  .github/workflows/copilot-setup-steps.yml
Due: none

Amend NationalInsuranceNumber and Trn pages to use FluentValidation (#2992)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
Due: dotnet-format

Assign ViewData properties when validation fails
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Filters/AssignViewDataFromSignInJourneyResultFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/_Layout.cshtml
Due: dotnet-format

Lint
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
Due: dotnet-format

Restore labels
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml
Due: none

Use FluentValidation in AuthorizeAccess (#2991)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/GlobalUsings.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Filters/AssignViewDataFromSignInJourneyResultFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/Filters/FluentValidationExceptionFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/TeachingRecordSystem.WebCommon.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

Add Name page
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DateOfBirth.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DateOfBirth.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Name.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Name.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotVerified.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotVerified.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NameTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NotVerifiedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
Due: dotnet-format

Add DateOfBirth page (#2994)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DateOfBirth.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DateOfBirth.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/DateOfBirthTests.cs
Due: dotnet-format

Update existing pages to support verification journey
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TagHelpers/UseEmptyFallbackTagHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/wwwroot/Styles/site.scss
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/ProcessType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/OneLoginIdVerificationData.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/FoundTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NationalInsuranceNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/SupportRequestSubmittedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyCoordinatorTests.cs
Due: dotnet-format

Add 'Not verified' journey (#2993)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DateOfBirth.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DateOfBirth.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Name.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Name.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotVerified.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotVerified.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TagHelpers/UseEmptyFallbackTagHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/wwwroot/Styles/site.scss
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/ProcessType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/OneLoginIdVerificationData.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/DateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/FoundTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NameTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NationalInsuranceNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NotVerifiedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/SupportRequestSubmittedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyCoordinatorTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
Due: dotnet-format

Add test container support to tests
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  README.md
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestConfiguration.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

Add test container support to tests (#2995)
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  README.md
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestConfiguration.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

Upgrade to .NET 10, C# 14 and ASP.NET Core 10
  .github/workflows/package.yml
  .github/workflows/pr.yml
  .tool-versions
  TeachingRecordSystem/.config/dotnet-tools.json
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/global.json
  TeachingRecordSystem/lib/Dfe.Analytics.0.2.6.nupkg
  TeachingRecordSystem/nuget.config
  justfile
  lefthook.yml
Due: none

Add WhereAwait and SelectAwait to our extension methods
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/Dfe.Analytics.0.3.0-alpha.0.20.nupkg
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/AsyncEnumerableExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
Due: dotnet-format

Handle deactivated records in Get Person endpoint
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/ApiError.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPersonHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240920/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250203/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250627/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250905/Controllers/TrnsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20260120/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/VersionRegistry.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20260120/GetTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20260120/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetTrnTests.cs
Due: dotnet-format

Handle deactivated records in Get Person endpoint (#3004)
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/ApiError.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPersonHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240920/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250203/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250627/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250905/Controllers/TrnsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20260120/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/VersionRegistry.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20260120/GetTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20260120/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetTrnTests.cs
Due: dotnet-format

Fix Get Person endpoint performance
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPersonHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250905/Controllers/TrnsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20260120/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260121091846_ResolveRecordByTrnFn.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260121091846_ResolveRecordByTrnFn.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Procedures/fn_resolve_record_by_trn_v1.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Fix Get Person endpoint performance (#3005)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPersonHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250905/Controllers/TrnsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20260120/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260121091846_ResolveRecordByTrnFn.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260121091846_ResolveRecordByTrnFn.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Procedures/fn_resolve_record_by_trn_v1.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Upgrade to .NET 10, C# 14, ASP.NET Core 10 and EF Core 10 (#2996)
  TeachingRecordSystem/.config/dotnet-tools.json
  TeachingRecordSystem/Directory.Build.props
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/Dfe.Analytics.0.2.6.nupkg
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.UiCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TeachingRecordSystem.Api.IntegrationTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TeachingRecordSystem.SupportUi.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.TUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateApiTrnRequestSupportTask.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateNpqTrnRequestSupportTask.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiCommon.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

Tidy async enumerable usage
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/Dfe.Analytics.0.2.6.nupkg
  TeachingRecordSystem/lib/Dfe.Analytics.0.3.0-alpha.0.20.nupkg
  TeachingRecordSystem/lib/Dfe.Analytics.0.3.0.nupkg
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Dtos/InductionInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/FindPersonsBase.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/AsyncEnumerableExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Type.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/ChangeHistory.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Notes.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ChangeRequests/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserIdVerification/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateApiTrnRequestSupportTask.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateNpqTrnRequestSupportTask.cs
  terraform/aks/variables.tf
Due: dotnet-format, tf-format

Add exit page for users who don't have a TRN
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NoTrn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NoTrn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
Due: dotnet-format

Add exit page for users who don't have a TRN (#3008)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NoTrn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NoTrn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
Due: dotnet-format
