Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Add IEventPublisher and an implementation
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Process.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/IEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/IEventPublisher.cs
Due: dotnet-format

Fix Transaction error in Teacher Auth (#2620)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
Due: dotnet-format

Add IEventPublisher and an implementation (#2621)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Process.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/IEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/IEventPublisher.cs
Due: dotnet-format

Add sftp enabled storage account
  terraform/aks/sftpstorage.tf
Due: tf-format

Add UploadEvidence/EvidenceFileLink view components
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/BlobStorageFileService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/AddPersonState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/PersonalDetails.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/Reason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/EditDetailsState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/NameChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/NameChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/OtherDetailsChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/OtherDetailsChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/EvidenceFileLink/Default.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/EvidenceFileLink/EvidenceFileLinkViewComponent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/UploadEvidence/Default.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/UploadEvidence/UploadEvidenceViewComponent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/EvidenceController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/EvidenceModel.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/UploadedEvidenceFile.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TagHelpers/FormEnctypeTagHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/AddPersonPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/AddPersonStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/MergePerson/MergePersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/CommonPageTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/EditDetailsPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/EditDetailsStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/NameChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/OtherDetailsChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/PersonalDetailsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PostRequestContentBuilder.cs
Due: dotnet-format

Fix merge conflicts
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/AddPersonState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/Reason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/AddPersonPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/AddPersonStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/MergePerson/MergePersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/CommonPageTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/NameChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/OtherDetailsChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/PersonalDetailsTests.cs
Due: dotnet-format

Fix failing tests
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/AddPersonState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/UploadedEvidenceFile.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/MergePerson/MergePersonPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/EditDetailsPostRequestContentBuilder.cs
Due: dotnet-format

Fix bugs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/SetStatusPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PostRequestContentBuilder.cs
Due: dotnet-format

Fix bugs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PostRequestContentBuilder.cs
Due: dotnet-format

Fix build errors
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PostRequestContentBuilder.cs
Due: dotnet-format

Rename EvidenceController/EvidenceModel
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/AddPersonState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/PersonalDetails.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/EditDetailsState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/NameChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/OtherDetailsChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/UploadEvidence/Default.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/UploadEvidence/UploadEvidenceViewComponent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/EvidenceUploadManager.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/EvidenceUploadModel.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/NameChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/OtherDetailsChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PostRequestContentBuilder.cs
Due: dotnet-format

Fix failing tests
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PostRequestContentBuilder.cs
Due: dotnet-format

Add UploadEvidence/EvidenceFileLink view components (#2623)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/BlobStorageFileService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/AddPersonState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/PersonalDetails.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/Reason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/AddPerson/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/EditDetailsState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/NameChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/NameChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/OtherDetailsChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/EditDetails/OtherDetailsChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/EvidenceFileLink/Default.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/EvidenceFileLink/EvidenceFileLinkViewComponent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/UploadEvidence/Default.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Components/UploadEvidence/UploadEvidenceViewComponent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/EvidenceUploadManager.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/EvidenceUploadModel.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/Evidence/UploadedEvidenceFile.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TagHelpers/FormEnctypeTagHelper.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/AddPersonPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/AddPersonStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/MergePerson/MergePersonPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/MergePerson/MergePersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/CommonPageTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/EditDetailsPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/EditDetailsStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/NameChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/OtherDetailsChangeReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditDetails/PersonalDetailsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/EditInductionPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/SetStatusPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PostRequestContentBuilder.cs
Due: dotnet-format

Add FluentValidation to SupportUi
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240307/Validators/CreateTrnRequestRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Validators/CreateTrnRequestRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250203/Validators/CreateTrnRequestRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250425/Validators/CreateTrnRequestRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/GlobalUsings.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/FluentValidationExceptionFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ValidationExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.TUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

add sftp storage account (#2622)
  terraform/aks/sftpstorage.tf
Due: tf-format

Add FluentValidation to SupportUi (#2625)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240307/Validators/CreateTrnRequestRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Validators/CreateTrnRequestRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250203/Validators/CreateTrnRequestRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250425/Validators/CreateTrnRequestRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/GlobalUsings.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/FluentValidationExceptionFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ValidationExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.TUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

font size on tiles
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
Due: none

Use FluentValidation for Add alert journey
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Alert.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Details.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Link.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/StartDate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Type.cshtml.cs
Due: dotnet-format

Put label and hint content into view for Add alert journey
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Details.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Details.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Link.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Link.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Reason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/StartDate.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/StartDate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Type.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Type.cshtml.cs
Due: dotnet-format

Fix channel listener so we don't miss notifications
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/OneLoginAuthenticationSchemeProvider.cs
Due: dotnet-format

Fix channel listener so we don't miss notifications (#2629)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/OneLoginAuthenticationSchemeProvider.cs
Due: dotnet-format

increase font size on tiles (#2626)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
Due: none

Move user ID up to Process for new event models
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/ProcessEventMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/ProcessMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251013082809_ProcessUser.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251013082809_ProcessUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Process.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/IEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/IEventPublisher.cs
Due: dotnet-format

Move user ID up to Process for new event models (#2630)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/ProcessEventMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/ProcessMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251013082809_ProcessUser.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251013082809_ProcessUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Process.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/IEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/IEventPublisher.cs
Due: dotnet-format

MergePerson evidence
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/CommonJourneyPage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/EnterTrn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/Merge.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/MergePersonState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/AddPerson/AddPersonPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/MergePerson/MergePersonPostRequestContentBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/MergePerson/MergePersonStateBuilder.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/MergePerson/MergePersonTests.cs
Due: dotnet-format

Fix tests/build errors
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/Users/UserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/AddAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/AddAlert/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/CloseAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/CloseAlert/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/DeleteAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/DeleteAlert/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/Details/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/Details/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/EndDate/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/EndDate/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/Link/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/Link/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/StartDate/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/StartDate/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/ReopenAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/ReopenAlert/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/CheckYourAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/EditInduction/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/AddRoute/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/DeleteRoute/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/ReasonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/Resolve/MergeTests.cs
Due: dotnet-format

Fix failing tests
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/MergePerson/MergePersonTests.cs
Due: dotnet-format

UI fixes
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/Reason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/Reason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Deactivate.cshtml
Due: none

ignore network rules changes to sftp server
  terraform/aks/sftpstorage.tf
Due: tf-format

terraform ignore sftp network changes (#2636)
  terraform/aks/sftpstorage.tf
Due: tf-format

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
