Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

added migration for default system user record (#691)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/entrypoint.sh
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230802124833_DefaultSystemUser.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230802124833_DefaultSystemUser.cs
Due: dotnet-format

Remove the columnNames parameter from GetSubjectByTitle
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.DetailChangeIncidents.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/GetSubjectByTitleTests.cs
Due: dotnet-format

Remove the columnNames parameter from GetSubjectByTitle (#694)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.DetailChangeIncidents.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/GetSubjectByTitleTests.cs
Due: dotnet-format

Amend sign in process to include Graph API scopes
  README.md
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Development.json
  justfile
Due: dotnet-format

Amend sign in process to include Graph API scopes (#695)
  README.md
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Development.json
  justfile
Due: dotnet-format

Add Administrator role
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803130712_SystemUserAdminRole.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803130712_SystemUserAdminRole.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/UserRoles.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/UpdateTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Validators/UpdateTeacherValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Dqt/DataverseAdapter.UpdateTeacher.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/UpdateTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Dqt.Tests/DataverseAdapterTests/UpdateTeacherTests.cs
Due: dotnet-format

Add Administrator role (#696)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803130712_SystemUserAdminRole.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803130712_SystemUserAdminRole.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/UserRoles.cs
Due: dotnet-format

Add CLI command for adding an admin
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.CreateAdmin.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.GenerateReportingDbTable.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/TeachingRecordSystem.Cli.csproj
  justfile
Due: dotnet-format

Add CLI command for adding an admin (#697)
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.CreateAdmin.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.GenerateReportingDbTable.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/TeachingRecordSystem.Cli.csproj
  justfile
Due: dotnet-format

Add case insensitive collation
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803150603_CaseInsensitiveCollation.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803150603_CaseInsensitiveCollation.cs
Due: dotnet-format

Make email case insensitive
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803150826_CaseInsensitiveUserEmail.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803150826_CaseInsensitiveUserEmail.cs
Due: dotnet-format

Assign roles from DB on sign in
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Assign roles from DB on sign in (#698)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803150603_CaseInsensitiveCollation.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803150603_CaseInsensitiveCollation.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803150826_CaseInsensitiveUserEmail.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20230803150826_CaseInsensitiveUserEmail.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Add end-to-end tests project for Support UI
  .github/workflows/pr.yml
  README.md
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/CustomClaims.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TestUsers.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Usings.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/xunit.runner.json
  justfile
Due: dotnet-format

Add end-to-end tests project for Support UI (#699)
  .github/workflows/pr.yml
  README.md
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/CustomClaims.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TestUsers.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Usings.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/xunit.runner.json
  justfile
Due: dotnet-format

Add new High potential ITT programme type
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.UpdateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/CreateTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/UpdateTeacherTests.cs
Due: dotnet-format

Add new High potential ITT programme type (#683)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.UpdateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/CreateTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/DataverseAdapterTests/UpdateTeacherTests.cs
Due: dotnet-format

Remove coverlet.collector
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
Due: none

Remove coverlet.collector (#701)
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
Due: none

Remove Kestrel's Server header
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Remove Kestrel's Server header (#703)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Upgrade dependencies and remove a couple of deprecated packages
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/TeachingRecordSystem.Core.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/AssertEx.Http.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
Due: dotnet-format

Upgrade dependencies and remove a couple of deprecated packages (#702)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/TeachingRecordSystem.Core.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/AssertEx.Http.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
Due: dotnet-format

Add extension to Find endpoint for Claim's matching policy
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/FindTeachersHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Requests/FindTeachersRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/FindTeachersTests.cs
Due: dotnet-format

Add extension to Find endpoint for Claim's matching policy (#706)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/FindTeachersHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Requests/FindTeachersRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/IDataverseAdapter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/FindTeachersTests.cs
Due: dotnet-format

Add database developer page exception filter to Support UI
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
Due: dotnet-format

Add database developer page exception filter to Support UI (#700)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
Due: dotnet-format

Add [dfeta_allowpiiupdatesfromregister] field to contact in the reporting database
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0007_ContactAllowpiiUpdatesFromRegister.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Add [dfeta_allowpiiupdatesfromregister] field to contact in the reporting database (#711)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0007_ContactAllowpiiUpdatesFromRegister.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Fix developer error page setup
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Add error page for users who aren't set up in DB
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckUserExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/NoRoles.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Update README.md with local admin user setup
  README.md
  justfile
Due: none

Assign roles in e2e tests
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Infrastructure/Security/TestAuthentication.cs
Due: dotnet-format

Add an error page for users who aren't set up with any roles (#712)
  README.md
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Filters/CheckUserExistsFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/NoRoles.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Infrastructure/Security/TestAuthentication.cs
  justfile
Due: dotnet-format

Fix NRE for HE qualification with no award date
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
Due: dotnet-format

Fix NRE for HE qualification with no award date (#713)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
Due: dotnet-format

changed script to change namespace of generatedcode
  scripts/Generate-CrmModels.ps1
Due: none

changed script to change namespace of generatedcode (#714)
  scripts/Generate-CrmModels.ps1
Due: none

Another fix for NRE around HE qualifications reading
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
