Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Temp job to reset changes in json objects for PersonDetailsUpdatedEvent
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/FixNoneEventsJob.cs
Due: dotnet-format

Make One Login environment configurable (#3055)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/OneLoginAuthenticationSchemeProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.aks_production.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyCoordinatorTests.cs
Due: dotnet-format

--wip--
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/V3/V20250804/WebhookData/AlertCreatedNotification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/V3/V20250804/WebhookData/AlertDeletedNotification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/V3/V20250804/WebhookData/AlertUpdatedNotification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Alert.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/AlertCreatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/AlertDeletedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/AlertUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Alerts/AlertService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Alerts/CreateAlertOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Alerts/DeleteAlertOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Alerts/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Alerts/UpdateAlertOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/CheckAnswers.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/FixNoneEventsJob.cs
Due: dotnet-format

Fix ProcessType when saving matching support task
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserMatching/Resolve/MatchesTests.cs
Due: dotnet-format

Fix ProcessType when saving matching support task (#3062)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserMatching/Resolve/MatchesTests.cs
Due: dotnet-format

Added new storage account and container to terraform and new "safe" file service to upload teacher auth files to there
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/ProofOfIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/BlobStorageSafeFileService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/ISafeFileService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/Verify.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/ProofOfIdentityTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestScopedServices.cs
  terraform/aks/app.tf
  terraform/aks/safestorage.tf
Due: dotnet-format, tf-format

Apply virus scanning to files uploaded to teacher auth (#3050)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/ProofOfIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/BlobStorageSafeFileService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/ISafeFileService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/Verify.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/ProofOfIdentityTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestScopedServices.cs
  terraform/aks/app.tf
  terraform/aks/safestorage.tf
Due: dotnet-format, tf-format

Email user when proof of identity is rejected
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EmailTemplateIds.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/OneLoginService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.IdVerification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_IdVerification.cs
Due: dotnet-format

Email user when proof of identity is rejected (#3063)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EmailTemplateIds.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/OneLoginService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.IdVerification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_IdVerification.cs
Due: dotnet-format

Don't wrap existing dictionary
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/Email.cs
Due: dotnet-format

Don't wrap existing dictionary (#3064)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/Email.cs
Due: dotnet-format

updated docs for monthly TPS import
  docs/workforce-data-import/monthly-process.md
Due: none

Added missing establishment
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.Seeding.cs
Due: dotnet-format

fixed linting
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/Email.cs
Due: dotnet-format

Added missing establishment (#3066)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.Seeding.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/Email.cs
Due: dotnet-format

Updated docs to include some helpful links to Sharepoint
  docs/workforce-data-import/monthly-process.md
Due: none

Update monthly workforce data import docs (#3068)
  docs/workforce-data-import/monthly-process.md
Due: none

Set qtls holds date cuttoff
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetQtls.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/SetQtlsTests.cs
Due: dotnet-format

Set qtls holds date cuttoff (#3065)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/SetQtls.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/SetQtlsTests.cs
Due: dotnet-format

Split error codes
  TeachingRecordSystem/src/TeachingRecordSystem.Api/ApiError.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateDateOfBirthChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateNameChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/SupportTask.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateNameChangeTests.cs
Due: dotnet-format

Prevent duplicate open change requests via API (#3069)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/ApiError.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateDateOfBirthChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Implementation/Operations/CreateNameChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

fixed copy and paste issue
  docs/workforce-data-import/monthly-process.md
Due: none

fixed copy and paste issue (#3070)
  docs/workforce-data-import/monthly-process.md
Due: none

Add change reason to Process
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/ProcessMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260204170908_ProcessChangeReason.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260204170908_ProcessChangeReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Process.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventPublisher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/ChangeReasons/ChangeReasonWithDetailsAndEvidence.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/ChangeReasons/IChangeReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/Json/Modifiers.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateProcess.cs
Due: dotnet-format

Add change reason to Process (#3071)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/ProcessMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260204170908_ProcessChangeReason.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260204170908_ProcessChangeReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Process.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventPublisher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/ChangeReasons/ChangeReasonWithDetailsAndEvidence.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/ChangeReasons/IChangeReason.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/Json/Modifiers.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateProcess.cs
Due: dotnet-format

Add missing column to reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0104_ProcessChangeReason.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Add missing column to reporting DB (#3072)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0104_ProcessChangeReason.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

temp job to update qtls records prior to 01/04/2012
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/TempUpdateSetHoldsDateJob.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
Due: dotnet-format

WIP
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/OAuth2Controller.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Test.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/OneLoginUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/AuthorizeAccessRequestCompletedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/AuthorizeAccessRequestStartedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/OneLoginUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/OneLoginUserCreatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/OneLoginUserSignedInEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/OneLoginUserUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/ProcessType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/IdDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/OneLoginService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/OneLogin/SetUserVerifiedOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.IdVerification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NationalInsuranceNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyCoordinatorTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/OneLogin/OneLoginServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/ServiceFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateOneLoginUser.cs
Due: dotnet-format

Move search string parsing into common helper class
  TeachingRecordSystem/src/TeachingRecordSystem.Core/CoreConstants.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/SearchTextHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/SupportTaskSearchService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/WebConstants.cs
Due: dotnet-format

[WIP] Add unit tests for SearchTextHelper (#3076)
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/SearchTextHelperTests.cs
Due: dotnet-format

Add unit tests for OneLoginService event publishing (#3078)
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/OneLogin/OneLoginServiceTests.cs
Due: dotnet-format

Add Seashell Trust MandatoryQualificationProvider (#3077)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/MandatoryQualificationProvider.cs
Due: dotnet-format
