Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Add worker app
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/main.yml
  .github/workflows/package.yml
  .github/workflows/pr.yml
  Makefile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  justfile
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: dotnet-format, tf-format

Add worker app (#939)
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/main.yml
  .github/workflows/package.yml
  .github/workflows/pr.yml
  Makefile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  justfile
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: dotnet-format, tf-format

Upgrade to .NET 8
  .github/workflows/pr.yml
  TeachingRecordSystem/.config/dotnet-tools.json
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/nuget.config
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/GeneratedCrmTypeNameGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/HandleOptionJsonSchemaGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/OpenApiEndpointsStartupFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/UnwrapOptionTypesReflectionService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ApiKeyAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/TeachingRecordSystem.Cli.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/TeachingRecordSystem.Core.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TeachingRecordSystem.SupportUi.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
  justfile
Due: dotnet-format

Upgrade to .NET 8 (#938)
  .github/workflows/pr.yml
  TeachingRecordSystem/.config/dotnet-tools.json
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/nuget.config
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/GeneratedCrmTypeNameGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/HandleOptionJsonSchemaGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/OpenApiEndpointsStartupFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/UnwrapOptionTypesReflectionService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ApiKeyAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/TeachingRecordSystem.Cli.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/TeachingRecordSystem.Core.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TeachingRecordSystem.SupportUi.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
  justfile
Due: dotnet-format

Centralise logging config over all apps
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/IgnoreSuppressedExceptionsLogEventFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/LogSuppressions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/SentryErrors.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Hosting/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Hosting/TeachingRecordSystem.Hosting.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Testing.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Infrastructure/Logging/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Properties/launchSettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Centralise logging config over all apps (#940)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/IgnoreSuppressedExceptionsLogEventFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/LogSuppressions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/SentryErrors.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Hosting/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Hosting/TeachingRecordSystem.Hosting.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Testing.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Infrastructure/Logging/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Properties/launchSettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Move DqtReportingService into Worker
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  terraform/aks/app.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: dotnet-format, tf-format

Move DqtReportingService into Worker (#941)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  terraform/aks/app.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: dotnet-format, tf-format

Set worker replicas to 2 for production
  terraform/aks/workspace_variables/production.tfvars.json
Due: none

Set worker replicas to 2 for production (#942)
  terraform/aks/workspace_variables/production.tfvars.json
Due: none

Add watch-worker recipe for dotnet watch-ing the Worker
  README.md
  justfile
Due: none

Consolidate user secret projects and update docs
  README.md
  TeachingRecordSystem/Directory.Build.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/TeachingRecordSystem.Core.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TeachingRecordSystem.SupportUi.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
  justfile
  scripts/Set-AppConfigSecret.ps1
Due: dotnet-format

Update README.md for .NET 8 upgrade
  README.md
Due: none

Consolidate user secret projects and update docs (#943)
  README.md
  TeachingRecordSystem/Directory.Build.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/TeachingRecordSystem.Worker.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/TeachingRecordSystem.Core.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TeachingRecordSystem.SupportUi.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
  justfile
  scripts/Set-AppConfigSecret.ps1
Due: dotnet-format

Dispose DataTable
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Dispose DataTable (#944)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Use a single Docker image
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/backup-db.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/package.yml
  .github/workflows/pr.yml
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Dockerfile
  justfile
  terraform/aks/app.tf
  terraform/aks/dqt-reporting.tf
  terraform/aks/variables.tf
Due: tf-format

Use a single Docker image (#945)
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/backup-db.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/package.yml
  .github/workflows/pr.yml
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/Dockerfile
  justfile
  terraform/aks/app.tf
  terraform/aks/dqt-reporting.tf
  terraform/aks/variables.tf
Due: tf-format

Fix main workflow for Docker image changes
  .github/workflows/main.yml
Due: none

Fix main workflow for Docker image changes (#946)
  .github/workflows/main.yml
Due: none

Restore fonts to Docker image
  TeachingRecordSystem/Dockerfile
Due: none

Restore fonts to Docker image (#947)
  TeachingRecordSystem/Dockerfile
Due: none

Use workstation GC on the API
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
Due: none

Use workstation GC on the API (#950)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
Due: none

Added reporting DB migration scripts for new MQ fields
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0015_dfeta_qualification_dfeta_mq_status.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0016_dfeta_qualification_dfeta_trsdeletedevent.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Added reporting DB migration scripts for new MQ fields (#951)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0015_dfeta_qualification_dfeta_mq_status.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/Migrations/0016_dfeta_qualification_dfeta_trsdeletedevent.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Further increase API container memory
  terraform/aks/workspace_variables/production.tfvars.json
Due: none

Revert "Use workstation GC on the API (#950)"
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
Due: none

Increase API container memory (#955)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  terraform/aks/workspace_variables/production.tfvars.json
Due: none

Reduce production worker memory
  terraform/aks/workspace_variables/production.tfvars.json
Due: none

Reduce production worker memory (#952)
  terraform/aks/workspace_variables/production.tfvars.json
Due: none

Amend Event schema to more easily track PersonId and source UserId
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/User.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/EventBase.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/EytsAwardedEmailSentEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/IEventWithPersonId.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/InductionCompletedEmailSentEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/InternationalQtsAwardedEmailSentEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/QtsAwardedEmailSentEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/UserActivatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/UserAddedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/UserDeactivatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/UserUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendEytsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendInductionCompletedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendInternationalQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Events/Processing/PublishEventsBackgroundServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/AddUser/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUserTests.cs
Due: dotnet-format

Fix up schema for existing events in DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20231207135313_SourceUserIdEventSchema.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20231207135313_SourceUserIdEventSchema.cs
Due: dotnet-format

Amend Event schema to more easily track PersonId and source UserId (#956)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20231207135313_SourceUserIdEventSchema.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20231207135313_SourceUserIdEventSchema.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/User.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/EventBase.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/EytsAwardedEmailSentEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/IEventWithPersonId.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/InductionCompletedEmailSentEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/InternationalQtsAwardedEmailSentEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/QtsAwardedEmailSentEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/UserActivatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/UserAddedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/UserDeactivatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/UserUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendEytsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendInductionCompletedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendInternationalQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SendQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/AddUser/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Events/Processing/PublishEventsBackgroundServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/AddUser/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUserTests.cs
Due: dotnet-format

Add EventInfo wrapper type for serializing events
  TeachingRecordSystem/Directory.Build.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Event.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventInfo.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/EventInfoTests.cs
Due: dotnet-format

Add EventInfo wrapper type for serializing events (#957)
  TeachingRecordSystem/Directory.Build.props
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Event.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventInfo.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/EventInfoTests.cs
Due: dotnet-format

Added View MQ (CRM + UI + tests)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetQualificationsByContactIdQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetQualificationsByContactIdHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Common/PersonSubNavigationTab.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/Provider.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/Provider.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/Result.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/Specialism.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/StartDate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Qualifications.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Qualifications.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/CreateMandatoryQualificationTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetQualificationsByContactIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/MqTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/AddMq/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/QualificationsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreatePerson.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Added View MQ (CRM + UI + tests) (#931)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetQualificationsByContactIdQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetQualificationsByContactIdHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/ReferenceDataCache.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Common/PersonSubNavigationTab.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/Provider.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/Provider.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/Result.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/Specialism.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/StartDate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Qualifications.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Qualifications.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/CreateMandatoryQualificationTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetQualificationsByContactIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/MqTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/AddMq/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/QualificationsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreatePerson.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format
