Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

remove references to obsolete User.Roles (#2526)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/UserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250910111520_RemoveLegacyUserRoles.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20250910111520_RemoveLegacyUserRoles.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/User.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/User.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AdministratorAuthorization.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AlertsAuthorization.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacyAdminOnlyAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacyAlertTypeAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacyAlertsEditAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacyAlertsViewAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacyNonPersonOrAlertDataEditAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacyNonPersonOrAlertDataViewAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacyNotesViewAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacyPersonDataEditAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacySupportTasksEditAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacySupportTasksViewAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/AuthorizationHandlers/Legacy/LegacyUserManagementAuthorizationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/ClaimsExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/NonPersonOrAlertDataAuthorization.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/PersonDataAuthorization.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/SupportTasksAuthorization.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Security/UserManagementAuthorization.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/MyRoles.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/MyRoles.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaExportAmendJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/AlertDetailsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogAlertEventsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/InductionTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateUser.cs
Due: dotnet-format

Update lock files
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.TUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Recalculate matches when starting resolve journeys
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/ResolveApiTrnRequestState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/ResolveNpqTrnRequestState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/FormFlow/Filters/ActivateInstanceFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/FormFlow/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/NpqTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MergeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MergeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateApiTrnRequestSupportTask.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateNpqTrnRequestSupportTask.cs
Due: dotnet-format

Recalculate matches when starting resolve journeys (#2539)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/ResolveApiTrnRequestState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/ResolveNpqTrnRequestState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/FormFlow/Filters/ActivateInstanceFilter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/FormFlow/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/NpqTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MergeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MergeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateApiTrnRequestSupportTask.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateNpqTrnRequestSupportTask.cs
Due: dotnet-format

Added config to create pentest environment
  Makefile
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/appsettings.aks_pentest_shared.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.aks_pentest.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.aks_pentest.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.aks_pentest.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.aks_pentest.json
  global_config/pentest.sh
  terraform/aks/config/pentest.backend.tfvars
  terraform/aks/config/pentest.tfvars.json
  terraform/domains/environment_domains/config/pentest.tfvars.json
  terraform/domains/environment_domains/config/pentest_backend.tfvars
Due: none

Tweaked settings to use platform-test AKS
  TeachingRecordSystem/appsettings.aks_pentest_shared.json
  terraform/aks/config/pentest.backend.tfvars
  terraform/aks/config/pentest.tfvars.json
Due: none

fixed typo
  Makefile
Due: none

use test subscription
  global_config/pentest.sh
Due: none

Handle empty NINOs and emails when creating a record from TRN requests
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnRequests/TrnRequestService.cs
Due: dotnet-format

Handle empty NINOs and emails when creating a record from TRN requests (#2542)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnRequests/TrnRequestService.cs
Due: dotnet-format

Fixed issues following PR review
  Makefile
  terraform/aks/config/pentest.tfvars.json
  terraform/domains/environment_domains/config/pentest.tfvars.json
Due: none

make check for email case-insensitive
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/PersonalEmail.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/PersonalEmailTests.cs
Due: dotnet-format

Fix Hangfire dashboard
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Fix Hangfire dashboard (#2544)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Added job to allocate a TRN to a specific person
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/AllocateTrnToPersonJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
Due: dotnet-format

Added job to allocate a TRN to a specific person (#2545)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/AllocateTrnToPersonJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
Due: dotnet-format

updated static text
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Index.cshtml
Due: none

Wrapped initial enqueued job in transaction for hangfire jobs with multiple chained jobs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/ImportTpsCsvExtractFileJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshEstablishmentsJob.cs
Due: dotnet-format

feat(2437): initial commit
  TeachingRecordSystem/Dockerfile
  terraform/aks/app.tf
  terraform/aks/variables.tf
Due: tf-format

feat(2437): fix terraform fmt
  terraform/aks/app.tf
Due: tf-format

feat(2437): remove dir hardening for now
  TeachingRecordSystem/Dockerfile
Due: none

Wrapped initial enqueued job in transaction for hangfire jobs with multiple chained jobs (#2546)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/ImportTpsCsvExtractFileJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshEstablishmentsJob.cs
Due: dotnet-format

feat(2437): grant recursive access to Apps dir
  TeachingRecordSystem/Dockerfile
Due: none

job to remove old journey states from the DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RemoveStaleJourneyStatesJob.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/RemoveStaleJourneyStatesJobTests.cs
Due: dotnet-format

Wrapped entire chain of jobs being queued in a transaction
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/ImportTpsCsvExtractFileJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshEstablishmentsJob.cs
Due: dotnet-format

feat(2437): try to fix failing migration container
  terraform/aks/app.tf
Due: tf-format

make check for email case-insensitive (#2543)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/PersonalEmail.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/PersonalEmailTests.cs
Due: dotnet-format

Wrapped entire chain of jobs being queued in a transaction (#2548)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/ImportTpsCsvExtractFileJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshEstablishmentsJob.cs
Due: dotnet-format

wip - to-do - check changes for add route. Bug found on age-range page - move from invalid age from to enmtered, to a different radio selected - from, to not cleared
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/AddRouteCommonPageModel.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/AgeRangeSpecialism.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/AgeRangeSpecialism.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/ChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/ChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/ChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/Country.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/DegreeType.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/HoldsFrom.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/InductionExemption.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/Route.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/StartAndEndDates.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/Status.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/SubjectSpecialisms.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/TrainingProvider.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/_RouteDetail.cshtml
Due: dotnet-format

static content changes
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Qualifications.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/RouteToProfessionalStatusCreatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/RouteToProfessionalStatusDeletedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/RouteToProfessionalStatusMigratedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/RouteToProfessionalStatusUpdatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/HoldsFrom.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AddRoute/_RouteDetail.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/ChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/ChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/ChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/_RouteDetail.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/AgeRangeSpecialism.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/ChangeReason.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/ChangeReason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/ChangeReasonOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/Country.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/DegreeType.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/EditRouteCommonPageModel.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/HoldsFrom.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/HoldsFrom.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/InductionExemption.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/StartAndEndDates.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/Status.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/Status.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/SubjectSpecialisms.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/TrainingProvider.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/_RouteDetail.cshtml
Due: dotnet-format

fix age-range bug - edit route
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/EditRoute/AgeRangeSpecialismTests.cs
Due: dotnet-format

fix age-range validation
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/AgeRange.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Reject/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ValidationAttributes/AgeRangeFromValidationAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ValidationAttributes/AgeRangeToValidationAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/RoutesToProfessionalStatus/AddRoute/AgeRangeSpecialismTests.cs
Due: dotnet-format

feat(2437): revert to previous whitespace
  terraform/aks/app.tf
Due: tf-format
