Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

set env variable for sftp storage container
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Development.json
  terraform/aks/app.tf
Due: tf-format

Fix AD user lookup when adding a user
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Redis/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Type.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/InductionExemption.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Deactivate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/Infrastructure/Redis/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/TeachingRecordSystem.WebCommon.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

Fix AD user lookup when adding a user (#2637)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Redis/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Type.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/DeleteRoute/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/CheckYourAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/InductionExemption.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/RoutesToProfessionalStatus/EditRoute/Reason.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/EditUser/Deactivate.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/Infrastructure/Redis/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/TeachingRecordSystem.WebCommon.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

terraform sftp storage account key (#2638)
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.Development.json
  terraform/aks/app.tf
Due: tf-format

wip
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_PersonDetail.cshtml
Due: none

Fix failing tests
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/CheckAnswersTests.cs
Due: dotnet-format

Fix failing tests
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/IndexTests.cs
Due: dotnet-format

Content changes: 'General' tab and deactivate/reactivate pages (#2635)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/SetStatus/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_PersonDetail.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/SetStatus/CheckAnswersTests.cs
Due: dotnet-format

Fixed bug so Search button posts to Persons Index page
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
Due: none

Fixed bug so Search button posts to Persons Index page (#2641)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
Due: none

Update lock files
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.TUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

rewire ewc/capita job to use keyed storageclient
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportAmendJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportNewJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaImportJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EwcWalesImport/EwcWalesImportJob.cs
Due: dotnet-format

refactor jobs re-write to sftp storage account
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportAmendJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportNewJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaImportJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EwcWalesImport/EwcWalesImportJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/DataStore/Postgres/Models/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaExportAmendJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaExportNewJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaImportJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EwcWalesImportJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.TUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ValidationExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/DataStore/Postgres/Models/PersonTests.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportAmendJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportNewJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaImportJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/ValidationExtensions.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.TUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Add new event tables to reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251015122713_AddProcessToPublication.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251015122713_AddProcessToPublication.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0092_Processes.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Add new event tables to reporting DB (#2642)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251015122713_AddProcessToPublication.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251015122713_AddProcessToPublication.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0092_Processes.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Configure sftp storage account name & access key variable
  terraform/aks/app.tf
Due: tf-format

Configure sftp storage account name & access key variable (#2644)
  terraform/aks/app.tf
Due: tf-format

rewire integration jobs to use sftp
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportAmendJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportNewJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaImportJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/EwcWalesImport/EwcWalesImportJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaExportAmendJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaExportNewJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaImportJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EwcWalesImportJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.TUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon.XUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

Support Tasks: show potential duplicates side-by-side if there is only one matching record
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MatchesTests.cs
Due: dotnet-format

Show potential duplicates side-by-side if there is only one matching record (#2645)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/MergePerson/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/Styles/site.scss
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MatchesTests.cs
Due: dotnet-format

Amend SyncAllDqtContactAuditsJob job to resync audits
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SyncAllDqtContactAuditsJob.cs
Due: dotnet-format

Don't use blob storage audit repo; it's got stale data in
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
Due: dotnet-format

Fix escaping HTML for plaintext note content
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/HtmlHelperExtensions.cs
Due: dotnet-format

Fix escaping HTML for plaintext note content (#2647)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/HtmlHelperExtensions.cs
Due: dotnet-format

Amend SyncAllDqtContactAuditsJob job to resync audits (#2646)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SyncAllDqtContactAuditsJob.cs
Due: dotnet-format

Only show tps duplicate change events that are merges in change history
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/ChangeHistory.cshtml.cs
Due: dotnet-format

Only show tps duplicate change events that are merges in change history (#2648)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/ChangeHistory.cshtml.cs
Due: dotnet-format

Remove error and warning-like colors from ColoredTagHelper
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TagHelpers/ColoredTagHelper.cs
Due: dotnet-format

Remove error and warning-like colors from ColoredTagHelper (#2649)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TagHelpers/ColoredTagHelper.cs
Due: dotnet-format

Add index on ProcessId on ProcessEvent
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/ProcessEventMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251016153951_ProcessEventProcessIdIndex.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251016153951_ProcessEventProcessIdIndex.cs
Due: dotnet-format

Add index on ProcessId on ProcessEvent (#2650)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/ProcessEventMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251016153951_ProcessEventProcessIdIndex.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251016153951_ProcessEventProcessIdIndex.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
