Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Enable logit for nonprod environments
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/aks/workspace_variables/test.tfvars.json
Due: tf-format

Enable logit for nonprod environments (#1345)
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/aks/workspace_variables/test.tfvars.json
Due: tf-format

Added v3 put QTLS endpoint
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Properties/StringResources.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Properties/StringResources.resx
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/SetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/QtlsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/SetQtlsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Validators/SetQtlsRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Validation/ErrorRegistry.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240117103944_ApiKey.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/TrsDbContextModelSnapshot.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.SetIttResultForTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/InductionRecord.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateTaskQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveInductionByContactIdQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/SetQtlsDateQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateTaskHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetInductionByContactIdHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/SetQtlsDateHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/GetQtlsDateRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/SetQtlsDateRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/DataverseAdapterTests/SetIttOutcomeForTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/PluginTests/QTSRegistrationDeleteTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/PluginTests/UpdateInductionStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/PluginTests/UpdateQtlsDateSetTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateReviewTaskTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetInductionByContactIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/SetQtlsDateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/FakeXrmEasy/Plugins/QtsRegistrationUpdatedPlugin.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/FakeXrmEasy/Plugins/UpdateInductionStatusPlugin.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/FakeXrmEasy/Plugins/UpdateQtlsDateSetPlugin.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateAccount.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Added v3 put QTLS endpoint (#1186)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Properties/StringResources.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Properties/StringResources.resx
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/SetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/SharedModels/QtlsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/SetQtlsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Validators/SetQtlsRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Validation/ErrorRegistry.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240117103944_ApiKey.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/TrsDbContextModelSnapshot.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.SetIttResultForTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/InductionRecord.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateTaskQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveInductionByContactIdQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/SetQtlsDateQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateTaskHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetInductionByContactIdHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/SetQtlsDateHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/GetQtlsDateRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/SetQtlsDateRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/DataverseAdapterTests/SetIttOutcomeForTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/PluginTests/QTSRegistrationDeleteTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/PluginTests/UpdateInductionStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/PluginTests/UpdateQtlsDateSetTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateReviewTaskTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetInductionByContactIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/SetQtlsDateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/FakeXrmEasy/Plugins/QtsRegistrationUpdatedPlugin.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/FakeXrmEasy/Plugins/UpdateInductionStatusPlugin.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/FakeXrmEasy/Plugins/UpdateQtlsDateSetPlugin.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateAccount.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Simplify referencing previous version DTOs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Requests/GetTeacherRequestIncludes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Responses/GetTeacherResponse.cs
Due: dotnet-format

Simplify referencing previous version DTOs (#1358)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Requests/GetTeacherRequestIncludes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Responses/GetTeacherResponse.cs
Due: dotnet-format

Add versioned ApiModel for QtlsInfo
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/SetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/ApiModels/QtlsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/SetQtlsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Validators/SetQtlsRequestValidator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/SetQtlsDateRequestTests.cs
Due: dotnet-format

Add versioned ApiModel for QtlsInfo (#1359)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/SetQtls.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/ApiModels/QtlsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/SetQtlsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Validators/SetQtlsRequestValidator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/SetQtlsDateRequestTests.cs
Due: dotnet-format

Don't use AutoMapper from mapping from request objects
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Requests/CreateDateOfBirthChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Requests/CreateNameChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240412/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240412/Requests/CreateDateOfBirthChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240412/Requests/CreateNameChangeRequestRequest.cs
Due: dotnet-format

Don't use AutoMapper from mapping from request objects (#1356)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Requests/CreateDateOfBirthChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Requests/CreateNameChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240412/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240412/Requests/CreateDateOfBirthChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240412/Requests/CreateNameChangeRequestRequest.cs
Due: dotnet-format

Rename teacher endpoints to person
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersons.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Requests/CreateDateOfBirthChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Requests/CreateNameChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Requests/FindPersonsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Requests/GetPersonRequestIncludes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/FindPersonsResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/GetPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Validators/CreateDateOfBirthChangeRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Validators/CreateNameChangeRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Validators/FindTeachersRequestValidator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/GetPersonByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/GetPersonTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/GetPersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/TestBase.cs
Due: dotnet-format

Rename teacher endpoints to person (#1360)
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersons.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Requests/CreateDateOfBirthChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Requests/CreateNameChangeRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Requests/FindPersonsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Requests/GetPersonRequestIncludes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/FindPersonsResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Responses/GetPersonResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Validators/CreateDateOfBirthChangeRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Validators/CreateNameChangeRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Validators/FindTeachersRequestValidator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/GetPersonByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/GetPersonTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/GetPersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/TestBase.cs
Due: dotnet-format

Match on email address alone in duplicates query
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/FindPotentialDuplicateContactsHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/FindPotentialDuplicateContactsTests.cs
Due: dotnet-format

Match on email address alone in duplicates query (#1361)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/FindPotentialDuplicateContactsHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/FindPotentialDuplicateContactsTests.cs
Due: dotnet-format

Added documentation for workforce data monthly import
  docs/workforce-data-import/monthly-process.md
Due: none

Tweaked docs based on PR comments
  docs/workforce-data-import/monthly-process.md
Due: none

Added documentation for workforce data monthly import (#1362)
  docs/workforce-data-import/monthly-process.md
Due: none

Small content change to request a TRN journey check answers page
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/CheckAnswers.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/CheckAnswersTests.cs
Due: dotnet-format

Small content change to request a TRN journey check answers page (#1363)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/CheckAnswers.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/CheckAnswersTests.cs
Due: dotnet-format

Check previous last name when looking for duplicates
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/FindPotentialDuplicateContactsHandler.cs
Due: dotnet-format

Check previous last name when looking for duplicates (#1365)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/FindPotentialDuplicateContactsHandler.cs
Due: dotnet-format

Handle missing email address in TRN request
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateTrnRequest.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240307/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/CreateTrnRequestTests.cs
Due: dotnet-format

Handle missing email address in TRN request (#1366)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateTrnRequest.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240307/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/CreateTrnRequestTests.cs
Due: dotnet-format

added all integrations to .dsl file
  docs/trs-integration.dsl
Due: none

added all integrations to .dsl file (#1367)
  docs/trs-integration.dsl
Due: none

Shorten helper method name and use it more
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/NationalInsuranceNumberHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/PersonMatchingService.cs
Due: dotnet-format

Shorten helper method name and use it more (#1352)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/NationalInsuranceNumberHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/PersonMatchingService.cs
Due: dotnet-format

Fix font size on request-trn/submitted page
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Submitted.cshtml
Due: none

Normalize NINO in task description
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/CheckAnswers.cshtml.cs
Due: dotnet-format

Fixes a couple of niggles in the request TRN journey (#1368)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/RequestTrn/Submitted.cshtml
Due: dotnet-format

Ensure we don't miss events
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/PublishEventsBackgroundService.cs
Due: dotnet-format

Ensure we don't miss events (#1369)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/PublishEventsBackgroundService.cs
Due: dotnet-format

Tidy cancellation handling in PublishEventsBackgroundService
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/PublishEventsBackgroundService.cs
Due: dotnet-format

Tidy cancellation handling in PublishEventsBackgroundService (#1370)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/PublishEventsBackgroundService.cs
Due: dotnet-format

Update TRN API spec to include API version
  docs/api-designs/trn.md
Due: none

Update TRN API spec to include API version (#1371)
  docs/api-designs/trn.md
Due: none

updated readme and re-cut diagrams from .dsl#
  README.md
  docs/c4-diagrams-as-code/trs-integration.dsl
  docs/c4-diagrams-as-code/trs-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-external-data-integrations-c4.dsl
  docs/c4-diagrams-as-code/trs-tps-as-is-and-to-be.jpg
  docs/c4-diagrams-as-code/trs-tps.jpg
Due: none

updated readme and re-cut diagrams from .dsl# (#1372)
  README.md
  docs/c4-diagrams-as-code/trs-integration.dsl
  docs/c4-diagrams-as-code/trs-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-external-data-integrations-c4.dsl
  docs/c4-diagrams-as-code/trs-tps-as-is-and-to-be.jpg
  docs/c4-diagrams-as-code/trs-tps.jpg
Due: none

Shorten timeout and add retries to TrnGenerationApiClient
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnGenerationApi/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnGenerationApi/TrnGenerationApiClient.cs
Due: dotnet-format

Shorten timeout and add retries to TrnGenerationApiClient (#1373)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnGenerationApi/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnGenerationApi/TrnGenerationApiClient.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
