Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Dynamic API client for tests
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ApiKeyAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Testing.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/TestAuthentication.cs
Due: dotnet-format

Dynamic API client for tests (#921)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ApiKeyAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Testing.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/TestAuthentication.cs
Due: dotnet-format

Aligned UI and CRM paging for Cases
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GetIncidentsResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveIncidentsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveIncidentsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByNameHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml.cs
Due: dotnet-format

Fixed a number of snags
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/Alert/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Refactored how we get incident details and documents so that it is testable using fake XRM
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/IncidentDetail.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetIncidentByTicketNumberQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetIncidentByTicketNumberHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/Alert/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Accept.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Reject.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetIncidentByTicketNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/Alert/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateDateOfBirthChangeIncident.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateNameChangeIncident.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreatePerson.cs
Due: dotnet-format

Added paging to cases + exclude non-uploaded file annotations from document queries
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetDocumentByIdHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetIncidentByTicketNumberHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Fixed broken test
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetActiveIncidentsTests.cs
Due: dotnet-format

Fixed compiler warning
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

TRS console snags (#923)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GetIncidentsResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/IncidentDetail.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetActiveIncidentsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetIncidentByTicketNumberQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetActiveIncidentsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactsByNameHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetDocumentByIdHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetIncidentByTicketNumberHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/AddAlert/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Alerts/Alert/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Accept.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/EditCase/Reject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Cases/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Alerts.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetActiveIncidentsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetIncidentByTicketNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/Alert/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateDateOfBirthChangeIncident.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreateNameChangeIncident.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CrmTestData.CreatePerson.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Add AllowIdSignInWithProhibitions member to v3 teacher response
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/ExcludeFromSchemaAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/RemoveExcludedEnumOptionsSchemaProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/ApiModels/AlertInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Requests/GetTeacherRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetSanctionsByContactIdsHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetSanctionsByContactIdsTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Add AllowIdSignInWithProhibitions member to v3 teacher response (#913)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/ExcludeFromSchemaAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/RemoveExcludedEnumOptionsSchemaProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/ApiModels/AlertInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Requests/GetTeacherRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetSanctionsByContactIdsHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/QueryTests/GetSanctionsByContactIdsTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Fix flaky API tests
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/GetAnIdentity/GetAnIdentityOptions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Endpoints/IdentityWebHooks/GetAnIdentityEndpointsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TestScopedServices.cs
Due: dotnet-format

Fix flaky API tests (#924)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/GetAnIdentity/GetAnIdentityOptions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Endpoints/IdentityWebHooks/GetAnIdentityEndpointsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TestScopedServices.cs
Due: dotnet-format

Add Terraform outputs for backup container/account name
  terraform/aks/outputs.tf
Due: tf-format

Add Terraform outputs for backup container/account name (#925)
  terraform/aks/outputs.tf
Due: tf-format

Add workflow to backup production DB
  .github/workflows/backup-db.yml
Due: none

Add workflow to backup production DB (#926)
  .github/workflows/backup-db.yml
Due: none

Add more StatusCake monitoring
  terraform/aks/monitoring.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: tf-format

Pin terraform version to 1.5.0
  .tool-versions
  terraform/aks/terraform.tf
Due: tf-format

[775] Add more StatusCake monitoring (#928)
  .tool-versions
  terraform/aks/monitoring.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: tf-format

Only return active ITT records
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
Due: dotnet-format

Add a StatusDescription property to v3 Induction responses
  TeachingRecordSystem/src/TeachingRecordSystem.Api/EnumHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V1/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/ClassDivision.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/Gender.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/IttQualificationAim.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/ApiModels/InductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
Due: dotnet-format

Fix ITT query to return records without a provider
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
Due: dotnet-format

API tweaks for Check (#930)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/EnumHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V1/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/ClassDivision.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/Gender.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/IttQualificationAim.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/ApiModels/InductionStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
Due: dotnet-format

Add roles authentication to v2 endpoints
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/ApplicationModel/AuthorizationPolicyConvention.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/AddSecuritySchemeOperationProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ApiClient.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ApiKeyAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/AuthorizationPolicies.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ConfigurationApiClientRepository.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/RoleNames.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V1/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/IttOutcomeController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/IttProvidersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/NpqQualificationsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/TrnRequestsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/UnlockTeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Controllers/TeachersController.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Attributes/RoleNamesData.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetOrCreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/SetIttOutcomeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/SetNpqQualificationTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/UnlockTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/UpdateTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherByTrnTests.cs
Due: dotnet-format

Add roles authentication to v2 endpoints (#922)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/ApplicationModel/AuthorizationPolicyConvention.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/OpenApi/AddSecuritySchemeOperationProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ApiClient.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ApiKeyAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/AuthorizationPolicies.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/ConfigurationApiClientRepository.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Security/RoleNames.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V1/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/IttOutcomeController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/IttProvidersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/NpqQualificationsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/TrnRequestsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/UnlockTeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Controllers/TeachersController.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Attributes/RoleNamesData.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/TestAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetOrCreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/SetIttOutcomeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/SetNpqQualificationTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/UnlockTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/UpdateTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherByTrnTests.cs
Due: dotnet-format

Add draft TRN API spec
  docs/api-designs/trn.md
Due: none

Add draft QTLS API spec
  docs/api-designs/qtls.md
Due: none

Add initial webhooks doc
  docs/api-designs/webhooks.md
Due: none

Add NINO to TRN API spec
  docs/api-designs/trn.md
Due: none

Add draft API specs for TRN allocation, QTLS and Alert webhooks (#890)
  docs/api-designs/qtls.md
  docs/api-designs/trn.md
  docs/api-designs/webhooks.md
Due: none

Reduce page size of change feed queries in DqtReportingService
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Reduce page size of change feed queries in DqtReportingService (#935)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Added other class/division
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/ClassDivision.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
Due: dotnet-format

Added other class/division (#920)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/ApiModels/ClassDivision.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
Due: dotnet-format

Increase memory of production API containers to 2GiB
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: tf-format

Increase memory of production API containers to 2GiB (#936)
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/production.tfvars.json
Due: tf-format

Use the built-in mechanism for camel casing error messages
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Validation/CamelCaseErrorKeysProblemDetailsFactory.cs
Due: dotnet-format

Use central package management
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/lib/Directory.Packages.props
  TeachingRecordSystem/nuget.config
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/TeachingRecordSystem.Cli.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/TeachingRecordSystem.Core.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TeachingRecordSystem.SupportUi.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
Due: none

Use central package management (#937)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/lib/Directory.Packages.props
  TeachingRecordSystem/nuget.config
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/TeachingRecordSystem.Cli.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.Tests/TeachingRecordSystem.Core.Dqt.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/TeachingRecordSystem.Core.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TeachingRecordSystem.SupportUi.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
Due: none

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
