Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Use federated auth for DfE Analytics (#1410)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/lib/Dfe.Analytics.0.2.2.nupkg
  TeachingRecordSystem/lib/Dfe.Analytics.0.2.3.nupkg
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  terraform/aks/app.tf
Due: dotnet-format, tf-format

Add database url to app (#1503)
  terraform/aks/.terraform.lock.hcl
  terraform/aks/app.tf
Due: tf-format

Add manual deploy to workflows
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

Add manual deploy to workflows (#1505)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
Due: none

Disable flaky e2e test
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/RequestTrnTests.cs
Due: dotnet-format

Disable flaky e2e test (#1507)
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/RequestTrnTests.cs
Due: dotnet-format

Release QTLS endpoints
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240912/ApiModels/QtlsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240912/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240912/Requests/SetQtlsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Validators/SetQtlsRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/VersionRegistry.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240912/GetQtlsDateRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240912/SetQtlsDateRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240912/TestBase.cs
Due: dotnet-format

Release QTLS endpoints (#1508)
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240912/ApiModels/QtlsInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240912/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240912/Requests/SetQtlsRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Validators/SetQtlsRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/VersionRegistry.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240912/GetQtlsDateRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240912/SetQtlsDateRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240912/TestBase.cs
Due: dotnet-format

Don't expose G1 sanctions over the API
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Constants.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/GetPersonTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/SeedCrmReferenceData.cs
Due: dotnet-format

Don't expose G1 sanctions over the API (#1509)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Constants.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240606/GetPersonTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240814/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/SeedCrmReferenceData.cs
Due: dotnet-format

Add a /sha endpoint with the git commit hash
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
Due: dotnet-format

Add a /sha endpoint with the git commit hash (#1510)
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
Due: dotnet-format

Handle 'redundant' alert types that are not being migrated
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonByLastNameAndDateOfBirth.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonsByTrnAndDateOfBirth.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ReferenceDataCache.cs
Due: dotnet-format

Handle 'redundant' alert types that are not being migrated (#1511)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonByLastNameAndDateOfBirth.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/FindPersonsByTrnAndDateOfBirth.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetPerson.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ReferenceDataCache.cs
Due: dotnet-format

Add new deceased endpoint
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/SetDeceasedRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/SetDeceasedRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Validators/SetDeceasedRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/SetDeceasedQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/SetDeceasedHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/SetDeceasedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/SetDeceasedQueryTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Add new deceased endpoint (#1504)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/SetDeceasedRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/SetDeceasedRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Validators/SetDeceasedRequestValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedOptionSets.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/SetDeceasedQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/SetDeceasedHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/VNext/SetDeceasedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/SetDeceasedQueryTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Remove Makefile paas targets
  Makefile
Due: none

Rename environments: remove _aks suffix
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/backup-db.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/main.yml
  Makefile
Due: none

Makefile: remove "aks" target
  Makefile
Due: none

Remove PASSCODE variable
  Makefile
  docs/restore-paas-postgres-database.md
Due: none

Makefile formatting
  Makefile
Due: none

[2044] Rename "aks" environments (#1512)
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/backup-db.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/main.yml
  Makefile
  docs/restore-paas-postgres-database.md
Due: none

Remove induction periods from the API
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Responses/GetPersonResponse.cs
Due: dotnet-format

Remove induction periods from the latest API version (#1513)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Responses/GetPersonResponse.cs
Due: dotnet-format

Delete old paas docs
  bin/download-db-backup
  bin/restore-db
Due: none

Remove implicit azure variables in terraform
  .github/workflows/actions/deploy-aks-environment/action.yml
  terraform/aks/provider.tf
  terraform/aks/variables.tf
Due: tf-format

Move Makefile config to global_config
  Makefile
  bin/.gitkeep
  global_config/dev.sh
  global_config/domains.sh
  global_config/dv_review.sh
  global_config/pre-production.sh
  global_config/production.sh
  global_config/test.sh
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/infrastructure/.terraform.lock.hcl
Due: none

[2044] Export environments config to global_config (#1514)
  .github/workflows/actions/deploy-aks-environment/action.yml
  Makefile
  bin/.gitkeep
  bin/download-db-backup
  bin/restore-db
  global_config/dev.sh
  global_config/domains.sh
  global_config/dv_review.sh
  global_config/pre-production.sh
  global_config/production.sh
  global_config/test.sh
  terraform/aks/provider.tf
  terraform/aks/variables.tf
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/infrastructure/.terraform.lock.hcl
Due: tf-format

Download terraform modules using terrafile
  .gitignore
  Makefile
  terraform/aks/app.tf
  terraform/aks/config/dev.backend.tfvars
  terraform/aks/config/dev.tfvars.json
  terraform/aks/config/dev_Terrafile
  terraform/aks/config/dv_review.backend.tfvars
  terraform/aks/config/dv_review.tfvars.json
  terraform/aks/config/dv_review_Terrafile
  terraform/aks/config/pre-production.backend.tfvars
  terraform/aks/config/pre-production.tfvars.json
  terraform/aks/config/pre-production_Terrafile
  terraform/aks/config/production.backend.tfvars
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/production_Terrafile
  terraform/aks/config/test.backend.tfvars
  terraform/aks/config/test.tfvars.json
  terraform/aks/config/test_Terrafile
  terraform/aks/data.tf
  terraform/aks/databases.tf
  terraform/aks/monitoring.tf
  terraform/aks/secrets.tf
Due: tf-format

Fix terrafile issue
  .github/workflows/pr.yml
  Makefile
Due: none

[2044] Fix terrafile issue (#1516)
  .github/workflows/pr.yml
  Makefile
Due: none

Don't deploy to prod if deploy to test failed
  .github/workflows/main.yml
Due: none

Only deploy to prod if deploy to test succeeded (#1515)
  .github/workflows/main.yml
Due: none

Remove ShyEmail function
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/HtmlHelperExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/Index.cshtml
Due: dotnet-format

Remove ShyEmail function (#1492)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/HtmlHelperExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Users/Index.cshtml
Due: dotnet-format

Fix up a couple of tests setting the wrong data
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
Due: dotnet-format

Fix up a couple of tests setting the wrong data (#1482)
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
Due: dotnet-format

Add alerts API spec and stub endpoints
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/ApiModels/PersonInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/AlertsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/CreateAlertRequestBody.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/UpdateAlertRequestBody.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Responses/AlertResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiRoles.cs
  docs/api-designs/alerts.md
Due: dotnet-format

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
