Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Store TRN request info in CRM
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TrnRequestHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.CreateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/CreateTeacherCommand.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/CreateTeacherResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateTeacherQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactByTrnRequestIdQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateContactHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactByTrnRequestIdHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetOrCreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240307/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240307/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateContactTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactDetailByIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactDetailByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactsByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactsByNameTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetContactByTrnRequestIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Store TRN request info in CRM (#1377)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TrnRequestHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetTrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TrnRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.CreateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/CreateTeacherCommand.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/CreateTeacherResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateTeacherQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetContactByTrnRequestIdQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateContactHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetContactByTrnRequestIdHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetOrCreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240307/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240307/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateContactTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactDetailByIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactDetailByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactsByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetActiveContactsByNameTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/GetContactByTrnRequestIdTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Add emailaddress to incident/case
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0026_case_emailaddress.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Restore metrics endpoint
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/TeachingRecordSystem.ServiceDefaults.csproj
Due: dotnet-format

Restore metrics endpoint (#1394)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/TeachingRecordSystem.ServiceDefaults.csproj
Due: dotnet-format

Tweaked job which updates person_employments establishments to the latest open version e.g. academy converters
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshEstablishmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/TpsCsvExtractProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/UpdatedPersonEmploymentEstablishment.cs
Due: dotnet-format

Optimize job which updates person employments with latest establishment version (#1395)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshEstablishmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/TpsCsvExtractProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/UpdatedPersonEmploymentEstablishment.cs
Due: dotnet-format

Fix case sensitivity in synonym lookup
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/NameSynonyms/NameSynonymProvider.cs
Due: dotnet-format

Fix case sensitivity in synonym lookup (#1398)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/NameSynonyms/NameSynonymProvider.cs
Due: dotnet-format

Added optional timeout when saving batches of events
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/NpgsqlExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/TpsCsvExtractProcessor.cs
Due: dotnet-format

Added optional timeout when saving batches of events (#1399)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/NpgsqlExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/TpsCsvExtractProcessor.cs
Due: dotnet-format

Populate incident.dfeta_emailaddress
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateDateOfBirthChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateNameChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240412/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateDateOfBirthChangeIncidentQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateNameChangeIncidentQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateDateOfBirthChangeIncidentHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateNameChangeIncidentHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateDateOfBirthChangeIncidentTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateNameChangeIncidentTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Updated workforce data docs
  docs/workforce-data-import/monthly-process.md
Due: none

Updated workforce data docs (#1401)
  docs/workforce-data-import/monthly-process.md
Due: none

Add a job to delete old incident attachments
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/DeleteAnnotationQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetResolvedIncidentAnnotationsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/DeleteAnnotationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetResolvedIncidentAnnotationsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/DqtAnnotationDeletedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/DeleteOldIncidentAttachmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Review app config added.
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/app.tf
  terraform/aks/databases.tf
  terraform/aks/dqt-reporting.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dv_review.backend.tfvars
  terraform/aks/workspace_variables/dv_review.tfvars.json
Due: tf-format

Reduce the console logs
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
Due: none

Reduce the console logs (#1403)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Production.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
Due: none

Workaround partial stated name attributes
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/ContactExtensions.cs
Due: dotnet-format

Workaround partial stated name attributes (#1405)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/ContactExtensions.cs
Due: dotnet-format

Redact PII from request URLs in logs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/HttpRequestExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/ApplicationInsights/RedactedUrlTelemetryProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/RedactQueryParamAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/RedactedUrlParameters.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/RemoveRedactedUrlParametersEnricher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/RemoveRedactedUrlParametersEventProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V1/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/IttOutcomeController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TeachingRecordSystem.AuthorizeAccess.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/ApplicationInsights/RedactedUrlTelemetryProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/RedactParametersAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/RedactedParametersMetadata.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/RemoveRedactedUrlParametersEnricher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/RemoveRedactedUrlParametersEventProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/UrlRedactor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/TeachingRecordSystem.ServiceDefaults.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
Due: dotnet-format

Redact PII from request URLs in logs (#1406)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/HttpRequestExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/ApplicationInsights/RedactedUrlTelemetryProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/RedactQueryParamAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/RedactedUrlParameters.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/RemoveRedactedUrlParametersEnricher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Logging/RemoveRedactedUrlParametersEventProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V1/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/IttOutcomeController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TeachingRecordSystem.AuthorizeAccess.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/ApplicationInsights/RedactedUrlTelemetryProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/RedactParametersAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/RedactedParametersMetadata.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/RemoveRedactedUrlParametersEnricher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/RemoveRedactedUrlParametersEventProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/UrlRedactor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.ServiceDefaults/TeachingRecordSystem.ServiceDefaults.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Infrastructure/Logging/WebApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
Due: dotnet-format

Move reporting DB migrations into Worker start up
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/HostApplicationBuilderExtensions.cs
  terraform/aks/app.tf
  terraform/aks/dqt-reporting.tf
Due: dotnet-format, tf-format

Move reporting DB migrations into Worker start up (#1407)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/HostApplicationBuilderExtensions.cs
  terraform/aks/app.tf
  terraform/aks/dqt-reporting.tf
Due: dotnet-format, tf-format

Review app config added.
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/app.tf
  terraform/aks/databases.tf
  terraform/aks/dqt-reporting.tf
  terraform/aks/storage.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dv_review.backend.tfvars
  terraform/aks/workspace_variables/dv_review.tfvars.json
Due: tf-format

Review app config added. (#1396)
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/app.tf
  terraform/aks/databases.tf
  terraform/aks/dqt-reporting.tf
  terraform/aks/storage.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dv_review.backend.tfvars
  terraform/aks/workspace_variables/dv_review.tfvars.json
Due: tf-format

Populate incident email (#1397)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateDateOfBirthChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/CreateNameChangeRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240412/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateDateOfBirthChangeIncidentQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateNameChangeIncidentQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateDateOfBirthChangeIncidentHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateNameChangeIncidentHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateDateOfBirthChangeIncidentTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/CreateNameChangeIncidentTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Add a job to delete old incident attachments
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/DeleteAnnotationQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetResolvedIncidentAnnotationsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/DeleteAnnotationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetResolvedIncidentAnnotationsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/DqtAnnotationDeletedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/DeleteOldIncidentAttachmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Dqt.CrmIntegrationTests/QueryTests/DeleteAnnotationTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateDateOfBirthChangeIncident.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Extend attachment deletion job to cover TRN request tasks
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/CreateTrnRequestTaskQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/Queries/GetNonOpenTaskAnnotationsQuery.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/CreateTrnRequestTaskHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/QueryHandlers/GetNonOpenTaskAnnotationsHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/DeleteOldIncidentAttachmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
Due: dotnet-format

Sync events from DQT to TRS
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/NpgsqlExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventInfo.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrsDataSync/TrsDataSyncService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/appsettings.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.Event.cs
Due: dotnet-format

Update logging libraries
  TeachingRecordSystem/Directory.Packages.props
Due: none

Update logging libraries (#1409)
  TeachingRecordSystem/Directory.Packages.props
Due: none

Use federated auth for DfE Analytics
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
Due: dotnet-format

Rename IEventObserver to IEventPublisher
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/IEventObserver.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/IEventPublisher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/NoopEventObserver.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/NoopEventPublisher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/PublishEventsBackgroundService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Events/Processing/PublishEventsBackgroundServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApiKeys/AddApiKeyTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApiKeys/EditApiKeyTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApplicationUsers/AddApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApplicationUsers/EditApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/AddMq/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/DeleteMq/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/Provider/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/Specialism/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/StartDate/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/Status/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/AddUser/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CaptureEventPublisher.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/PublishEventsDbCommandInterceptor.cs
Due: dotnet-format

Rename IEventObserver and its method (#1414)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/IEventObserver.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/IEventPublisher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/NoopEventObserver.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/NoopEventPublisher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/PublishEventsBackgroundService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Processing/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/RequestTrn/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Events/Processing/PublishEventsBackgroundServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApiKeys/AddApiKeyTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApiKeys/EditApiKeyTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApplicationUsers/AddApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/ApplicationUsers/EditApplicationUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/AddMq/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/DeleteMq/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/Provider/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/Specialism/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/StartDate/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/Status/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/AddUser/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Users/EditUserTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/CaptureEventPublisher.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Infrastructure/PublishEventsDbCommandInterceptor.cs
Due: dotnet-format

Allow deserializing events with missing properties
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/EventBase.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/MandatoryQualificationCreatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/MandatoryQualificationDqtDeactivatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/MandatoryQualificationDqtImportedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/MandatoryQualificationDqtReactivatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/MandatoryQualificationMigratedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/MandatoryQualificationUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/AddMq/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/EditMq/Provider/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/EditMq/Specialism/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/EditMq/StartDate/Confirm.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Mqs/EditMq/Status/Confirm.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/TrsDataSync/TrsDataSyncHelperTests.MandatoryQualification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/AddMq/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/Provider/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/Specialism/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/StartDate/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Mqs/EditMq/Status/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogMandatoryQualificationEventsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePerson.cs
Due: dotnet-format
