Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Move DeleteStaleJourneyStatesJobTests from Core.LegacyTests to Core.Tests (#3160)
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/DeleteStaleJourneyStatesJobTests.cs
Due: dotnet-format

Move RefreshTrainingProvidersJobTests from Core.LegacyTests to Core.Tests (#3159)
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/RefreshTrainingProvidersJobTests.cs
Due: dotnet-format

Add extensions to TimeProvider to give it the same API as IClock
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TimeProviderExtensions.cs
Due: dotnet-format

Add TimeProvider.Testing package
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Add NowGmt extension to FakeTimeProvider
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/FakeTimeProviderExtensions.cs
Due: dotnet-format

Format
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/DeleteStaleJourneyStatesJobTests.cs
Due: dotnet-format

TRN pages content update
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NoTrn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml
Due: none

TRN pages content update (#3163)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NoTrn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml
Due: none

Add webhook notifications for when TRN request is completed (as part of an update)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/V3/V20260225/WebhookData/TrnRequestCompletedNotification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/VersionRegistry.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/ApiSchema/V20260225/WebhookData/TrnRequestCompletedNotificationMapperTests.cs
Due: dotnet-format

Remove TestFileStorageService
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/TestFileStorageService.cs
Due: dotnet-format

Consolidated last 2 webhook changes into a single version
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/V3/V20260224/WebhookData/TrnRequestCompletedNotification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/VersionRegistry.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/ApiSchema/V20260224/WebhookData/TrnRequestCompletedNotificationMapperTests.cs
Due: dotnet-format

Fix lock files
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Move remaining tests from Core.LegacyTests to Core.Tests and remove the project (#3167)
  TeachingRecordSystem/TeachingRecordSystem.slnx
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/DisableParallelization.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/GlobalUsings.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/Jobs/EwcWalesImportJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/Jobs/TestFileStorageService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/Jobs/TestOutputLogger.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/TeachingRecordSystem.Core.LegacyTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EwcWalesImportJobTests.Induction.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EwcWalesImportJobTests.Qts.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/EwcWalesImportJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/InductionImporterTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/JobFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/QtsImporterTests.cs
Due: dotnet-format

Add webhook notifications for when TRN request is completed (as part of an update) (#3164)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/ApiSchema/V3/V20260224/WebhookData/TrnRequestCompletedNotification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/ApiSchema/V20260224/WebhookData/TrnRequestCompletedNotificationMapperTests.cs
Due: dotnet-format

Fixed a couple of bugs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ChangeRequests/EditChangeRequest/Accept.cshtml.cs
Due: dotnet-format

Added null / enpty string check for NINO and email address
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnRequests/TrnRequestService.cs
Due: dotnet-format

Fixed a couple of bugs (#3169)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnRequests/TrnRequestService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Merge.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ChangeRequests/EditChangeRequest/Accept.cshtml.cs
Due: dotnet-format

Update lock files & add NSign dependabot group
  .github/dependabot.yml
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Allow for empty string NINO in TRN Request
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnRequests/TrnRequestService.cs
Due: dotnet-format

Allow for empty string NINO in TRN Request (#3175)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/TrnRequests/TrnRequestService.cs
Due: dotnet-format

Fix mapping of DateOfDeath property
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventHandlers/CreateLegacyPersonEvents.cs
Due: dotnet-format

Fix mapping of DateOfDeath property (#3176)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventHandlers/CreateLegacyPersonEvents.cs
Due: dotnet-format

Don't show Connect/Disconnect options for a deactivated record
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml.cs
Due: dotnet-format

Fix lock files
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
Due: none

Don't show Connect/Disconnect options for a deactivated record (#3178)
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/IndexTests.cs
Due: dotnet-format

Don't show Connect/Disconnect options for a deactivated record (#3177)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/IndexTests.cs
Due: dotnet-format

Replace Swashbuckle attributes with ASP.NET Core equivalents (#3180)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V1/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Controllers/UnlockTeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/CertificatesController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240101/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240307/Controllers/TrnRequestsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240307/Requests/CreateTrnRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240412/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeacherController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Controllers/TrnRequestsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240606/Requests/CreateTrnRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240814/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240912/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240920/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240920/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250203/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250203/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250203/Controllers/TrnRequestsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250203/Requests/CreateTrnRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250327/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250327/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250425/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250425/Controllers/TrnRequestsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250425/Requests/CreateTrnRequestRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250627/Controllers/PersonController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250627/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20250905/Controllers/TrnsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20260120/Controllers/PersonsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/AlertsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/PersonsController.EwcWales.cs
Due: dotnet-format

Amend UI for alert change history to use new Process based events
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventHandlers/CreateLegacyAlertEvents.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/AlertUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Legacy/AlertCreatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Legacy/AlertDeletedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Legacy/AlertUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/BackfillAlertProcessesJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/ChangeHistory.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertCreatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDeletedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Processes/AlertCreating.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Processes/AlertDeleting.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Processes/AlertUpdating.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Processes/_PersonUpdatedInDqtEvent.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/AddAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/CloseAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/DeleteAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/Details/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/EndDate/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/Link/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/StartDate/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/ReopenAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeHistoryAlertProcessTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeHistoryTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogAlertEventsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateProcess.cs
Due: dotnet-format

Amend UI for alert change history to use new Process based events (#3184)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EventHandlers/CreateLegacyAlertEvents.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/AlertUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Legacy/AlertCreatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Legacy/AlertDeletedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Legacy/AlertUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/BackfillAlertProcessesJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/ChangeHistory.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertCreatedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Events/AlertDeletedEvent.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Processes/AlertCreating.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Processes/AlertDeleting.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Processes/AlertUpdating.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Timeline/Processes/_PersonUpdatedInDqtEvent.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/AddAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/CloseAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/DeleteAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/Details/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/EndDate/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/Link/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/EditAlert/StartDate/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Alerts/ReopenAlert/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeHistoryAlertProcessTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeHistoryTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/ChangeLogAlertEventsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateProcess.cs
Due: dotnet-format

Move everything from TestCommon.XUnit3 into TestCommon (#3183)
  TeachingRecordSystem/TeachingRecordSystem.slnx
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TeachingRecordSystem.Api.IntegrationTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/TeachingRecordSystem.Api.UnitTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TeachingRecordSystem.AuthorizeAccess.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/TeachingRecordSystem.Cli.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/TeachingRecordSystem.Core.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/TeachingRecordSystem.SupportUi.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TeachingRecordSystem.SupportUi.Tests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/TeachingRecordSystem.TestCommon.XUnit3.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/ClearDbBeforeTestAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Extensions/DelayedMessageBus.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Extensions/README.md
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Extensions/RetryDelayEnumeratedTestCase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Extensions/RetryFactAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Extensions/RetryFactDiscoverer.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Extensions/RetryTestCase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Extensions/RetryTestCaseRunner.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Extensions/RetryTheoryAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/Extensions/RetryTheoryDiscoverer.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/InitializeDbFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/RetryOnCiFactAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/RetryOnCiTheoryAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/ServiceProviderFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestConfigurationFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: dotnet-format

Update lock files & add xunit dependabot group
  .github/dependabot.yml
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

first tests and implementations - api, npq, pensions, one login id verification
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/SuggestedMatchViewModel.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/PotentialDuplicate.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Resolve/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Resolve/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/ApiTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/TeacherPensionsSupportTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserMatching/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateApiTrnRequestSupportTask.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TrnRequestServiceMatchAttributeCombinations.cs
Due: dotnet-format

Matching journeys, show names on one line with suitable highlighting (#2986)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ApiTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/NpqTrnRequests/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/SuggestedMatchViewModel.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/PotentialDuplicate.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TeacherPensions/Resolve/Matches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Resolve/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/TrnRequestManualChecksNeeded/Resolve/Index.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/ApiTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/TeacherPensionsSupportTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserMatching/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateApiTrnRequestSupportTask.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TrnRequestServiceMatchAttributeCombinations.cs
Due: dotnet-format

Update azurerm and terraform versions
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pr.yml
  .tool-versions
  global_config/domains.sh
  global_config/dv_review.sh
  global_config/pentest.sh
  global_config/pre-production.sh
  global_config/production.sh
  global_config/tps-sandbox.sh
  terraform/aks/.terraform.lock.hcl
  terraform/aks/config/dev.tfvars.json
  terraform/aks/config/pentest.tfvars.json
  terraform/aks/config/pre-production.tfvars.json
  terraform/aks/config/production.tfvars.json
  terraform/aks/config/tps-sandbox.tfvars.json
  terraform/aks/provider.tf
  terraform/aks/safestorage.tf
  terraform/aks/storage.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
  terraform/domains/environment_domains/.terraform.lock.hcl
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/terraform.tf
Due: tf-format

Fixed DI registration of IEventHandler for webhook message creation
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
Due: dotnet-format

Fixed DI dependencies for tests
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.DeleteSupportTask.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/EventPipelineTests/EventPipelineFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/ServiceFixture.cs
Due: dotnet-format
