Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

dotnet-format:
  run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}

tf-format:
  run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Treat SQL timeout exceptions as transient
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Treat SQL timeout exceptions as transient (#612)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Add custom action and workflow job for deploying to dev AKS env
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/deploy-dev.yml
Due: none

Add custom action and workflow job for deploying to dev AKS env (#610)
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/deploy-dev.yml
Due: none

Add Docker packaging for Support UI
  .github/workflows/package.yml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Dockerfile
  justfile
Due: none

Add /health endpoint and forwarded headers support to Support UI
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Deploy the UI app via Terraform
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/pr.yml
  Makefile
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
Due: tf-format

Deploy the Support UI to k8s (#618)
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/package.yml
  .github/workflows/pr.yml
  Makefile
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Dockerfile
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  justfile
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
Due: dotnet-format, tf-format

Fix exception catching in DqtReportingService
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Fix exception catching in DqtReportingService (#620)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Configure forwarding headers to allow hangfire dashboard to work in deployments
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
Due: dotnet-format

Configure forwarding headers to allow hangfire dashboard to work in deployments (#623)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
Due: dotnet-format

spiked AD login and logout
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Account/Logout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Account/Logout.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Properties/launchSettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.sln
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
  justfile
Due: dotnet-format

rem sln file amend just file
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.sln
  justfile
Due: none

spiked AD login and logout (#619)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Account/Logout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Account/Logout.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Properties/launchSettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
Due: dotnet-format

Add ReadOnlyMode config value for AKS and PAAS environments
  terraform/aks/app.tf
  terraform/paas/app.tf
Due: tf-format

Add ReadOnlyMode config value for AKS and PAAS environments (#621)
  terraform/aks/app.tf
  terraform/paas/app.tf
Due: tf-format

Amended to make format of dates on certificates independent of current culture
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetEytsCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetNpqCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetQtsCertificateHandler.cs
Due: dotnet-format

Show single digit days without 0 prefix
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetEytsCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetNpqCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetQtsCertificateHandler.cs
Due: dotnet-format

Amended to make format of dates on certificates independent of current culture (#626)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetEytsCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetNpqCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetQtsCertificateHandler.cs
Due: dotnet-format

Fix DQT dates for BST
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.SetIttResultForTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DateTimeExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DateOnlyExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Validators/SetNpqQualificationValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Endpoints/FindTeachersEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetEytsCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetInductionCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetNpqCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetQtsCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/CreateDateOfBirthChangeIncidentTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
Due: dotnet-format

Fix DQT dates for BST (#613)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.SetIttResultForTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DateTimeExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DateOnlyExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Validators/SetNpqQualificationValidator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Endpoints/FindTeachersEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetEytsCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetInductionCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetNpqCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetQtsCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/CreateDateOfBirthChangeIncidentTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
Due: dotnet-format

Removed mention of OGL
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
Due: none

Prevent VS trying to load tests from TestCommon project
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
Due: none

Handle a removed TRN in ID webhook
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.CreateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Json/JsonSerializerOptionsExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/WebHooks/GetAnIdentityEndpoints.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/WebHooks/UserUpdatedHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/WebHooks/UserUpdatedMessage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/WebHooks/UserUpdatedRequest.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/ClearTeacherIdentityInfoTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Services/GetAnIdentity/WebHooks/GetAnIdentityEndpointsTests.cs
Due: dotnet-format

Handle a removed TRN in ID webhook (#627)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.CreateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Json/JsonSerializerOptionsExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/WebHooks/GetAnIdentityEndpoints.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/WebHooks/UserUpdatedHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/WebHooks/UserUpdatedMessage.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/WebHooks/UserUpdatedRequest.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/ClearTeacherIdentityInfoTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Services/GetAnIdentity/WebHooks/GetAnIdentityEndpointsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TeachingRecordSystem.TestCommon.csproj
Due: dotnet-format

Dockerize the CLI
  .github/workflows/package.yml
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Dockerfile
  justfile
Due: none

Add k8s job for deploying DB migrations
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/pr.yml
  terraform/aks/app.tf
  terraform/aks/variables.tf
Due: tf-format

Deploy DB migrations to k8s environments (#622)
  .github/workflows/actions/deploy-aks-environment/action.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/package.yml
  .github/workflows/pr.yml
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Dockerfile
  justfile
  terraform/aks/app.tf
  terraform/aks/variables.tf
Due: tf-format

Move JSON env var configuration source into new Core project
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/TeachingRecordSystem.Cli.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/Configuration/ConfigurationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/Configuration/EnvironmentVariableJsonConfigurationSource.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/TestConfiguration.cs
Due: dotnet-format

Configure Data Protection to get keys from Blob Storage
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/Configuration/ConfigurationExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Development.json
  terraform/aks/app.tf
  terraform/aks/storage.tf
  terraform/paas/app.tf
  terraform/paas/storage.tf
Due: dotnet-format, tf-format

Use Blob storage for data protection keys (#629)
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Api/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/TeachingRecordSystem.Cli.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/Configuration/ConfigurationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/Configuration/ConfigurationExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Infrastructure/Configuration/EnvironmentVariableJsonConfigurationSource.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Development.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/TestConfiguration.cs
  terraform/aks/app.tf
  terraform/aks/storage.tf
  terraform/paas/app.tf
  terraform/paas/storage.tf
Due: dotnet-format, tf-format

Added support for generating QTS Certificates for teachers exempt from induction
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetQtsCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetQtsCertificateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTests.cs
  crm_attributes.json
  scripts/Generate-CrmModels.ps1
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Added support for generating QTS Certificates for teachers exempt from induction (#630)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetQtsCertificateHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetQtsCertificateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTests.cs
  crm_attributes.json
  scripts/Generate-CrmModels.ps1
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Fix base64 file encoding for files larger than 64k
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.DetailChangeIncidents.cs
Due: dotnet-format

Fix base64 file encoding for files larger than 64k (#631)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.DetailChangeIncidents.cs
Due: dotnet-format

Add DQT reporting infrastructure for AKS environments
  terraform/aks/app.tf
  terraform/aks/dqt-reporting.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
Due: tf-format

Add DQT reporting infrastructure for AKS environments (#632)
  terraform/aks/app.tf
  terraform/aks/dqt-reporting.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
Due: tf-format

Path conditions:
  dotnet-format: any of: TeachingRecordSystem/**/*.cs
  tf-format: any of: terraform/**/*.tf
