Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Add proof of identity page for unverified users
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/ProofOfIdentity.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/ProofOfIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/wwwroot/Styles/site.scss
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/ProofOfIdentityTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
Due: dotnet-format

Add proof of identity page for unverified users (#3032)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/ProofOfIdentity.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/ProofOfIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyCoordinator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/wwwroot/Styles/site.scss
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/ProofOfIdentityTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
Due: dotnet-format

Fleshed out One Login User Record Matching support task list view
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/ConnectOneLoginUserLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Conventions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/IdVerification.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/IdVerification.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/RecordMatching.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/RecordMatching.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/SupportTasksLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserIdVerificationSupportTasksSearchResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserIdVerificationSupportTasksSortByOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserRecordMatchingSupportTasksOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserRecordMatchingSupportTasksSearchResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserRecordMatchingSupportTasksSortByOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/SupportTaskSearchService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/SupportUiLinkGenerator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/OneLoginUserRecordMatchingTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/SupportTaskTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ConnectOneLoginUser/ConnectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ConnectOneLoginUser/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserMatching/RecordMatchingTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Services/SupportTasks/SupportTaskSearchServiceTests.SearchOneLoginIdVerificationSupportTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Services/SupportTasks/SupportTaskSearchServiceTests.SearchOneLoginUserRecordMatchingSupportTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateOneLoginUserRecordMatchingSupportTask.cs
Due: dotnet-format

Remove the old Connect One Login User task resolution journey
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/ConnectOneLoginUserLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Conventions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/SupportTasksLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/SupportUiLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/SupportTaskTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ConnectOneLoginUser/ConnectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ConnectOneLoginUser/IndexTests.cs
Due: dotnet-format

Remove the old Connect One Login User task resolution journey (#3033)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Connect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/ConnectOneLoginUserLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Conventions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/ConnectOneLoginUser/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/SupportTasksLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/SupportUiLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/SupportTaskTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ConnectOneLoginUser/ConnectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ConnectOneLoginUser/IndexTests.cs
Due: dotnet-format

Fleshed out One Login User Record Matching support task list view (#3034)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/Index.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/IdVerification.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/IdVerification.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/RecordMatching.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/RecordMatching.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/SupportTasksLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserIdVerificationSupportTasksSearchResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserIdVerificationSupportTasksSortByOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserRecordMatchingSupportTasksOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserRecordMatchingSupportTasksSearchResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/OneLoginUserRecordMatchingSupportTasksSortByOption.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Services/SupportTasks/SupportTaskSearchService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/SupportUiLinkGenerator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/JourneyTests/SupportTasks/OneLoginUserRecordMatchingTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/OneLoginUserMatching/RecordMatchingTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Services/SupportTasks/SupportTaskSearchServiceTests.SearchOneLoginIdVerificationSupportTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Services/SupportTasks/SupportTaskSearchServiceTests.SearchOneLoginUserRecordMatchingSupportTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateOneLoginUserRecordMatchingSupportTask.cs
Due: dotnet-format

Tweak Copilot setup so it has the main branch available
  .github/workflows/copilot-setup-steps.yml
Due: none

Remove dependabot labels
  .github/dependabot.yml
Due: none

Add airbyte to dev env
  global_config/dev.sh
  global_config/dv_review.sh
  global_config/pentest.sh
  global_config/pre-production.sh
  global_config/production.sh
  global_config/tps-sandbox.sh
  terraform/aks/airbyte.tf
  terraform/aks/config/airbyte_stream_config.json
  terraform/aks/config/dev.tfvars.json
  terraform/aks/databases.tf
  terraform/aks/provider.tf
  terraform/aks/terraform.tf
  terraform/aks/variables.tf
Due: tf-format

Add just recipes for deploying to dev and pre-prod (#2966)
  justfile
Due: none

Trim submitted strings
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/ModelBinding/TrimmedStringModelBinder.cs
Due: dotnet-format

Trim submitted strings (#3043)
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/ModelBinding/TrimmedStringModelBinder.cs
Due: dotnet-format

Move One Login task creation into service
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/ConnectedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/NoMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/NotConnectingOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/NotVerifiedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.IdVerification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.RecordMatching.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/VerifiedAndConnectedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/VerifiedOnlyWithMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/VerifiedOnlyWithoutMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ConfirmConnect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ConfirmNotConnecting.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ConfirmReject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/NoMatches.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_IdVerification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_RecordMatching.cs
Due: dotnet-format

Move One Login task creation into service (#3045)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/CreateOneLoginUserIdVerificationSupportTaskOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/CreateOneLoginUserRecordMatchingSupportTaskOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.CreateIdVerification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.CreateRecordMatching.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_IdVerification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_RecordMatching.cs
Due: dotnet-format

Shorten method names
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.CreateIdVerification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.CreateRecordMatching.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.IdVerification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.RecordMatching.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ConfirmConnect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ConfirmNotConnecting.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ConfirmReject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/NoMatches.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_IdVerification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_RecordMatching.cs
Due: dotnet-format

Fix lock file
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Remove redundant property
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/IOneLoginUserMatchingData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/OneLoginUserRecordMatchingData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/CreateOneLoginUserRecordMatchingSupportTaskOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.RecordMatching.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ResolveOneLoginUserMatchingState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_RecordMatching.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateOneLoginUserRecordMatchingSupportTask.cs
Due: dotnet-format

Move One Login task creation into service (#3044)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/IOneLoginUserMatchingData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTasks/OneLoginUserRecordMatchingData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/ConnectedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/CreateOneLoginUserIdVerificationSupportTaskOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/CreateOneLoginUserRecordMatchingSupportTaskOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/NoMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/NotConnectingOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/NotVerifiedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.IdVerification.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.RecordMatching.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/VerifiedAndConnectedOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/VerifiedOnlyWithMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/OneLoginUserMatching/VerifiedOnlyWithoutMatchesOutcomeOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ConfirmConnect.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ConfirmNotConnecting.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ConfirmReject.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/NoMatches.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/ResolveOneLoginUserMatchingState.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_IdVerification.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/OneLoginUserMatching/OneLoginUserMatchingSupportTaskServiceTests_RecordMatching.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateOneLoginUserRecordMatchingSupportTask.cs
Due: dotnet-format

Use Redis for Teacher Auth session state
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
Due: dotnet-format

Use Redis for Teacher Auth session state (#3046)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Extensions.cs
Due: dotnet-format

Use sequential numbers for support task references
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/SupportTaskMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260128115207_SupportTaskReferenceSequence.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260128115207_SupportTaskReferenceSequence.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/SupportTaskService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/CommandTests/DeleteSupportTaskTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Services/SupportTasks/SupportTaskSearchServiceTests.SearchOneLoginIdVerificationSupportTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Services/SupportTasks/SupportTaskSearchServiceTests.SearchOneLoginUserRecordMatchingSupportTasks.cs
Due: dotnet-format

Bump GovUk.Frontend.AspNetCore to 3.5.1
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
Due: none

Use sequential numbers for support task references (#2861)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/SupportTaskMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260128115207_SupportTaskReferenceSequence.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20260128115207_SupportTaskReferenceSequence.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/SupportTasks/SupportTaskService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/CommandTests/DeleteSupportTaskTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/ApiTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/NpqTrnRequests/Resolve/MatchesTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/ConfirmTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TrnRequestManualChecksNeeded/Resolve/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Services/SupportTasks/SupportTaskSearchServiceTests.SearchOneLoginIdVerificationSupportTasks.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/Services/SupportTasks/SupportTaskSearchServiceTests.SearchOneLoginUserRecordMatchingSupportTasks.cs
Due: dotnet-format

Added new storage account and container to terraform and new "safe" file service to upload teacher auth files to there
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/ProofOfIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/BlobStorageSafeFileService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/ISafeFileService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SupportTasks/OneLoginUserMatching/Resolve/Verify.cshtml.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/ProofOfIdentityTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/TestScopedServices.cs
  terraform/aks/safestorage.tf
Due: dotnet-format, tf-format

Formatted code
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/ProofOfIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Files/BlobStorageSafeFileService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestScopedServices.cs
  terraform/aks/safestorage.tf
Due: dotnet-format, tf-format

Restore windows-shell in justfile
  justfile
Due: none

Restore windows-shell in justfile (#3054)
  justfile
Due: none

Fix lock file
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
Due: none

Fix up tests
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NameTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NationalInsuranceNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
Due: dotnet-format

Make One Login environment configurable
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/OneLoginAuthenticationSchemeProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.aks_production.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/appsettings.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyCoordinatorTests.cs
Due: dotnet-format

Fix lock file
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Core/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.LegacyTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Added new command to be able to create claim test data easily. (#3022)
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.ImportClaimTestData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Properties/launchSettings.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/CommandTests/CreateImportClaimTestDataTests.cs
Due: dotnet-format
