Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Enable DqtReportingService on AKS dev environment
  TeachingRecordSystem/src/TeachingRecordSystem.Api/entrypoint.sh
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
Due: tf-format

Enable DqtReportingService on AKS dev environment (#635)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/entrypoint.sh
  terraform/aks/app.tf
  terraform/aks/variables.tf
  terraform/aks/workspace_variables/dev.tfvars.json
Due: tf-format

Fix database backup workflow
  .github/workflows/database-backup.yml
Due: none

Fix database backup workflow (#634)
  .github/workflows/database-backup.yml
Due: none

Add just recipe for running UI in dev mode
  justfile
Due: none

Add just recipe for running UI in dev mode (#637)
  justfile
Due: none

Move dev client ID into dev appsettings file
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
Due: none

Fix sign out so that it goes to a /signed-out page
  .editorconfig
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Account/Logout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Account/Logout.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SignOut.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SignOut.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SignedOut.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SignedOut.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/.gitkeep
Due: dotnet-format

Fix empty screen after sign out (#636)
  .editorconfig
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Account/Logout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Account/Logout.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_Layout.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SignOut.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SignOut.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SignedOut.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/SignedOut.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/_ViewImports.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TrsLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.Development.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/appsettings.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/wwwroot/.gitkeep
Due: dotnet-format

Initial changes required for updating a teacher by both trn/dob & slugid
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.UpdateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/UpdateTeacherCommand.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/UpdateTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Requests/UpdateTeacherRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Validators/UpdateTeacherValidator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/TestDataHelper.CreatePerson.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/UpdateTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/UpdateTeacherTests.cs
Due: dotnet-format

Initial changes required for updating a teacher by both trn/dob & slugid (#606)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.UpdateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/UpdateTeacherCommand.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/UpdateTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Requests/UpdateTeacherRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Validators/UpdateTeacherValidator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/TestDataHelper.CreatePerson.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/UpdateTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/UpdateTeacherTests.cs
Due: dotnet-format

Fix too early lock disposal
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/CrmEntityChanges/CrmEntityChangesService.cs
Due: dotnet-format

Fix lock getting disposed too early (#640)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/CrmEntityChanges/CrmEntityChangesService.cs
Due: dotnet-format

Remove extra services.AddRazorPages()
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Remove extra services.AddRazorPages() (#638)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
Due: dotnet-format

Fix NRE for programmetype on update endpoint
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.UpdateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Properties/StringResources.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Properties/StringResources.resx
Due: dotnet-format

Fix NRE for programmetype on update endpoint (#641)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.UpdateTeacher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Properties/StringResources.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Properties/StringResources.resx
Due: dotnet-format

Add ProgrammeTypeDescription field to v3 teacher responses
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
Due: dotnet-format

Add ProgrammeTypeDescription field to v3 teacher responses (#642)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/ApiModels/IttProgrammeType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
Due: dotnet-format

Use teacher status values instead of names in queries
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.GetInternationalQtsAwardeesForDateRange.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.GetQtsAwardeesForDateRange.cs
Due: dotnet-format

Use teacher status values instead of names in queries (#643)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.GetInternationalQtsAwardeesForDateRange.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.GetQtsAwardeesForDateRange.cs
Due: dotnet-format

Add Terraform config for all AKS environments
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/dqt-reporting.tf
  terraform/aks/monitoring.tf
  terraform/aks/provider.tf
  terraform/aks/secrets.tf
  terraform/aks/terraform.tf
  terraform/aks/workspace_variables/pre-production.backend.tfvars
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/aks/workspace_variables/production.backend.tfvars
  terraform/aks/workspace_variables/production.tfvars.json
  terraform/aks/workspace_variables/test.backend.tfvars
  terraform/aks/workspace_variables/test.tfvars.json
Due: tf-format

Add AKS deployment step for all environments
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/main.yml
Due: none

Add AKS deployments for test, pre-prod and prod environments (#644)
  .github/workflows/deploy-preprod.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-test.yml
  .github/workflows/main.yml
  Makefile
  terraform/aks/.terraform.lock.hcl
  terraform/aks/dqt-reporting.tf
  terraform/aks/monitoring.tf
  terraform/aks/provider.tf
  terraform/aks/secrets.tf
  terraform/aks/terraform.tf
  terraform/aks/workspace_variables/pre-production.backend.tfvars
  terraform/aks/workspace_variables/pre-production.tfvars.json
  terraform/aks/workspace_variables/production.backend.tfvars
  terraform/aks/workspace_variables/production.tfvars.json
  terraform/aks/workspace_variables/test.backend.tfvars
  terraform/aks/workspace_variables/test.tfvars.json
Due: tf-format

Add sanction codes to v3 endpoint responses
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Constants.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Endpoints/FindTeachersEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Requests/GetTeacherRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/FindTeachersResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/GetSanctionsByContactIdsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Add sanction codes to v3 endpoint responses (#645)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/IDataverseAdapter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/Models/GeneratedCode.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Constants.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Endpoints/FindTeachersEndpoint.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Requests/GetTeacherRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/FindTeachersResponse.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Responses/GetTeacherResponse.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DataverseIntegration/GetSanctionsByContactIdsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/GetTeacherTests.cs
  crm_attributes.json
  tools/coretools/CrmSvcUtil.exe.config
Due: dotnet-format

Don't explode if no contactIds are passed
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.cs
Due: dotnet-format

Don't explode if no contactIds are passed (#646)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/DataStore/Crm/DataverseAdapter.cs
Due: dotnet-format

Updated where Entity framework tools live
  justfile
Due: none

Renamed TrsContext to TrsDbContext
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Events/Processing/PublishEventsBackgroundService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/BatchSendEytsAwardedEmailsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/BatchSendInductionCompletedEmailsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/BatchSendInternationalQtsAwardedEmailsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/BatchSendQtsAwardedEmailsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/EytsAwardedEmailJobDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/InductionCompletedEmailJobDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/InternationalQtsAwardedEmailJobDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/QtsAwardedEmailJobDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/SendEytsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/SendInductionCompletedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/SendInternationalQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/SendQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/CrmEntityChanges/CrmEntityChangesService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/LinkTrnToIdentityUserService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/Commands.MigrateDb.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDesignTimeDbContextFactory.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/20211222165123_TrnRequests.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/20230208143135_AddIdentityUserIdAndLinkedToIdentity.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/20230426145546_AddEntityChangesJournals.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/20230519120619_RequiredTrnRequestTeacherId.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/20230522115339_Events.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/20230526122346_QtsAwardedEmailsJob.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/20230606162744_InternationalQtsAwardedEmailsJob.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/20230608155854_EytsAwardedEmailsJob.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/20230609143020_InductionCompletedEmailsJob.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Migrations/DqtContextModelSnapshot.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DbFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DbHelper.cs
Due: dotnet-format

Fix formatting
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/BatchSendEytsAwardedEmailsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/BatchSendInductionCompletedEmailsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/BatchSendInternationalQtsAwardedEmailsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/BatchSendQtsAwardedEmailsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/EytsAwardedEmailJobDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/InductionCompletedEmailJobDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/InternationalQtsAwardedEmailJobDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/QtsAwardedEmailJobDispatcher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/SendEytsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/SendInductionCompletedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/SendInternationalQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Jobs/SendQtsAwardedEmailJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Services/GetAnIdentity/LinkTrnToIdentityUserService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetOrCreateTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Handlers/GetTrnRequestHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V2/Validators/GetOrCreateTrnRequestValidator.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/ApiTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/DbFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Events/Processing/PublishEventsBackgroundServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/BatchSendEytsAwardedEmailsJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/BatchSendInductionCompletedEmailsJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/BatchSendInternationalQtsAwardedEmailsJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/BatchSendQtsAwardedEmailsJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/EytsAwardedEmailJobDispatcherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/InductionCompletedEmailJobDispatcherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/InternationalQtsAwardedEmailJobDispatcherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/QtsAwardedEmailJobDispatcherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/SendInductionCompletedEmailJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/SendInternationalQtsAwardedEmailJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Jobs/SendQtsAwardedEmailJobTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Services/GetAnIdentity/LinkTrnToIdentityUserServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V2/Operations/GetOrCreateTrnRequestTests.cs
Due: dotnet-format

Upgrade dependencies
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
Due: none

Upgrade dependencies (#648)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/TeachingRecordSystem.Api.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/TeachingRecordSystem.SupportUi.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/TeachingRecordSystem.Api.Tests.csproj
Due: none

First draft of Fixie-based test framework
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/Discovery.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/Execution.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/ITestStartup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TeachingRecordSystem.TestFramework.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestClassAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestConcurrencyMode.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestConfigurationExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestInfo.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestSetupAttribute.cs
Due: dotnet-format

First draft of Fixie-based test framework (#653)
  TeachingRecordSystem/TeachingRecordSystem.sln
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/Discovery.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/Execution.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/ITestStartup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TeachingRecordSystem.TestFramework.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestClassAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestConcurrencyMode.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestConfigurationExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestInfo.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestFramework/TestSetupAttribute.cs
Due: dotnet-format

Refresh README.md for TRS changes
  README.md
  docs/environment-setup.md
  docs/running-load-tests.md
  justfile
  load-tests/.gitignore
  load-tests/get-teacher.js
  load-tests/package-lock.json
  load-tests/package.json
Due: none
