Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Return verified names & birthdates from userinfo endpoint
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/ClaimTypes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/OAuth2Controller.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/OneLoginAuthenticationSchemeProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TestAppConfiguration.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/OneLoginUserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240416104642_LastCoreIdentityVc.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240416104642_LastCoreIdentityVc.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/OneLoginUser.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/OidcTests.cs
Due: dotnet-format

Return verified names & birthdates from userinfo endpoint (#1286)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/ClaimTypes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/OAuth2Controller.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/OneLoginAuthenticationSchemeProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TestAppConfiguration.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/OneLoginUserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240416104642_LastCoreIdentityVc.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240416104642_LastCoreIdentityVc.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/OneLoginUser.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/OidcTests.cs
Due: dotnet-format

Add optional DOB query param to Get teacher operation
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/VersionRegistry.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240416/GetTeacherByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240416/TestBase.cs
Due: dotnet-format

Add optional DOB query param to Get teacher operation (#1287)
  CHANGELOG.md
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/V20240416/Controllers/TeachersController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/VersionRegistry.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240416/GetTeacherByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240416/TestBase.cs
Due: dotnet-format

Update statuscake contact group
  terraform/aks/monitoring.tf
Due: tf-format

Align Teacher Auth journey with designs round 2
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Connect.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Found.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotFound.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotFound.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/wwwroot/Styles/site.scss
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NotFoundTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
Due: dotnet-format

Align Teacher Auth journey with designs round 2 (#1289)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Connect.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Found.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NationalInsuranceNumber.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotFound.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotFound.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Trn.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/wwwroot/Styles/site.scss
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NotFoundTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
Due: dotnet-format

Use the contact ID returned from CRM
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.CreateTeacher.cs
Due: dotnet-format

Use the contact ID returned from CRM (#1290)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Dqt/DataverseAdapter.CreateTeacher.cs
Due: dotnet-format

Add script to simply connecting to DB from a pod
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/db.sh
Due: none

Add script to simplify connecting to DB from a pod (#1291)
  TeachingRecordSystem/Dockerfile
  TeachingRecordSystem/db.sh
Due: none

Produce a QTS certificate for those who qualify in Wales
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetQtsCertificate.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/GetQtsCertificateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/GetTeacherByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/GetTeacherTests.cs
Due: dotnet-format

Produce a QTS certificate for those who qualify in Wales (#1293)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Core/Operations/GetQtsCertificate.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/Handlers/GetTeacherHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/GetQtsCertificateTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/GetTeacherByTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/V3/V20240101/GetTeacherTests.cs
Due: dotnet-format

Fix API test perf for access token-based authorization
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/SimpleJwtBearerAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/TestApiKeyAuthentication.cs
Due: dotnet-format

updated integration docs
  README.md
  docs/c4-diagrams-as-code/trs-c4.dsl
  docs/c4-diagrams-as-code/trs-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-ewc-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-external-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-tps-data-integrations.jpg
  docs/c4-diagrams-as-code/trs-tps-as-is-and-to-be.jpg
  docs/trs-integration.dsl
Due: none

Fix API test perf for access token-based authorization (#1294)
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/SimpleJwtBearerAuthentication.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.Tests/Infrastructure/Security/TestApiKeyAuthentication.cs
Due: dotnet-format

Support trn_token in sign in journeys
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/OAuth2Controller.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/IdDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/FormFlowJourneySignInHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/MatchToTeachingRecordAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/OneLoginAuthenticationSchemeProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/Start.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/Start.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Test.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TestAppConfiguration.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/Infrastructure/Security/FakeOneLoginHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/ConnectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/FoundTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NationalInsuranceNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NotFoundTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NotVerifiedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TeachingRecordSystem.AuthorizeAccess.Tests.csproj
Due: dotnet-format

Support trn_token in sign in journeys (#1292)
  TeachingRecordSystem/Directory.Packages.props
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/OAuth2Controller.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/IdDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/FormFlowJourneySignInHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/MatchToTeachingRecordAuthenticationHandler.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Infrastructure/Security/OneLoginAuthenticationSchemeProvider.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/DebugIdentity.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/Start.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/OidcTest/Start.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/Test.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TestAppConfiguration.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/Infrastructure/Security/FakeOneLoginHandler.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/ConnectTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/FoundTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NationalInsuranceNumberTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NotFoundTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/NotVerifiedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/TrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TeachingRecordSystem.AuthorizeAccess.Tests.csproj
Due: dotnet-format

Update docs/trs-integration.dsl
  docs/trs-integration.dsl
Due: none

updated integration docs (#1296)
  README.md
  docs/c4-diagrams-as-code/trs-c4.dsl
  docs/c4-diagrams-as-code/trs-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-ewc-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-external-integrations.jpg
  docs/c4-diagrams-as-code/trs-to-be-tps-data-integrations.jpg
  docs/c4-diagrams-as-code/trs-tps-as-is-and-to-be.jpg
  docs/trs-integration.dsl
Due: none

Add New TRS domains
  Makefile
  terraform/domains/environment_domains/config/dev.tfvars.json
  terraform/domains/environment_domains/config/pre-production.tfvars.json
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/variables.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/config/trs.tfvars.json
Due: tf-format

1707 new trs domains (#1295)
  Makefile
  terraform/domains/environment_domains/config/dev.tfvars.json
  terraform/domains/environment_domains/config/pre-production.tfvars.json
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/variables.tf
  terraform/domains/infrastructure/.terraform.lock.hcl
  terraform/domains/infrastructure/config/trs.tfvars.json
Due: tf-format

Create a support task when automatic matching fails
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotFound.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/SupportRequestSubmitted.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/SupportRequestSubmitted.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/SupportTaskMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240425141449_SupportTaskCreatedOn.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240425141449_SupportTaskCreatedOn.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/SupportTaskCreatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTaskData/ConnectOneLoginUserData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTaskType.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/SupportRequestSubmittedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
Due: dotnet-format

Add DB schema for support tasks
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/SupportTaskMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240417152506_SupportTasks.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240417152506_SupportTasks.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/OneLoginUserVerificationRoute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTaskStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTaskType.cs
Due: dotnet-format

Create a support task when automatic matching fails (#1297)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/AuthorizeAccessLinkGenerator.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/CheckAnswers.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/NotFound.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/SupportRequestSubmitted.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Pages/SupportRequestSubmitted.cshtml.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyState.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/SupportTaskMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240417152506_SupportTasks.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240417152506_SupportTasks.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240425141449_SupportTaskCreatedOn.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240425141449_SupportTaskCreatedOn.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/SupportTask.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/SupportTaskCreatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/OneLoginUserVerificationRoute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTaskData/ConnectOneLoginUserData.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTaskStatus.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/SupportTaskType.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/SignInTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/CheckAnswersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/PageTests/SupportRequestSubmittedTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/TestBase.cs
Due: dotnet-format

Amended db schema for TPS establishment mappings
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/EstablishmentMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/TpsEstablishmentMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/TpsEstablishmentTypeMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240426143546_TpsEstablishments.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240426143546_TpsEstablishments.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Establishment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TpsEstablishment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TpsEstablishmentType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshEstablishmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/TpsRefreshEstablishmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/CsvDownloadEstablishmentMasterDataService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/EstablishmentCsvRow.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/EstablishmentRefresher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/GiasOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/IEstablishmentMasterDataService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Tps/NewEstablishment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Tps/TpsEstablishmentCsvRow.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Tps/TpsEstablishmentRefresher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/BlobStorageTpsExtractStorageService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/ITpsExtractStorageService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Gias/EstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Tps/TpsEstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format

Fixed linting and PR comment issues
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/TpsRefreshEstablishmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Tps/NewEstablishment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Tps/TpsEstablishmentCsvRow.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Tps/TpsEstablishmentRefresher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/BlobStorageTpsExtractStorageService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Tps/TpsEstablishmentRefresherTests.cs
Due: dotnet-format

Added job to refresh establishments sourced from TPS spreadsheet (#1299)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/EstablishmentMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/TpsEstablishmentMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/TpsEstablishmentTypeMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240426143546_TpsEstablishments.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240426143546_TpsEstablishments.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/Establishment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TpsEstablishment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TpsEstablishmentType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/TrsDbContext.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/RefreshEstablishmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/TpsRefreshEstablishmentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/CsvDownloadEstablishmentMasterDataService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/EstablishmentCsvRow.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/EstablishmentRefresher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/GiasOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Gias/IEstablishmentMasterDataService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Tps/NewEstablishment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Tps/TpsEstablishmentCsvRow.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/Establishments/Tps/TpsEstablishmentRefresher.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/BlobStorageTpsExtractStorageService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/ITpsExtractStorageService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/ServiceCollectionExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Gias/EstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/Establishments/Tps/TpsEstablishmentRefresherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format

Change PersonSearchService to PersonMatchingService
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/IPersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/PersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/PersonSearchResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonSearch/IPersonSearchService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonSearch/PersonSearchService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonSearch/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/Services/PersonMatching/PersonMatchingServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonSearch/PersonSearchServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.cs
Due: dotnet-format

Change PersonSearchService to PersonMatchingService (#1298)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/IPersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/PersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/PersonSearchResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonSearch/IPersonSearchService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonSearch/PersonSearchService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonSearch/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/Services/PersonMatching/PersonMatchingServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonSearch/PersonSearchServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.cs
Due: dotnet-format

Add match suggestions to PersonMatchingService
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/IPersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/PersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/IPersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/MatchRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/PersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/SuggestedMatch.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonMatching/PersonMatchingServiceTests.cs
Due: dotnet-format

Add match suggestions to PersonMatchingService (#1300)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/IPersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Services/PersonMatching/PersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/IPersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/MatchRequest.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/PersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/ServiceCollectionExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/SuggestedMatch.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/Startup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonMatching/PersonMatchingServiceTests.cs
Due: dotnet-format

Fix member name on ClaimTypes
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/ClaimTypes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/OAuth2Controller.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TestAppConfiguration.cs
Due: dotnet-format

Fix member name on ClaimTypes (#1301)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/ClaimTypes.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/Controllers/OAuth2Controller.cs
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/TestAppConfiguration.cs
Due: dotnet-format

Store how the One Login user was matched
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/OneLoginUserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240501095154_OneLoginUserMatchRoute.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240501095154_OneLoginUserMatchRoute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/OneLoginUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/OneLoginUserMatchRoute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/OneLoginUserMatchedAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/IPersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/MatchResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/PersonMatchingService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonMatching/PersonMatchingServiceTests.cs
Due: dotnet-format

Store how the One Login user was matched (#1302)
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/SignInJourneyHelper.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/OneLoginUserMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240501095154_OneLoginUserMatchRoute.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240501095154_OneLoginUserMatchRoute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/OneLoginUser.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/OneLoginUserMatchRoute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/OneLoginUserMatchedAttribute.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/IPersonMatchingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/MatchResult.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/PersonMatching/PersonMatchingService.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/SignInJourneyHelperTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonMatching/PersonMatchingServiceTests.cs
Due: dotnet-format

Move person detail summary list into a partial
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/PersonDetailModel.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_PersonDetail.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/AngleSharpExtensions.cs
Due: dotnet-format

Move person detail summary list into a partial (#1303)
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Persons/PersonDetail/Index.cshtml
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/PersonDetailModel.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Pages/Shared/_PersonDetail.cshtml
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PageExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/PersonTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/Persons/PersonDetail/IndexTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/AngleSharpExtensions.cs
Due: dotnet-format

Changes to support employment history ageing and non GIAS establishments
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/PersonEmploymentMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Mappings/TpsCsvExtractItemMapping.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/PersonEmployment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Models/TpsCsvExtractItem.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/Models/PersonEmployment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Events/PersonEmploymentUpdatedEvent.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/HostApplicationBuilderExtensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/ProcessEndedEmploymentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Models/EmploymentType.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/BlobStorageTpsExtractStorageService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/NewPersonEmployment.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/TpsCsvExtractFileImporter.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/TpsCsvExtractProcessor.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/UpdatedPersonEmploymentEndDate.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/UpdatedPersonEmploymentEstablishment.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/WorkforceData/TpsCsvExtractProcessorTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonEmployment.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreateTpsCsvExtract.cs
Due: dotnet-format

Re-added DB migration after rebasing and fixed formatting
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240507142027_PersonEmploymentsAgeing.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20240507142027_PersonEmploymentsAgeing.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/ProcessEndedEmploymentsJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/WorkforceData/TpsCsvExtractProcessor.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/WorkforceData/TpsCsvExtractFileImporterTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/WorkforceData/TpsCsvExtractProcessorTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/TestData.CreatePersonEmployment.cs
Due: dotnet-format
