Repository DFE-Digital/teaching-record-system: changes, and which lefthook commands are due for each by the changed paths.
All: dotnet-format, tf-format

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    dotnet-format:
      glob: "TeachingRecordSystem/**/*.cs"
      run: dotnet format TeachingRecordSystem/TeachingRecordSystem.sln --verify-no-changes --include {staged_files}
    tf-format:
      glob: "terraform/**/*.tf"
      run: pwsh -nop -c "(\"{staged_files}\" -Split \" \") | foreach { & terraform fmt -check -diff $_ }"

Added missing TPS only establishments for use in workforce data import
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251030104403_AddMissingTpsEstablishments.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251030104403_AddMissingTpsEstablishments.cs
Due: dotnet-format

Added missing TPS only establishments for use in workforce data import (#2708)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251030104403_AddMissingTpsEstablishments.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251030104403_AddMissingTpsEstablishments.cs
Due: dotnet-format

Move Api.UnitTests to xUnit v3
  .github/workflows/actions/test/action.yml
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EnumerableExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/OperationTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/OperationTestFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/Setup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/SharedDependenciesDataSourceAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/TeachingRecordSystem.Api.UnitTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetQtlsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/SetQtlsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/SetRouteToProfessionalStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonMatching/PersonMatchingServiceTests.TrnRequest.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/ServiceProviderFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format

Move Api.UnitTests to xUnit v3 (#2709)
  .github/workflows/actions/test/action.yml
  TeachingRecordSystem/src/TeachingRecordSystem.Core/EnumerableExtensions.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/OperationTestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/OperationTestFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/Setup.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/SharedDependenciesDataSourceAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/TeachingRecordSystem.Api.UnitTests.csproj
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetQtlsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/GetTrnTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/SetQtlsTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/V3/SetRouteToProfessionalStatusTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/PersonMatching/PersonMatchingServiceTests.TrnRequest.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/ServiceProviderFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format

Adds Kubernetes info to README
  README.md
Due: none

Run each API integration in a TransactionScope
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/DisableParallelization.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V1/Operations/GetTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V2/Operations/GetIttProvidersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240101/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240920/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240920/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250203/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250203/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250425/CreateTrnRequestTests.cs
Due: dotnet-format

Run each API integration test in a TransactionScope (#2711)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/DisableParallelization.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V1/Operations/GetTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V2/Operations/GetIttProvidersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240101/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240920/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240920/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250203/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250203/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250425/CreateTrnRequestTests.cs
Due: dotnet-format

Update lock files
  TeachingRecordSystem/src/TeachingRecordSystem.Api/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.AuthorizeAccess/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Cli/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.SupportUi/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.WebCommon/packages.lock.json
  TeachingRecordSystem/src/TeachingRecordSystem.Worker/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.UnitTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.AuthorizeAccess.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Cli.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.EndToEndTests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.TUnit/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon.XUnit3/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.UiTestCommon/packages.lock.json
  TeachingRecordSystem/tests/TeachingRecordSystem.WebCommon.Tests/packages.lock.json
Due: none

Move stubbed out endpoints into vNext
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/AlertsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/CreateAlertRequestBody.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/UpdateAlertRequestBody.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Response/AlertResponse.cs
Due: dotnet-format

Add TrnRequestMetadata to reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251031105039_TrnRequestMetadataReportingPublication.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251031105039_TrnRequestMetadataReportingPublication.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0096_TrnRequestMetadata.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Move stubbed out alert endpoints into vNext (#2713)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Controllers/AlertsController.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/CreateAlertRequestBody.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Requests/UpdateAlertRequestBody.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/V3/VNext/Response/AlertResponse.cs
Due: dotnet-format

Add TrnRequestMetadata to reporting DB (#2714)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251031105039_TrnRequestMetadataReportingPublication.Designer.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/DataStore/Postgres/Migrations/20251031105039_TrnRequestMetadataReportingPublication.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0096_TrnRequestMetadata.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: dotnet-format

Fix column name on trs_processes in reporting DB
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0097_FixProcessesColumnName.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Fix column name on trs_processes in reporting DB (#2715)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Migrations/0097_FixProcessesColumnName.sql
  TeachingRecordSystem/src/TeachingRecordSystem.Core/TeachingRecordSystem.Core.csproj
Due: none

Remove retries
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
Due: dotnet-format

Fix flaky capita export tests
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportNewJob.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaExportNewJobTests.cs
Due: dotnet-format

Fix flaky capita export tests (#2717)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportNewJob.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Jobs/CapitaExportNewJobTests.cs
Due: dotnet-format

Increase automatic retries for audit sync job
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/SyncAllDqtAnnotationAuditsJob.cs
Due: dotnet-format

Testing to pass on working_dir for containers
  global_config/dv_review.sh
  terraform/aks/app.tf
Due: tf-format

Testing to pass on working_dir for containers
  global_config/dev.sh
Due: none

Add platform test cluster to db workflows
  .github/workflows/backup-db.yml
  .github/workflows/postgres-ptr.yml
  .github/workflows/postgres-restore.yml
  .github/workflows/restore-deleted-postgres.yml
Due: none

Add platform test cluster to db workflows (#2720)
  .github/workflows/backup-db.yml
  .github/workflows/postgres-ptr.yml
  .github/workflows/postgres-restore.yml
  .github/workflows/restore-deleted-postgres.yml
Due: none

Allow capita export new to handle errors better
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/CapitaExportNewJob.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
Due: dotnet-format

.
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Jobs/Extensions.cs
Due: dotnet-format

Adds Kubernetes info to README (#2710)
  README.md
Due: none

Remove DQT sync from reporting service
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Extensions.cs
Due: dotnet-format

Remove DQT sync from reporting service (#2726)
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingOptions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/DqtReportingService.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Core/Services/DqtReporting/Extensions.cs
Due: dotnet-format

Back out TransactionScope in Api.IntegrationTests
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/ClearDbBeforeTestAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/DisableParallelization.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V1/Operations/GetTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V2/Operations/GetIttProvidersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240101/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240920/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240920/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250203/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250203/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250425/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/SupportTaskServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format

Back out TransactionScope in Api.IntegrationTests (#2725)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Program.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/ClearDbBeforeTestAttribute.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/DisableParallelization.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/HostFixture.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TestBase.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/TestScopedServices.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V1/Operations/GetTeacherTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V2/Operations/GetIttProvidersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240101/FindTeachersTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/CreateDateOfBirthChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/CreateNameChangeTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240606/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240920/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20240920/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250203/FindPersonByLastNameAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250203/FindPersonsByTrnAndDateOfBirthTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/V3/V20250425/CreateTrnRequestTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Core.Tests/Services/SupportTasks/SupportTaskServiceTests.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format

Remove CRM API exception filter
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Filters/CrmServiceProtectionFaultExceptionFilter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/Filters/CrmServiceProtectionFaultExceptionFilterTests.cs
Due: dotnet-format

Remove CRM API exception filter (#2727)
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Extensions.cs
  TeachingRecordSystem/src/TeachingRecordSystem.Api/Infrastructure/Filters/CrmServiceProtectionFaultExceptionFilter.cs
  TeachingRecordSystem/tests/TeachingRecordSystem.Api.IntegrationTests/Filters/CrmServiceProtectionFaultExceptionFilterTests.cs
Due: dotnet-format

Make teacher pensions page tests deterministic
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/IndexTests.cs
Due: dotnet-format

Make teacher pensions page tests deterministic (#2728)
  TeachingRecordSystem/tests/TeachingRecordSystem.SupportUi.Tests/PageTests/SupportTasks/TeacherPensions/IndexTests.cs
Due: dotnet-format

Don't clear DB when initializing schema
  TeachingRecordSystem/tests/TeachingRecordSystem.TestCommon/DbHelper.cs
Due: dotnet-format
